.offers-list .card:first-child{
    margin-top: 0;
}

.offers-list-mt {
    margin-top: 16px;
}

.card {
    width: 100%;
    margin: 30px 0;
    background: #fff;
}

.card-info-tag{
    background: #F7F7F7;
    border-radius: 5px 5px 0 0;
    padding: 10px 0;
    width:100%;
}

.card-stock-tag{
    display: inline-block;
    background: #E5E5E5;
    padding: 5px 15px;
    margin: 16px;
}

.card-header {
    border-bottom: 1px solid #E5E5E5;
    padding: 20px 16px;
}

.card-top-inner {
    margin-left: 16px;
}

.card-title {
    font-weight: 600;
}

.card-row-wrap {
    padding: 16px;
}

.block-row {
    justify-content: space-between;
    margin-top: 16px;
}

.card-cont {
    color: #636363;
}

.card-head-intro {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.card-top-btn-wrap {
    justify-content: center;
    margin: 15px 0;
}

.card-top-btn-wrap .btn {
    width:100%;
}

.card .card-body .card-body-inner {
    justify-content: space-between;
    padding: 16px;
}

.card-toggle-button {
    width:32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border: 1px solid #E5E5E5;
}

.list-card-block {
    padding:15px;
}

.list-card_el svg {
    margin-top: 5px;
}

.list-card_el span {
    margin-left: 15px;
}

.card-btn-wrap {
    padding: 0 15px;
}

.card-btn-wrap .btn {
    margin-top: 10px;
    width: 100%;
}

.card-row-inner {
    padding: 15px;
}

.card-row-inner .row-card-el {
    border: 1px solid #E5E5E5;
    justify-content: center;
    width: 50%;
    padding: 10px 0;
}

.card-row-inner .row-card-el:first-of-type{
    margin-right: 16px;
}

.card-row-inner .row-card-el .percent {
    font-size: 1.62rem;
    font-weight: 600;
}

.p-experience, .v-review {
    border: 1px solid #E5E5E5;
    margin: 15px;
    align-items: center;
    height: 56px;
    padding: 0 13px;
    justify-content: space-between;
}


.p-experience-part, .v-review-part {
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}
.card-hidden-block .tab-wrap {
    margin-top: 20px;
    align-items: center;
    padding: 15px 0;
    width: 100%;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    font-size: .87rem;
}

.card-hidden-block .tab-links {
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 0;
    transition: 0.3s;
    font-weight: 600;
    white-space: nowrap;
    color: #888;

}

.card-radio:checked + label .tab-links {
    color: #355FF1;
}

.card-hidden-block .tab-content {
    display: none;
}

.card-radio:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.card-radio:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.card-radio:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.card-radio:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
.card-radio:nth-of-type(5):checked ~ .tab-content:nth-of-type(5),
.card-radio:nth-of-type(6):checked ~ .tab-content:nth-of-type(6),
.card-radio:nth-of-type(7):checked ~ .tab-content:nth-of-type(7),
.card-radio:nth-of-type(8):checked ~ .tab-content:nth-of-type(8){
    display: block;
    border-top: 1px solid #E5E5E5;
    margin: 15px 0;
    padding: 0 15px;
    width: 100%;
}

.card-hidden-block .tab-content ul {
    list-style-type: none;
}
.card-hidden-block .tab-content ul li {
    margin-top: 15px;
    cursor: pointer;
}

.card-hidden-block .tab-content ul li svg {
    float: right;
}

.card-hidden-block .tab-content p {
    margin-top: 15px;
}

.card-upd {
    color: #888;
    display: none;
    margin-left: 16px;
}

.card-hidden-block {
    display: none;
}

.card-less {
    display: none;
}

.pay-icons-wrap span {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.top-inner-btn .btn-cnv{
    width: 100%;
}


.card-hidden-block .tab-content .l-el {
    display: flex;
    align-items: center;
}

.card-hidden-block .l-el .card-rating {
    width: 85%;
    height: 4px;
    background: #E5E5E5;
    border-radius: 28px;
    margin-top: 6px;
}

.card-hidden-block .l-el .card-rating .w-1 {
    width: 10%;
}
.card-hidden-block .l-el .card-rating .w-2 {
    width: 20%;
}

.card-hidden-block .l-el .card-rating .w-3 {
    width: 30%;
}
.card-hidden-block .l-el .card-rating .w-4 {
    width: 40%;
}
.card-hidden-block .l-el .card-rating .w-5 {
    width: 50%;
}
.card-hidden-block .l-el .card-rating .w-6 {
    width: 60%;
}

.card-hidden-block .l-el .card-rating .w-7 {
    width: 70%;
}

.card-hidden-block .l-el .card-rating .w-8 {
    width: 80%;
}
.card-hidden-block .l-el .card-rating .w-9 {
    width: 90%;
}
.card-hidden-block .l-el .card-rating .w-10 {
    width: 100%;
}

.card-hidden-block .l-el .card-rating .percent {
    height: 4px;
    background: #888;
    border-radius: 28px;
}
.card-hidden-block .l-el .rating-val {
    margin-left: 10px;
    color: #888;
}

.card-more {
    display: inline-flex;
}
.card-body input {display: none;}

.card-check:checked ~ .card-hidden-block{
    display: block;
}

.card-check:checked ~ label.card-show-block .card-more{
    transform: rotate(180deg);
}

.card-check:checked ~ .card-upd{
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    width: 100%;
    padding: 16px;
    justify-content: space-between;
}
