.offers-list .card:first-child{
    margin-top: 0;
}

.card {
    width: 100%;
    margin: 30px 0;
    background: #fff;
}
.card-info-tag{
    background: #CEE1FF;
    text-align: center;
    padding: 10px 0;
    border-radius: 15px 15px 0 0;
    width:100%;
    font-size: .87rem;
    color: #5F82FC;
}
.card-stock-tag{
    background: #F3F8FF;
    padding: 3px 15px;
    margin-right: 30px;
    font-size: .87rem;
}

.card-icons{
    align-items: center;
}

.card .card-header {
    padding: 20px 60px 20px 60px;
}

.card .card-header .card-first-line {
    margin-top: 10px;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
}

.card .card-header .card-first-line a, .card .card-header .card-first-line span.no-link {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-top: 10px;
}

.card .card-header .card-first-line .card-icons svg:not(:last-of-type){
    margin-right: 25px;
}

.card .card-header .card-top-inner {
    margin-top: 15px;
}

.card .card-header .card-top-inner .logo {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-right: 65px;
}
.card .card-header .card-top-inner .logo img{
    max-width: fit-content;
}

.card .card-header .card-top-inner .card-row-wrap {
    justify-content: space-between;
    width: 100%;
}
.card .card-header .card-top-inner .block-row .top-inner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-header .card-top-inner .block-row .top-inner-btn .btn {
    margin-top: 0;
}

.card .card-header .card-top-inner .block-row .card-head-intro {
    font-weight: 600;
}

.card .card-header .card-top-inner .block-row .card-cont {
    color: #95A5B0;
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-top: 15px;
}

.card .card-header .reviews span {
    font-size: 1rem;
    margin-left: 5px;
}

.card .card-body {
    margin-top: -20px;
    padding-bottom: 5px;
}

.card .card-body .card-bottom-line {
    display: flex;
    justify-content:space-between;
    padding-right: 95px;
}

.card .card-body .card-body-inner .card-upd {
    color: #95A5B0;
    font-size:  0.87rem;
    line-height: 1.1rem;
    padding: 10px 60px;
    float: right;
    margin-right: 30px;
}

.card .card-body .card-body-inner .card-more ,.card .card-body .card-body-inner .card-less {
    color: #355FF1;
    cursor: pointer;
    margin: 10px 0 15px 65px;
    align-items: center;
    font-weight: 600;
}

.card .card-body .card-body-inner .card-more svg,.card .card-body .card-body-inner .card-less svg {
    margin-left: 5px;
}

.card .card-body .card-body-inner .card-less {
    display: none;
}

.card .card-body .card-body-inner .hidden-card-info {
    display:none;
}

.card .card-body .card-body-inner .hidden-card-info .text-hidden-card {
    line-height: 1.75rem;
    font-size: 1.1rem;
    margin: 30px 0;
    padding: 0 60px 0 60px;
}

.card .card-body .hidden-card-info .card-dark-bg {
    margin-top: 30px;
    background: #E1EDFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 34px;
}

.card-dark-bg-el{
    justify-content: space-between;
}
.row-review-btn {
    width: 204px;
    height: 44px;
    border-radius: 23px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    margin-right: 28px;
}

.row-review-btn svg {
    margin-right: 15px;
}

.p-experience img {
    position: absolute;
    right: calc(100% - 90px);
}

.card .card-body .hidden-card-info .card-row-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-body .hidden-card-info .card-row-inner .row-card-el {
    text-align: center;
    margin: 30px 15px;
}

.card .card-body .hidden-card-info .card-dark-bg .row-card-el {
    align-items: center;
}

.card .card-body .hidden-card-info .card-dark-bg .row-card-el:last-of-type {
    margin-left: 67px;
}
.card .card-body .hidden-card-info .card-dark-bg .row-card-el .percent{
    margin-right: 10px;
}

.card .card-body .hidden-card-info .card-dark-bg .row-card-el .percent,
.card .card-body .hidden-card-info .card-row-inner .row-card-el .percent {
    font-size: 2.25rem;
    font-weight: 600;
}

.hidden-card-info .tab {
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    /*justify-content: center;*/
    align-items: center;
    padding: 15px 60px 15px 60px;
    width: 100%;
}

.hidden-card-info .tab .tab-links {
    text-align: center;
    cursor: pointer;
    margin: 0 25px;
    padding: 5px 10px;
    transition: 0.3s;
    font-weight: 600;
    color: #95A5B0;

}

.hidden-card-info .tab .tab-links.on {
    color: #355FF1;
}

.hidden-card-info .tabs-items .tab-content.on{
    border-top: 1px solid #E8EEF6;
    border-bottom: 1px solid #E8EEF6;
    display:block;
}

.hidden-card-info .tabs-items .tab-content {
    display: none;
}

.hidden-card-info .tabs-items .tab-content ul {
    list-style-type: none;
}
.hidden-card-info .tabs-items .tab-content ul li {
    margin-top: 15px;
    padding-right: 40px;
    cursor: pointer;
}

.hidden-card-info .tabs-items .tab-content ul li svg {
    float: right;
}

.hidden-card-info .tabs-items .tab-content .table-vertical-block {
    margin: 10px 0;
}

.hidden-card-info .tabs-items .tab-content .table-vertical-block .tr .td:first-of-type {
    width: 35%;
    color: #95A5B0;
}

.hidden-card-info .tabs-items .tab-content .table-vertical-block .tr .td:last-of-type {
    width: 65%;
}

.hidden-card-info .tabs-items .tab-content .table-vertical-block .tr .td {
    padding-left: 65px;
}

.hidden-card-info .tabs-items .tab-content .table-vertical-block .tr .l-el {
    display: flex;
}

.hidden-card-info .tabs-items .tab-content .table-vertical-block .tr .l-el .card-rating {
    width: 85%;
    height: 10px;
    background: #E8EEF6;
    border-radius: 28px;
    margin-top: 6px;
}

.hidden-card-info .table-vertical-block .tr .l-el .card-rating .w-1 {
    width: 10%;
}
.hidden-card-info .table-vertical-block .tr .l-el .card-rating .w-2 {
    width: 20%;
}

.hidden-card-info .table-vertical-block .tr .l-el .card-rating .w-3 {
    width: 30%;
}
.hidden-card-info .table-vertical-block .tr .l-el .card-rating .w-4 {
    width: 40%;
}
.hidden-card-info .table-vertical-block .tr .l-el .card-rating .w-5 {
    width: 50%;
}
.hidden-card-info .table-vertical-block .tr .l-el .card-rating .w-6 {
    width: 60%;
}

.hidden-card-info .table-vertical-block .tr .l-el .card-rating .w-7 {
    width: 70%;
}

.hidden-card-info .table-vertical-block .tr .l-el .card-rating .w-8 {
    width: 80%;
}
.hidden-card-info .table-vertical-block .tr .l-el .card-rating .w-9 {
    width: 90%;
}
.hidden-card-info .table-vertical-block .tr .l-el .card-rating .w-10 {
    width: 100%;
}

.hidden-card-info .table-vertical-block .tr .l-el .card-rating .percent {
    height: 10px;
    background: #ADBAC4;
    border-radius: 28px;
}
.hidden-card-info .table-vertical-block .tr .l-el .rating-val {
    margin-left: 10px;
}

.card .hidden-card-info .card-slider-block {
    margin: 1px auto;
    padding: 50px 0;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.card .hidden-card-info .card-slider-block .card-slider-info {
    cursor: pointer;
    display: block;
    text-align: center;
    border: 1px solid #E8EEF6;
    margin: 0 8px;
}

.card .hidden-card-info .card-slider-block .card-slider-info .card-tooltip{
    position: relative;
}


.card .hidden-card-info .card-slider-bloc .card-slider-info .text-cont {
    font-size: 1rem;
}

.hidden-card-info .list-card-block {
    display: flex;
    flex-wrap: wrap;
    padding: 0 65px;
}

.hidden-card-info .list-card-block .list-card_el {
    display: flex;
    width: 30%;
    margin: 35px 30px 0 0;
}

.hidden-card-info .list-card-block .list-card_el svg {
    margin-top: 5px;
}

.hidden-card-info .list-card-block .list-card_el span {
    margin-left: 10px;
}

.hidden-card-info .card-btn-wrap {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 50px 0;
}

.hidden-card-info .card-btn-wrap .card-left-btn .btn-circle {
    margin-right: 20px;
}

.hidden-card-info .card-btn-wrap .card-right-btn {
    display: flex;
}

.hidden-card-info .card-btn-wrap .btn:last-of-type {
    margin-left: 65px;
}

.pay-icons-wrap span {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    margin-right: 5px;
}
.card-slider-block .jsSlideItem img {
    margin: 0 auto;
}
.addToCompare, .addToFavorites {
    cursor: pointer;
}
.addToCompare path{
    stroke:#E8EEF6;
    cursor: pointer;
}
.addedToCompare .addToCompare path, .addedToFavorites .addToFavorites path{
    stroke:#355FF1;
}

.card-slider-block .jsSlideItem {
    width: 22% !important;
    min-width: 22% !important;
}