.expert-block .h5 {
    text-align: center;
    margin-bottom: 30px;
}
.expert-block {
    margin: 30px 0;
    padding: 40px 30px;
}

.expert-info {
    text-align: center;
    margin-bottom: 20px;
}

.expert-img {
    display: flex;
    justify-content: center;
}

.expert-img amp-img{
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 20px;
}

.expert-name {
    display: block;
}
.expert-name a {
    font-weight: 600;
}

.button_show,
.button_hide {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.data-more-less-inner {
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    max-height: 100px;
}

.less-active .action-more {display: none;}

.data-more-less:not(.less-active):not(.action-disabled) .data-more-less-inner:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    height: 50px;}

.data-more-less.action-disabled .more-less-action {display: none;}

.action-less {display: none;}

.less-active .action-less {
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-more-info:checked + .data-more-less .data-more-less-inner {
    max-height: 2000px;
    transition: max-height 0.3s ease-in;
}
.load-more-info {
    display: none;
}
.load-more-info:checked + .data-more-less:not(.less-active):not(.action-disabled) .data-more-less-inner:after {
    display: none;
}
.load-more-info:checked + .data-more-less .button_show{
    display: none;
}
.load-more-info:checked + .data-more-less .button_hide{
    display: flex;
}