.expert-block .h5 {
    text-align: center;
    margin-bottom: 30px;
}
.expert-block {
    margin: 30px 0;
    padding: 40px 30px;
}

.expert-info {
    text-align: center;
    margin-bottom: 20px;
}

.expert-img {
    display: flex;
    justify-content: center;
}

.expert-img amp-img{
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 20px;
}

.expert-name {
    display: block;
}
.expert-name a {
    font-weight: 600;
}

