.expert-block .text-title {
    text-align: center;
    margin-bottom: 30px;
}
.expert-block {
    padding: 40px 30px;
    margin: 30px 0;
}

.expert-info {
    text-align: center;
    margin-bottom: 30px;
}

.expert-img {
    display: flex;
    justify-content: center;
}

.expert-img img{
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 20px;
}


.expert-name {
    display: block;
}
.expert-name a {
    font-weight: 600;
}

.hidden-info {
    overflow: hidden;
    height: 160px;
}

.expert-block .button_show,
.expert-block .button_hide {
    margin-top: 30px;
    cursor: pointer;
    color: #355FF1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .87rem;
}

.expert-block .button_show svg,
.expert-block .button_hide svg{
   margin-left: 5px;
}

.data-more-less-inner {
    margin-bottom: 20px;
    position: relative;
}

