.expert-block .text-title {
    margin:  0 0 16px 0;
    padding: 20px 16px;
}
.expert-block {
    margin: 30px 0;
    border: 1px solid #E8EEF6;
    background: #F7F7F7;
}

.expert-info {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    padding: 0 16px;
    font-size: 0.9375rem;
}

.expert-img img{
    border-radius: 50%;
    max-width: 56px;
    max-height: 56px;
}

.expert-cont-bl {
    margin-left: 16px;
    font-size: .9375rem;
    line-height: 18px;
}
.expert-work-place {
    color: #636363;
}

.expert-cont-bl a {
    font-weight: 600;
    word-spacing: 15rem;
}

.hidden-info {
    overflow: hidden;
    height: 160px;
}
.data-more-less-body {
    padding: 0 16px;
}
.expert-block .button_show,
.expert-block .button_hide {
    margin-top: 30px;
    cursor: pointer;
    color: #355FF1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
    border-top: 1px solid #E5E5E5;
    font-size: 0.9375rem;
}

.expert-block .button_show svg,
.expert-block .button_hide svg{
    margin-left: 5px;
}

.data-more-less-inner {
    margin-bottom: 10px;
    position: relative;
}