.expert-opinion-block {
    padding: 40px 45px;
    margin: 30px 0;
}

.expert-opinion-block .text-title {
    margin-bottom: 30px;
}

.expert-info {
    flex-wrap: wrap;
}
.expert-opinion-block-header {
    justify-content: space-between;
}
.expert-opinion-block img {
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
    margin-left: 15px;
}
.expert-name {
    text-align: right;
}
.expert-name a {
    font-weight: 600;
    font-size: 1rem;
}

.expert-work-place{
    font-size: .87rem;
    color: #95A5B0;
}
.expert-opinion-block .button_show,
.expert-opinion-block .button_hide {
    margin-top: 30px;
    cursor: pointer;
    color: #355FF1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .87rem;
}

.hidden-info {
    overflow: hidden;
    height: 170px;
}

.data-more-less-inner {
    margin-bottom: 20px;
    position: relative;
}
.expert-opinion-block .data-more-less-svg{
    margin-left: 5px;
}





