.expert-opinion-block {
    padding: 40px 45px;
    margin: 30px 0;
}

.expert-opinion-block .text-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.expert-info {
    display: flex;
    flex-wrap: wrap;
}

.expert-img {
    width: 118px;
    height: 118px;
    border-radius: 18px;
}
.expert-name {
    display: block;
    margin-top: 2em;
}
.expert-name a {
    font-weight: 600;
}

.button_show,
.button_hide{
    margin-top: 30px;
    float: right;
    cursor: pointer;
}

.data-more-less-inner {
    margin-bottom: 20px;
    position: relative;
}

.less-active .action-more {display: none;}

.data-more-less-body.active:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    height: 60px;}

.data-more-less.action-disabled .more-less-action {display: none;}

.action-less {display: none;}

.less-active .action-less {display: inline-block;}



