.expert-opinion-block {
    padding: 30px 0 18px;
    margin: 30px 0;
    background: #F7F7F7;
    border: 1px solid #E5E5E5;
}

.expert-opinion-block .h4 {
    margin: 0;

}

.expert-info {
    align-items: center;
    margin-top: 27px;
}

.expert-opinion-block img {
    max-width: 36px;
    max-height: 36px;
    border-radius: 50%;
    /*margin-left: 15px;*/
}

.expert-name {
    margin-left: 20px;
}

.expert-name a {
    font-weight: 600;
    font-size: 1rem;
}

.expert-work-place{
    color: #888;
}
.expert-opinion-block .button_show,
.expert-opinion-block .button_hide {
    margin-top: 30px;
    cursor: pointer;
    color: #355FF1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-info {
    overflow: hidden;
    height: 170px;
}

.data-more-less-body, .expert-opinion-block .h4, .expert-info {
    padding: 0 34px;
}

.data-more-less-inner {
    margin-top: 14px;
    position: relative;
}

.expert-opinion-block .data-more-less-svg{
    margin-left: 5px;
}

.button_show, .button_hide{
    padding-top: 18px;
    border-top: 1px solid #E5E5E5;
}





