.claim-select {
    position: relative;
}

.claim-select .modal-selected-item {
    border-radius: 5px;
    margin: 10px 0;
    padding: 7px 16px;
    outline: none;
    border: 1px solid #DCE4EC;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "";
}


.hidden-claim-el {
    display: none;
}

.claim-select select {
    display: none;
}

.claim-select .modal-selected-item:after {
    position: relative;
    content: url("/v4/images/select-arow-mob.svg");
    float: right;
    margin-right: 10px;
}

.claim-select .modal-selected-item.select-arrow-active {
    background: #fff;
    border-radius: 5px 5px 0 0;
    color: #000;
}

.claim-select .modal-selected-item.select-arrow-active:after {
    display: none;
}

.claim-select .select-items div {
    background: #fff;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 20px;
}

.claim-select .select-items:before {
    content: '';
    position: absolute;
    border-top: 1px solid #DCE4EC;
    width: 100%;
    top: 10px;
    left: 0;
}

.claim-select .select-items {
    position: absolute;
    background-color: #fff;
    margin: -20px auto 0;
    z-index: 99;
    border-radius: 0 0 5px 5px;
    border: 1px solid #DCE4EC;
    border-top: none;
    width: 100%;
}

.claim-select .select-hide {
    display: none;
}

.claim-select .select-items div:hover,
.same-as-selected {
    background: #F6F8FB;
    color: #355FF1;
}

.email-confirm {
    display: none;
    margin: 10px 0;
    color: #EF3124;
}


