.our-communities .community-description {
    margin: 10px 0 30px;
    font-size: .87rem;
    color: #7B878E;
}

.our-communities .soc-community-links {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    width: 80%;
}

.our-communities .soc-community-links a {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 15px 0;
}
