
.our-communities {
    padding: 30px 65px 50px;
    margin:30px 0 50px;
}

.our-communities .community-description {
    margin: 30px 0;
}

.our-communities .soc-community-links a {
    margin: 10px 15px;
}