.services {
    margin-top: 80px;
}
.services-block {
    justify-content: space-between;
}

.services-intro {
    font-size: 1.125rem;
}

.services-block img{
    border-radius: 10px 10px 0 0;
    height: 172px;
    width: 100%;
    object-fit: contain;
}

.services-item {
    width: 350px;
    min-height: 405px;
    background: #fff;
    margin-top: 30px;
    position: relative;
    display: inline-block;
}

.services-title {
    margin: 5px 0 15px;
}

.services-info-block {
    padding: 0 16px 20px 16px;
}

.services-btn {
    width:100%;
    position: absolute;
    bottom: 20px;
}

.services-btn .btn {
    width:calc( 100% - 32px);
    margin-right: 16px;
    font-weight: 400;
}


@media screen and (max-width: 1200px) {
    .services-block {
        flex-wrap: wrap;
    }

    .services-item  {
        width: calc(50% - 20px);
        margin-bottom: 30px;
    }

    .services-block img {
        object-fit: cover;
        width: 100%;
        height: 164px;
    }
}


@media screen and (max-width: 992px) {
    .services-item  {
        width: 100%;
    }
}