.rating-area {
    margin: 30px 0;
    display: block;
}

.rating-company-name {
    margin-bottom: 40px;
}

.rating-area span {
    color: #222735;
    font-weight: 600;
}

.rating-area a.rating-title {
    display: block;
}

