.form-1 {
    width: 790px;
    margin: 15px 0;
    padding: 30px;
    background: #F6F8FB;
}

.form-1-active {
    background: #fff;
    border: 1px solid #000000;
}

.form-1 input, .form-1 textarea {
    background: #F6F8FB;
    color: #95A5B0;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px 0;
    outline: none;
    border: none;
    display: block;
    width: calc(100% - 30px);
}

.form-1-active input, .form-1-active textarea {
    background: #fff;
}

.form-1 input {
    border-bottom: 1px solid #E6EBEF;
}

.r-btn-wrap a, .r-btn-wrap button {
    float: right;
}

.r-btn-wrap {
    margin-top: 10px;
    margin-right: 15px;
}
