.form-1 {
    width: 100%;
    margin: 15px auto;
    padding: 0 25px;
    background: #F6F8FB;
    box-sizing: border-box;
    font-size: 1rem;
}

.form-1-active {
    background: #fff;
    border: 1px solid #000000;
}

.form-1 input, .form-1 textarea {
    background: #F6F8FB;
    padding: 10px 0;
    outline: none;
    border: none;
    display: block;
    resize: none;
    width: 100%;
    color:#636363;
}

.form-1-active input, .form-1-active textarea {
    background: #fff;

}

.form-1 input::-webkit-input-placeholder,
.form-1 textarea::-webkit-input-placeholder{
    color:#636363;
}

.form-1 input::-moz-placeholder,
.form-1 textarea::-moz-placeholder {
    color:#636363;
}

.form-1 input{
    border-bottom: 1px solid #E6EBEF;
}

.r-btn-wrap {
    padding: 5px 0 10px 0;
    justify-content: flex-end;
    align-items: center;
}

.cancel-btn {
    color: #355FF1;
    margin-right: 25px;
    cursor: pointer;
}

.chat-form {
    display: none;
}
.review-form .form-1 textarea {
    height: 40px;
    border-bottom: none!important;
}