.news-main-block-left-side .news-cat-item {
    width: 235px;
    align-items: center;
    padding: 1em 1.5em;
    margin-bottom: 0.5em;
    height: 35px;
    color: #888888;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
}
.news-cat-rubrics {
    padding: 1em 1.5em;
    font-size: 0.875rem;
    font-weight: 600;
}
.news-item-bg {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width:35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
}

.news-main-block-filters {
    margin-bottom: 1em;
}
.news-cat-item svg,.news-cat-item svg path {
    /*flex-shrink: 0;*/
    width: 25px;
    height: 25px;
    stroke: #B7B7B7;
}
.news-cat-item.active,.news-cat-item:hover {
    color: #355FF1;
}

.news-cat-item.active svg path,.news-cat-item:hover svg, .news-cat-item:hover svg path{
    stroke: #355ff1;
}


.news-main-block-left-side {
    position: fixed;
    z-index: 1;
    margin: 130px 0 0 -100px;
    transition: top 0.5s;
    height:calc(100vh - 130px);
    padding-bottom: 1em;
    background-color: inherit;
    width: 280px;
}
/*.news-main-block-left-side:hover {*/
/*    overflow-y: auto;*/
/*}*/
.news-main-block-right-side {
    width: 655px;
    margin: 135px auto;
}
.news-main-block-content {
    justify-content: space-between;
}
.news-main-block-title {
    padding: 1.5em 2em;
    background-color: #FFFFFF;
}
.news-main-block-title p, .news-main-block-title .text-block {
    font-size: 1.125rem;
}
.news-main-block-title .h1 {
    margin-top: 0;
}
.count-of-news-post {
    color: #95A5B0;
    font-size: 0.9rem;
    width: fit-content;
    text-align: center;
    margin: 1em auto;
    border-bottom: 3px solid #E6EBEF;
    padding-bottom: 0.5em;
    position: relative;
}
.count-of-news-post:after {
    content: '';
    width: 30%;
    height: 3px;
    bottom: -3px;
    left: 0;
    position: absolute;
    background-color: #000000;
}
/*.news-item-bg .post-menu-icon {*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    background-size: cover!important;*/
/*}*/
.news-main-block-left-side::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
    height: 21px;
}
.news-main-block-left-side::-webkit-scrollbar-thumb {
    background: rgba(135, 145, 159, 0.4);
    border-radius: 3px;
}
.container .moveLeftSideToTheTop {
    height: calc(100% - 1em);
    top: 1em;
    transition: top 0.5s;
}
.scroll-page-up .breadcrumbs {
    position: fixed;
    top: 60px;
    background-color: #fff;
    z-index: 2;
    width: 100%;
}
.scroll-page-up #headerMenu {
    box-shadow: none;
}
.sidebar-more-cats,.sidebar-hide-cats {
    background-image: url(/v4/images/arrow-down.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 12px;
    height: 6px;
    margin: 0 23px 0 12px;
}
.sidebar-hide-cats {
    transform: rotate(180deg);
}