.news-main-block-left-side .news-cat-item {
    width: 235px;
    font-weight: 600;
    align-items: center;
    padding: 1em 1.5em;
    margin-bottom: 0.5em;
    height: 45px;
    color: #000000;
}
.news-item-bg {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    cursor: pointer;
}

.news-main-block-filters {
    margin-bottom: 1em;
}
.news-cat-item svg {
    margin-right: 1em;
    width: 35px;
}


.news-main-block-left-side {
    position: fixed;
    left: 15px;
    z-index: 1;
    top: 150px;
    transition: top 0.5s;
    height: calc(95% - 120px);
}
.news-main-block-left-side:hover {
    overflow-y: auto;
}
.news-main-block-right-side {
    width: 655px;
    margin: auto;
}
.news-main-block-content {
    justify-content: space-between;
}
.news-main-block-title {
    padding: 1.5em 2em;
    background-color: #FFFFFF;
}
.news-main-block-title .h1 {
    margin-top: 0;
}
.count-of-news-post {
    color: #95A5B0;
    font-size: 0.9rem;
    width: fit-content;
    text-align: center;
    margin: 1em auto;
    border-bottom: 3px solid #E6EBEF;
    padding-bottom: 0.5em;
    position: relative;
}
.count-of-news-post:after {
    content: '';
    width: 30%;
    height: 3px;
    bottom: -3px;
    left: 0;
    position: absolute;
    background-color: #000000;
}
.post-menu-icon {
    width: 36px;
    height: 36px;
    background: #ccc;
    margin-right: 10px;
}
.news-main-block-left-side::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
    height: 21px;
}
.news-main-block-left-side::-webkit-scrollbar-thumb {
    background: rgba(135, 145, 159, 0.4);
    border-radius: 3px;
}
.container .moveLeftSideToTheTop {
    height: calc(100% - 1em);
    top: 1em;
    transition: top 0.5s;
}