.rating-val {
    display: inline-flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 600;
    margin-right: 1em;
}
.review-username {
    display: block;
    font-weight: 600;
    font-size: 0.9375rem;
}
.review {
    margin: 15px 0 15px -15px;
    padding: 15px;
    width: calc(100% + 30px);
    background: #fff;
}
.review-status {
    padding: 3px 14px;
    background: #F3F8FF;
    border-radius: 5px;
    height: 24px;
}
.review-user-tag {
    height: 24px;
    justify-content: center;
    align-items: center;
    padding: 3px 14px;
    background: #F3F8FF;
    color:#95A5B0;
    font-size: .87rem;
}
.review-header {
    justify-content: space-between;
}
.review-user-tag.resolved {
    background-position: 5px 8px;
    padding-left: 20px;
    background-image: url("/v4/images/resolved.svg");
    background-repeat: no-repeat;
}
.plus .positive-part, .minus .negative-part,.comment-body {
    font-weight: 600;
}
.review-part {
    margin-top: 15px;
}
.comments-count {
    color: #95A5B0;
    margin-top: 8px;
}
.mark-review-5 {
    background: #2CDD88;
}

.mark-review-4 {
    background: #BEEC3C;
}

.mark-review-3 {
    background: #FFDC23;
}

.mark-review-2 {
    background: #FF9D43;
}

.mark-review-1 {
    background: #FF4E59;
}
.hideReview {
    display: none;
}
.reviews .loadMore, .reviews .loadLess {
    margin: 0 auto;
}

.star-span {
    display: inline-block;
    width: 91px;
    height: 14px;
}

.account-review .user-rating {
    margin-left: auto;
}

.review-count-comments {
    display: flex;
    align-items: center;
}

.review-count-comments svg {
    margin-right: 4px;
}