.block-reviews {
    margin: 60px 0;
}

.review-wrap {
    background: #fff;
    padding: 30px;
}

.mark-review-5 {
    background: #2CDD88;
}

.mark-review-4 {
    background: #BEEC3C;
}

.mark-review-3 {
    background: #FFDC23;
}

.mark-review-2 {
    background: #FF9D43;
}

.mark-review-1 {
    background: #FF4E59;
}

.review-inner-block .user-marks{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
}

.review-user-block {
    width: 90%;
    margin: 5px 0 0 30px;
}

.review-status-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.block-reviews .review-wrap .user-rating{
    margin-top: 5px;
}
.block-reviews .review-wrap .review-part {
    margin-top: 25px;
}

.block-reviews .review-wrap .review-title {
    font-weight: 600;

}

.block-reviews .review-wrap .review-user-name {
    font-weight: 600;
    font-size: 1.2rem;
}

.block-reviews .review-wrap .plus .positive-part {
    color: #2CDD88;
}

.block-reviews .review-wrap .minus .negative-part {
    color: #FF4E59;
}

.block-reviews .review-wrap .review-part-body {
    margin-top: 5px;
}

.block-reviews .review-wrap .review-btn-wrap {
    align-items: center;
    margin: 10px 0;
}
.block-reviews .review-wrap .review-btn-wrap .review-count-comments {
    margin-right: 5px;
    color: #95A5B0;
}
.block-reviews .review-wrap .review-btn-wrap .btn-answer {
    cursor: pointer;
}

.review-count-comments {
    font-weight: 600;
    color: #355FF1;
    cursor:pointer;
    display: inline-flex;
    align-items: center;
}

.review-count-comments svg {
    margin-left: 10px;
}

.block-reviews .review-wrap .replace {
    margin: 0 65px;
    padding: 30px 0;
    border-top: 1px solid #E8EEF6;
    width: 100%;
}
.block-reviews .review-wrap .replace .replace-confirm {
    margin-left: 20px;
}
.block-reviews .review-wrap .replace .replace-confirm .replace-user-name {
    font-weight: 600;
}

.block-reviews .review-wrap .replace .replace-icon {
    margin-left: -20px;
}

.block-reviews .review-wrap .replace .replace-confirm .replace-el {
    margin-top:  5px;
}

.main-reviews-wrap-btn-block {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-status-icon {
    margin-top: -70px;
    background: #fff;
    cursor: pointer;
    position: relative;
}

.complainSuccessBlock {
    height: 110px;
    padding: 15px 30px;
    overflow: hidden;
    border-radius: 15px;
}

.complainSuccessBlock:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
}

.reply-bottom-info {
    margin-top: 10px;
}

.reply-bottom-info .reply-date {
    font-size: .87rem;
    color: #95A5B0;
}

.reply-bottom-info .thread-answer-btn {
    color: #355FF1;
    margin: 0 25px;
    cursor: pointer;
}

.account-review-top-block {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.account-review-top-block .review-status-icon {
    margin-top: 0;
}

.replace-block {
    width:100%;
}

.reply-bottom-info > .review-form .form-1 {
    width: 560px;
}

.account-review .block-reviews .review-wrap .replace {
    margin: 0 20px;
}

.account-review .block-reviews .review-wrap .review-part {
    margin-top: 15px;
}

.account-review .replace-logo img{
    width: 60px;
    height: 60px;
}

.star-span {
    display: inline-block;
    width: 91px;
    height: 14px;
}