.reviews .h2 {
    text-align: center;
}

.reviews .scale-rating-block {
    width: 920px;
    margin: 30px 0 30px -55px;
    padding: 35px 65px;
}

.reviews .scale-rating-block .scale {
    width: 165px;
    height: 6px;
    background:#EBEBEB;
    border-radius: 28px;
    display:flex;
    justify-content: space-between;
}

.reviews .scale-rating-block .scale .percent {
    height: 6px;
    border-radius: 28px;
    margin: 0;
}

.reviews .scale-rating-block .reviews-rating-title {
    font-weight: 600;
    margin: 25px 10px 0 0;
}

.reviews .scale-rating-block .reviews-rating-wrap {
    display: flex;
    flex-wrap: wrap;
}

.reviews .scale-rating-block .info {
    margin: 20px 95px 0 0;
}

.reviews .scale-rating-block .info .info-title {
    font-size: 1rem;
    margin: 5px 0;
}

.reviews .scale-rating-block .info .reviews-count {
    font-size: 1rem;
    color:#87919f;
    position: absolute;
    margin-top: -16px;
    margin-left: 180px;
}

.reviews .scale-rating-block .rating-btn-wrap {
    margin: 30px 0;
}

.reviews .scale-rating-block .rating-btn-wrap .btn {
    margin: 0 auto;
}

.reviews .sort {
    float: right;
    margin-right: -55px!important;
}

.reviews .sort .sort_el {
    margin-left: 50px;
}

.reviews .sort .sort_el .main-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reviews .sort .sort_el .main-sort svg {
    margin-left: 5px;
}


.reviews .sort .sort_el {
    margin-right: 50px;
    position: relative;
}

.reviews .sort .sort_el span {
    display: block;
    text-align: center;
    margin: 5px 0;
}

.reviews .sub-menu-sort-container {
    display: flex;
    position: absolute;
    left: -9999px;
    list-style: none;
    padding: 10px 0 0 0;
}

.reviews .sort .sort_el:hover .sub-menu-sort-container {
    left: -140px;
}

.reviews .sort .sort_el:hover svg {
    transform: rotate(180deg);
}

.reviews .sort .sort_el .sub-menu-sort-container .sub-nav_one-column {
    z-index: 1;
    background: #fff;
    min-width: 260px;
}

.reviews .sort .sort_el .sub-menu-sort-container .sub-nav_one-column .p-col:first-of-type {
    margin-top: 20px;
}

.reviews .sort .sort_el .sub-menu-sort-container .sub-nav_one-column .p-col:last-of-type {
    margin-bottom: 20px;
}

.reviews .sort .sort_el .sub-menu-sort-container .sub-nav_one-column span:hover,
.reviews .sort .sort_el .sub-menu-sort-container .sub-nav_one-column span.active {
    color: #2ED47A;
    cursor: pointer;
}

.reviews .sort .sort_el .sub-menu-sort-container .sub-nav_one-column hr {
    margin: 20px 0;
    height: 1px;
    border: none;
    background-color: #E6EBEF;
}

.reviews .block-reviews {
    display:flex;
    margin-top: 30px;
    margin-left: 100px;
}

.reviews .block-reviews .text-review .user-logo {
    margin-top: 50px;
    display: flex;
    font-size: 1.2rem;
}

.reviews .block-reviews .text-review .user-logo svg {
    position: absolute;
    margin-top: 10px;
    margin-left:-120px;
}

.reviews .block-reviews .text-review .user-logo span,
.reviews .block-reviews .text-review .user-rating,
.reviews .block-reviews .text-review .plus,
.reviews .block-reviews .text-review .minus,
.reviews .block-reviews .text-review .comment {
    margin-top: 25px;
}

.reviews .block-reviews .text-review .user-logo span,
.reviews .block-reviews .text-review .comment span:first-of-type,
.reviews .block-reviews .text-review .replace div span:first-of-type {
    font-weight: 700;
    margin-bottom: 0;
}

.reviews .block-reviews .text-review .plus span,
.reviews .block-reviews .text-review .minus span,
.reviews .block-reviews .text-review .comment span{
    display: block;
}

.reviews .block-reviews .text-review .plus span:first-of-type {
    color: #2ED47A;
    font-size: 1.2rem;
    font-weight: 600;
}

.reviews .block-reviews .text-review .minus span:first-of-type {
    color: #FF4D4A;
    font-weight: 600;
    font-size: 1.2rem;
}

.reviews .block-reviews .text-review .comment span:first-of-type {
    font-size: 1.2rem;
}


.reviews .block-reviews .text-review .minus span:last-of-type,
.reviews .block-reviews .text-review .plus span:last-of-type,
.reviews .block-reviews .text-review .comment span:last-of-type {
    margin-top: 5px;
}

.reviews .block-reviews .text-review .comment {
    margin-bottom: 100px;
}

.reviews .block-reviews .text-review .comment a {
    float: right;
}

.reviews .block-reviews .text-review .comment a:hover {
    background: #F6F8FB;
}

.reviews .block-reviews .text-review .comment .btn-2 {
    box-shadow: none;
}

.reviews .block-reviews .text-review .replace {
    display: flex;
    margin-left: 45px;
}

.reviews .block-reviews .text-review .replace div svg {
    margin-left: -30px;
    margin-top: 3px;
}

.reviews .block-reviews .text-review .replace div .replace_el {
    margin-top:  5px;
}

.reviews .review-f {
    margin: 55px 0 30px -55px;
    width: 920px;
}

.reviews .review-f .review-f-bl {
    display: flex;
}
.reviews .review-f .review-form input,
.reviews .review-f .review-form textarea {
    background: #F6F8FB;
    color: #95A5B0;
    border-radius: 10px;
    width: 450px;
    margin-top: 10px;
    padding: 15px 45px;
    font-size: 1rem;
    outline: none;
    border: none;
}

.reviews .review-f .review-form input {
    height: 50px;
}
.reviews .review-f .review-form textarea {
    height: 145px;
    resize: none;
}

.reviews .review-f .rating {
    text-align: center;
    margin: 25px 0;
}

.reviews .review-f .info {
    height: 325px;
    width: 345px;
    padding: 30px 45px;
    margin-left: 45px;
    border-radius: 15px;
}

.reviews hr:not(.sub-nav_one-column hr) {
    margin: 25px 0;
}

