.offer-filters {
    flex-wrap: wrap;
}

.offer-filter-wrap {
    width: 255px;
    margin: 14px 0;
    min-height: 46px;
}

.offer-filter-wrap:not(:nth-child(4n+4)){
    margin-right: 30px;
}

.offer-filters-item {
    position: relative;
    background: #fff;
    border: 1px solid #E5E5E5;
}

.offer-filters-title {
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
}


.offer-filters-hidden-block {
    display: none;
    overflow-y: auto;
    height: 150px;
    white-space: nowrap;
    padding: 10px 15px;
}
.offer-filters-hidden-block::-webkit-scrollbar{
    height: 0;
}

.offer-filters-hidden-block ul {
    list-style-type: none;
    padding: 0;
}

.offer-filters-hidden-block ul li {
    margin-top: 5px;
}
.offer-filters-hidden-block ul li a{
    color: #000;
}

.offer-filters-hidden-block ul li a:hover{
    color: #355FF1;
}

.filters-arrow-down,
.filters-arrow-up {
    cursor: pointer;
}

.filters-arrow-up {
    display: none;
}

.offer-filters-hidden-block::-webkit-scrollbar {
    width: 5px;
}

.offer-filters-hidden-block::-webkit-scrollbar-thumb {
    background: rgba(135, 145, 159, 0.4);
    border-radius: 3px;
}


.offer-filters-hidden-block.active-offer-filter {
    display: block;
    border-top: 1px solid #888;
}

.offer-filters-item.active-offer-filter {
    width: 255px;
    z-index: 1;
    position: absolute;
    border: 1px solid #888;
}

.filters-arrow-down.active-offer-filter {
    transform: rotate(180deg);
}

@media screen and (max-width: 1200px){
    .offer-filters {
        justify-content: space-between;

    }

    .offer-filter-wrap:nth-child(4n+4){
        margin-right: 30px;
    }
}


@media screen and (max-width: 992px) {

    .offer-filter-wrap {
        width: calc( 50% - 50px);
    }

    .offer-filters-item.active-offer-filter {
        width: calc( 50% - 15px);
    }

}

@media screen and (max-width: 768px) {
    .offer-filter-wrap {
        width: 100%;
    }

    .offer-filters-item.active-offer-filter {
        width: 100%;
    }
}

