.offer-filters {
    flex-wrap: wrap;
}

.offer-filter-wrap {
    width: 255px;
    margin: 25px 10px;
}

.offer-filters-item {
    position: relative;
    background: #fff;
    border: 1px solid #E8EEF6;
}

.offer-filters-title {
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
}


.offer-filters-hidden-block {
    display: none;
    overflow-y: auto;
    height: 150px;
    white-space: nowrap;
    padding: 10px 15px;
}
.offer-filters-hidden-block::-webkit-scrollbar{
    height: 0;
}

.offer-filters-hidden-block ul {
    list-style-type: none;
    padding: 0;
}

.offer-filters-hidden-block ul li {
    margin-top: 5px;
}
.offer-filters-hidden-block ul li a{
    color: #000;
}

.offer-filters-hidden-block ul li a:hover{
    color: #355FF1;
}

.filters-arrow-down,
.filters-arrow-up {
    cursor: pointer;
}

.filters-arrow-up {
    display: none;
}

.offer-filters-hidden-block::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

.offer-filters-hidden-block::-webkit-scrollbar-thumb {
    background: rgba(135, 145, 159, 0.4);
    border-radius: 3px;
}


.offer-filters-hidden-block.active-offer-filter {
    display: block;
    border-top: 1px solid #95A5B0;
}

.offer-filters-item.active-offer-filter {
    width: 255px;
    z-index: 1;
    position: absolute;
    border: 1px solid #95A5B0;
}

.filters-arrow-down.active-offer-filter {
    transform: rotate(180deg);
}
