.org-menu-block {
    margin: 30px 0 10px 0;
}
.org-menu-block .org-title {
    width: 100%;
    font-weight: 700;
    line-height: 2.8rem;
}
.org-menu-links {
    height: 52px;
    overflow: hidden;
    width: 100%;
}
.org-menu-links:hover {
    cursor: pointer;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.org-menu-links::-webkit-scrollbar {
    width: 50px;
    background-color: #fff;
    height: 5px;
}
.org-menu-links:hover::-webkit-scrollbar-thumb {
    background: rgba(135, 145, 159, 0.4);
    border-radius: 3px;
}
.org-menu-block .org-menu-links .org-links {
    cursor: pointer;
    padding: 14px 5px;
    color: #222735;
    font-weight: 600;
    min-width: fit-content;
}

.org-menu-block .org-menu-links .org-links.active {
    font-weight: 600;
    color: #355FF1;
}
.org-menu-logo {
    width: 48px;
    margin-right: 1em;
}
.org-menu-block hr {
    width: calc(100% + 30px);
    margin-left: -15px;
}