.org-menu-block {
    background: url("/v4/images/company-img.png");
    min-height: 262px;
    padding: 45px 0 0 75px;
    margin: 30px 0;
}

.org-header {
    display: flex;
}

.org-header .org-title {
    width: 70%;
}

.org-menu-links {
    position: relative;
    margin-top: -65px;
    margin-left: 70px;

}

.org-menu-links .org-links {
    border-radius: 25px 25px 0 0;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #222735 !important;
}

.org-menu-links .org-links.active {
    background: #FFFFFF;
    font-weight: 600;
}

.banks-products-block {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}


.banks-products-block .bank-link-el {
    cursor: pointer;
    text-align: center;
    margin: 0 25px;
}

.banks-products-block .bank-link-el:first-child{
    margin-left: 0;
}

.banks-products-block .bank-link-el:last-child{
    margin-right: 0;
}


.banks-products-block .bank-link-el .bank-icon-bg {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banks-products-block .bank-link-el .bank-icon-text {
    color: #222735;
    margin-top: 10px;
    display: inline-block;
}

.banks-products-block .bank-link-el:hover .bank-icon-text {
    color:#2CDD88;
}

.banks-products-block .bank-link-el .bank-icon-bg svg:not(.fill) {
    stroke:black;
}

.banks-products-block .bank-link-el .bank-icon-bg svg.fill {
    fill: black;
}

.bank-link-el:hover .bank-icon-bg svg:not(.fill) {
    stroke:#2CDD88;
}

.bank-link-el:hover .bank-icon-bg svg.fill {
    fill: #2CDD88;
}
