.org-menu-block {
    background:#fff;
    min-height: 260px;
    padding: 45px 0;
}

.org-header {
    justify-content: space-between;
}

.org-header .org-title {
    margin: 0;
    width: 70%;
}

.org-header .org-logo img{
    width: 82px;
    height: 82px;
    border-radius: 50%;
}

.org-menu-links {
    position: relative;
    padding: 21px 0 24px;
    border-top: 1px solid #DCE4EC;
    border-bottom: 1px solid #DCE4EC;
}

.org-menu-links .org-links {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
    margin-right: 40px;
    color: #000;
}

.org-menu-links .org-links.active {
    color: #355FF1;
}

.org-products-block {
    margin: 15px 0 45px;
}


.org-products-block .org-link-el {
    cursor: pointer;
    text-align: center;
    margin: 0 25px;
}

.org-products-block .org-link-el:first-child {
    margin-left: 0;
}

.org-products-block .org-link-el:last-child {
    margin-right: 0;
}

.org-products-block .org-link-el .org-icon-bg {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.org-products-block .org-link-el .org-icon-text {
    color: #222735;
    margin-top: 10px;
    display: inline-block;
    width: 80px;
}

.org-link-el.active{
    cursor: default;
}

.org-products-block .org-link-el:hover .org-icon-text, .org-products-block .org-link-el.active .org-icon-text {
    color:#355FF1;
}

.org-link-el:hover svg path, .org-link-el.active svg path{
    stroke: #355FF1;
}

.centerOrgMenu {
    justify-content: space-between;
}

.leftOrgMenu {
    justify-content: start;
}