.k5m-consultant-block {
    background: #F7F7F7;
    border: 1px solid #E5E5E5;
    padding: 25px 15px;
}

.k5m-consultant-image img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

.k5m-consultant-el {

}