.overpayment-block{
    margin: 30px 0;
}

.overpayment-block .tr {
    display: flex;
    justify-content: space-between;
}

.overpayment-block .tr .td {
    padding: 1.2em;
    width: 50%;
    text-align: center;
}

.overpayment-block .tr .th{
    background: #FAFAFA;
    font-weight: 700;
}

.overpayment-block  .border-radius-1 {
    border-radius: 25px 0 0 0;
}

.overpayment-block .tr:not(:last-of-type):not(:first-of-type){
    border-bottom: 1px solid #E7EBEE;
}

.overpayment-block  .border-radius-2 {
    border-radius: 0 25px 0 0;
}

.overpayment-button-wrap{
    margin: 20px 0;
    text-align: center;

}