.employee-short-card{
    font-size: 0.9375rem;
}
.employee-short-card-el {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.employee-short-card-el a.top-line{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-name {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 10px 0;
}

.employee-short-card-position {
    margin-bottom: 10px;
    color: #000000;
}


.employee-short-card-el img{
    width: 164px;
    height: 164px;
    border-radius: 50%;
}

