.employee-short-card{
    font-size: 0.9375rem;
}
.employee-short-card-el {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.employee-short-card-el a.top-line{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-name {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 10px 0;
}

.employee-short-card-position {
    margin-bottom: 10px;
    color: #000000;
}


.employee-short-card-el img{
    width: 164px;
    height: 164px;
    border-radius: 50%;
}
.employee-short-card-tooltip {
    position: absolute;
    z-index: 2;
    top: 10px;
    width: 100%;
    right: calc(50% - 102px);
    padding-right: 30px;
    text-align: right;
}

.employee-short-card-tooltip .tooltip {
    display: none;
    background: #000;
    border-radius: 5px;
    padding: 10px 15px;
    max-width: 190px;
    position: absolute;
    right: 85px;
    top: -5px;
    min-height: 50px;
}

.employee-short-card-tooltip .tooltip:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    top: 50%;
    right: -10px;
    transform: translateY(-50%) rotate(45deg);
}

.employee-short-card-tooltip .tooltip a{
    color: #fff;
    text-decoration: underline;
    font-size: .87rem;

}

.employee-short-card-tooltip:hover .tooltip{
    display: block;
}
.employee-short-card-position-expert {
    margin-bottom: 10px;
    color: #000000;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.employee-name-expert {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    margin-bottom: 3px;

}