.employee-short-card {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0 40px;
}

.employee-short-card-el {
    border-radius: 15px;
    overflow: hidden;
    width: 350px;
    margin: 25px 10px;
    background: #fff;
}
.employee-short-card-tooltip {
    position: absolute;
    z-index: 2;
    top: 10px;
    width: 100px;
    right: 0;
    padding-right: 30px;
    text-align: right;
}
.employee-short-card-tooltip + .yandex-q-icon {
    top: 60px;
}

.employee-short-card-info {
    padding: 35px;
}

.employee-name {
    font-weight: 600;
    font-size: 1.1rem;
    width: 100px;
}

.employee-short-card-position {
    font-size: .87rem;
    margin-top: 15px;
}

.employee-short-card-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.employee-short-card-btn-wrap .btn {
    width: 100%;
}
.employee-card-img {
    overflow: hidden;
    max-height: 215px;
    position: relative;
}

.employee-card-img svg {
    z-index: 1;
}
.employee-card-img .image-with-scale {
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    -webkit-transition: transform 1s;
}

.employee-card-img .image-with-scale:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.employee-card-img .circle-img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 2em auto;
}

.employee-short-card-tooltip .tooltip {
    display: none;
    background: #000;
    border-radius: 5px;
    padding: 10px 15px;
    max-width: 190px;
    position: absolute;
    right: 85px;
    top: -5px;
    min-height: 50px;
}

.employee-short-card-tooltip .tooltip:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    top: 25px;
    right: -10px;
    transform: translateY(-50%) rotate(45deg);
}

.employee-short-card-tooltip .tooltip a{
    color: #fff;
    text-decoration: underline;
    font-size: .87rem;

}

.employee-short-card-tooltip:hover .tooltip{
    display: block;
}