.more-tags-btn {
    margin-top: 10px;
    min-width: 85px;
}

.tags-list {
    max-height: 40px;
    overflow: auto;
    margin-right: -15px;
}

.tags-list::-webkit-scrollbar {
    height: 0;
}

.tags-list a:not(.more-tags-btn) {
    color: #000;
    padding: 5px 13px;
    background-color: #FFF;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 7px;
    white-space: nowrap;
}