.tags-list-wrap {
    flex-flow: row-reverse;
    padding: 3px 0 10px;
    width: 100%;
    font-size: .875rem;
}

.more-tags-btn {
    margin-top: 10px;
    min-width: 85px;
}

.more-tags-btn + .tags-list.showed-tags-list {
    max-height: inherit;
}

.more-tags-btn svg {
    vertical-align: 2px;
}

svg.rotate {
    transform: rotate(180deg);
}

.tags-list {
    flex-flow: wrap;
    max-height: 40px;
    overflow-y: hidden;
}

.tags-list a {
    color: #000;
    padding: 5px 13px;
    background-color: #FFF;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 7px;
}