.qa-items {
    background: #fff;
    margin: 25px 0;
    padding: 20px 30px;
}
.qa-items .qa-short-answer {
    margin-top: 20px;
    font-size: 1rem;
    color: #000;
}

.qa-items .qa-items-bottom-block {
    margin-top: 15px;
    justify-content: space-between;
}

.qa-items .qa-items-bottom-block .read-more svg {
    margin-left: 10px;
}

.qa-items .qa-items-bottom-block .question-count {
    color: #888;
    display: flex;
    align-items: center;
}

.qa-items .qa-items-bottom-block .question-count svg {
    margin-right: 5px;
}

.qa-items .qa-items-bottom-block .question-time {
    color:#888;
}

.qa-items .tags-bl .tags-link {
    padding: 5px 20px;
    background: #F7F7F7;
    white-space: nowrap;
}

