
.qa-items {
    margin: 30px 95px;
    padding: 20px 30px;
    border-radius: 15px;
}

.qa-items .qa-title {
    font-weight: 600;
}

.qa-items .qa-short-answer {
    margin-top: 20px;
    font-size: 1rem;
}

.qa-items .qa-items-bottom-block {
    margin-top: 15px;
    font-size: 0.87rem;
    justify-content: space-between;
}

.qa-items .tags-bl {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    float: right;
}
.qa-items .qa-items-bottom-block .read-more {
    color:#4FABFA;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.qa-items .qa-items-bottom-block .read-more svg {
    margin-left: 10px;
}

.qa-items .qa-items-bottom-block .question-count {
    color: #95A5B0;
    display: flex;
    align-items: center;
    margin: 0 60px;
}

.qa-items .qa-items-bottom-block .question-count svg {
    margin-right: 5px;
}

.qa-items .qa-items-bottom-block .question-time {
    color: #95A5B0;
}

.qa-items .tags-bl .tags-link {
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F8FB;
    color: #222735 !important;
    white-space: nowrap;

}

