.qa-items {
    background: #fff;
    margin: 25px 0;
    padding: 20px 30px;
    border-radius: 15px;
}

.qa-items .qa-title {
    font-weight: 600;
}

.qa-items .qa-short-answer {
    margin-top: 20px;
    font-size: 1rem;
}

.qa-items .qa-items-bottom-block {
    margin-top: 15px;
    font-size: 0.875rem;
    justify-content: space-between;
}

.qa-items .tags-bl {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    float: right;
}
.qa-items .qa-items-bottom-block .read-more {
    cursor: pointer;
}

.qa-items .qa-items-bottom-block .read-more svg {
    margin-left: 10px;
}

.qa-items .qa-items-bottom-block .question-count {
    color: #888;
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.qa-items .qa-items-bottom-block .question-count svg {
    margin-left: 5px;
}

.qa-items .qa-items-bottom-block .question-time {
    color:#888;
}

.qa-items .tags-bl .tags-link {
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
    color: #000 !important;
    white-space: nowrap;

}

