.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Inter', sans-serif;
    justify-content: space-between;
}

#headerMenu.fixed {
    position: fixed;
    z-index: 111;
    width: 100%;
    top: 0;
    background: #fff;
}

#headerMenu.fixed .logo {
    width: 50px;
    z-index: 9999;
}

#headerMenu.fixed .header-logo {
    display: none;
}

.header .logo {
    display: flex;
    align-items: center;
    width: 180px;
    transition: width 0.75s;
    z-index: 9999;
}

.header .logo img {
    margin-right: 10px;
}

.header .logo .logo-name {
    font-size: 2.25em;
    font-weight: 700;
    line-height: 1em;
}

.header .logo .logo-text {
    font-size: .65rem;
    margin-top: -5px;
}

.header-bottom-line {position: relative}

.header-bottom-line:after {
    content: '';
    height: 2px;
    background: #E6EBEF;
    left: 0;
    bottom: -4px;
    width: 100%;
    display: block;
    position: absolute;
}

.hl-item-title, .hr-item-title {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    color: #222735;
    position: relative;
}

.hl-item:hover .hl-item-title:after {
    content: '';
    height: 2px;
    background: #222735;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    z-index: 1;
}

.hl-item {
    display: inline;
}

.hr-item-title:hover {
    color: #2CDD88;
}

.h-sub-menu {
    display: none;
}

.hl-item:hover .h-sub-menu {
    display: flex;
    position: absolute;
    width: 100%;
    box-shadow: 0 20px 20px -20px rgba(135, 145, 159, 0.15);
    left: 0;
    justify-content: space-between;
    z-index: 1111;
    background: #fff;
    margin-top: 5px;
}

.hl-item:hover .h-sub-menu a:hover {
    color: #2CDD88!important;
}

.hl-item:hover .h-sub-menu a {
    font-size: 0.9rem;
    display: inline-block;
    line-height: 2.5rem;
}

.h-sub-menu-3-col {
    padding: 40px 400px;
}

.h-sub-menu-4-col {
    padding: 40px 400px;
}

.header-menu-empty-line {
    height: 2.5rem;
}

.h-sub-title {
    font-size: 1rem;
    font-weight: 600;
}

.h-sub-menu a, .h-sub-menu span {
    color: #222735;
}

header svg {
    cursor: pointer;
    margin-left: 15px;
}

.icon-search:hover path {
    stroke: #2CDD88;
}

.icon-wrap-hidden-block:hover .icon-more-info path,
.icon-wrap-hidden-block:hover .icon-geo path:first-of-type,
.icon-wrap-hidden-block:hover .icon-account circle{
    fill:#2CDD88;
}

.h-sub-menu-city {
    max-width: 350px;
    margin: 40px 0 0 -220px;
    position: absolute;
}

.h-sub-menu-city .sub-nav_one-column {
    border-radius: 17px;
    padding: 30px 25px;
}

.h-sub-menu-city .sub-nav_one-column .choose-city {
    color: #4FABFA;
    font-weight: 600;
    margin-left: 30px;
    cursor: pointer;
}

.your-geo-location {
    white-space: nowrap;
}

.confirm-choose-geo-block {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.h-sub-menu-auth-user,
.h-sub-menu-more-info{
    max-width: 350px;
    margin: 40px 0 0 -150px;
    position: absolute;
}

.h-sub-menu-auth-user .sub-nav_one-column {
    padding: 20px 25px;
}

.h-sub-menu-auth-user .sub-nav_one-column span{
    display: block;
    color: #95A5B0;
}

.h-sub-menu-auth-user .sub-nav_one-column a {
    display: block;
    color: #222735;
}

.h-sub-menu-more-info .sub-nav_one-column {
    border-radius: 10px;
}
.h-sub-menu-more-info .more-info-el {
    padding: 20px 25px;
}
.h-sub-menu-more-info .more-info-el:not(:last-of-type){
    border-bottom: 1px solid #E6EBEF;
}

.h-sub-menu-more-info .more-info-el a{
    color:#222735;
    display: flex;
    align-items: center;
}

.h-sub-menu-more-info .more-info-el a svg {
    margin-right: 20px;
}

.h-sub-menu-more-info .more-info-el a .count{
    width: 20px;
    height: 20px;
    background: #FF4E59;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .65rem;
    margin-left: 15px;
}

.h-hidden-sub-menu {
    display:none;
    background: #fff;
    font-family: 'Proxima Nova Rg', sans-serif;
}

.icon-wrap-hidden-block {
    display: inline-flex;
    padding: 20px 0;
}

.icon-wrap-hidden-block:hover .h-hidden-sub-menu {
    display: block;
}

.search-block {
    padding: 10px 0 0 0;
    width: 835px;
    position: absolute;
    margin-top: -105px;
    margin-left: 30%;
    z-index: 999;
}

.scroll {
    width:875px;
    z-index: 9999;
    position: fixed;
    margin: -165px 0 0 25%;
}

.search-block-container {
    margin-top:30px;
    display: flex;
    justify-content: space-between;
}

.search-block-container .clear {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: -52px;
    margin-top: 18px;
}

.search-block-container .clear svg {
    cursor: pointer;
}

.search-block__input{
    width: 100%;
    border-radius: 23px;
    height: 50px;
    border: none;
    background: #F6F8FB;
    outline:none;
    font-size:0.87rem;
    padding: 0 25px;
}

.search-block__input::placeholder{
    color: #C2CFD8;
}

.search-block__button {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-right: 100px;
}

.search-block__button svg {
    margin-left: -100px;
    cursor: pointer !important;
}

.search-block ul {
    max-height: 180px;
    overflow: auto;
    padding: 0 20px;
}

.search-block ul li {
    list-style-type: none;
    padding: 5px 0;
    cursor: pointer;
    border-bottom: 1px solid #f5f5f5;
}

.search-bg {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index:333;
    background: rgba(41, 45, 62, 0.25);
}

.autocomplete-items {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 0 0 25px 25px;
    overflow: auto;
    max-height: 180px;
    border: none;
}
.autocomplete-items div {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    background: #fff;
}
.autocomplete-items div:hover {
    background: #F6F7F9;
    color: #2ED47A;
}

.autocomplete-open {
    position: absolute;
    border: none;
    z-index: 999;
    top: 100%;
    left: 0;
    right: 0;
    padding-bottom: 10px;
}

.autocomplete-open div {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.autocomplete-items::-webkit-scrollbar {
    width: 0;
}

/*.autocomplete-city-items {*/
    /*position: absolute;*/
    /*width: 457px;*/
    /*z-index: 999;*/
    /*top: 118px;*/
    /*left: 30px;*/
    /*right: 0;*/
    /*border-radius: 0 0 25px 25px;*/
    /*overflow: hidden;*/
    /*overflow-y: auto;*/
    /*max-height: 120px;*/
    /*border: none;*/
    /*box-shadow: -2px 18px 30px 0px rgba(135, 145, 159, 0.15);*/
/*}*/

/*.autocomplete-city-items div {*/
    /*padding: 10px 20px;*/
    /*cursor: pointer;*/
    /*font-size: 1em;*/
    /*background: #fff;*/
    /*color: #222735;*/
/*}*/

/*.autocomplete-city-items div:hover {*/
    /*background: #F6F7F9;*/
    /*color: #2ED47A;*/
/*}*/

/*.autocomplete-city-open {*/
    /*position: absolute;*/
    /*border: none;*/
    /*z-index: 99;*/
    /*top: 100%;*/
    /*left: 0;*/
    /*right: 0;*/
    /*padding-bottom: 10px;*/
/*}*/

/*.autocomplete-city-open div {*/
    /*padding: 10px 20px;*/
    /*cursor: pointer;*/
    /*font-size: 1rem;*/
/*}*/

/*.autocomplete-city-items::-webkit-scrollbar {*/
    /*width: 0;*/
/*}*/

