.tab{
    margin-top: 20px;
    overflow:auto;
    align-items: center;
    width: 100%;
}

.tab::-webkit-scrollbar {
    height: 0;
}

.tab .tab-links{
    cursor: pointer;
    margin: 0 25px;
    padding: 5px 10px;
    transition: 0.3s;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
}

.tab .tab-links.on{
    color: #355FF1;
}

.tabs-items .tab-content.on{
    display:block;
}

.tabs-items .tab-content {
    display: none;
}
