.tab{
    margin-top: 20px;
    width: 100%;
}

.tab.center {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 15px 60px 15px 60px;
}

.tab.left .tab-links{
    margin: 0 15px 0 0;
}
.tab .tab-links{
    cursor: pointer;
    margin: 0 40px 0 0;
    padding: 5px 20px 5px 0;
    transition: 0.3s;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
}

.tab .tab-links.on{
    color: #355FF1;
}

.tabs-items .tab-content.on{
    display:block;
}

.tabs-items .tab-content {
    display: none;
}


@media screen and (max-width: 992px) {
    .tab {
        overflow: auto;
    }
    .tab::-webkit-scrollbar {
        height: 0;
    }
}