.question-block .user-name {
    color: #95A5B0;
    font-size: 0.87rem;
    cursor: pointer;
}

.question-block .experts-reply {
    margin-top: 30px;
    display: inline-flex;
}

.question-block .experts-reply .expert-logo .check {
    position: absolute;
    margin: -90px 0 0 55px;
}

.question-block .experts-reply .reply-info {
    margin-left: 25px;
}

.question-block .experts-reply .reply-info .expert-name {
    font-weight: 600;
    cursor: pointer;
    color: #222735;
}

.question-block .experts-reply .reply-info .expert-post {
    color: #95A5B0;
    font-size: 0.87rem;
}

.question-block .experts-reply .reply-info .reply-text {
    margin-top: 15px;
    font-size: 1rem;
}

.question-block .experts-reply .reply-info .reply-bottom-block {
    display: inline-flex;
    margin-top: 15px;
}

.question-block .experts-reply .reply-info .reply-bottom-block .down-likes {
    margin-left: 15px;
    cursor:pointer;
}

.question-block .experts-reply .reply-info .reply-bottom-block .reply-comment {
    font-weight: 600;
    margin-left: 30px;
    cursor:pointer;
}

.question-block .experts-reply .reply-info .reply-bottom-block time {
    margin-left: 25px;
}

.question-block .experts-reply .reply-info .reply-bottom-block .up-likes span,
.question-block .experts-reply .reply-info .reply-bottom-block .down-likes span     {
    margin-left: 5px;
    cursor:pointer;
}

.question-block form {
    margin-top: 60px;
}

.question-block input,
.question-block textarea {
    background: #F6F8FB;
    color: #95A5B0;
    border-radius: 10px;
    width: 790px;
    margin-top: 10px;
    padding: 15px 45px;
    font-size: 1rem;
    outline: none;
    border: none;
}

.question-block input {
    height: 50px;
}

.question-block textarea {
    height: 145px;
    resize: none;
}

.question-block .btn {
    margin-top: 20px;
    float: right;
}







