.listing-h2 {
    margin: 16px;
}

.jsTableBlock .main-td {
    white-space: nowrap;
    text-align: left;
    padding: 10px 16px;
    border-collapse: collapse
}

.jsTableBlock thead {
    margin-top: 16px;
}

.jsTableBlock td {
    /*min-width: 284px;*/
    padding: 10px 16px;
}
.jsTableBlock thead .main-td:first-of-type {
    min-width: 200px;
}
.jsTableBlock .js-table {
    table-layout: fixed;
    min-width: 760px;
}

.jsTableBlock {
    margin: 25px 0;
    position: relative;
}

.jsTbScroll {
    display: block;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 50px;
}
.jsTableBlock .dataTablesFooter {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}
.jsTbScroll::-webkit-scrollbar {
    height: 0;
}
.sortingArrowsBlock {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    padding-right: 20px;
}
/*.sortingArrows {*/
/*display: none;*/
/*}*/
.sortingArrows {
    display: flex;
    flex-wrap: wrap;
    width: 12px;
    height: 30px;
    align-items: center;
    margin-left: 10px;
}
.data-table-pagination {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin: 0 5px;
    line-height: 28px;
    text-align: center;
    border-radius: 5px;
    color: #636363;
}

.data-table-pagination:not(.disabledPage) {
    cursor: pointer;
}

.data-table-pagination.disabledPage {
    pointer-events: none;
}

.data-table-pagination.currentPage {
    pointer-events: none;
    background-color: #E5E5E5;
}

.jsTableBlock {
    background: #F7F7F7;
    border-top: 1px solid #DCE4EC;
    border-bottom: 1px solid #DCE4EC;
}

.jsTableScroll table{
    margin-top: 72px;
}
.jsTableBlock .dataTablesFooter .data-table-pages {
    border-radius: 0 0 15px 15px;
}

.searchInp {
    margin: 16px;
    height: 45px;
    padding: 0 2em 1px;
    width: 100%;
    background-color: #FFF;
    border: none;
    border-radius: 5px;
}
.searchInp::placeholder {
    color: #95A5B0;
}
.searchInp:focus {
    outline: none;
}
.searchBlock {
    display: flex;
    float: right;
    width: 100%;
    justify-content: flex-end;
}
.searchBlock svg {
    position: absolute;
    top: 2.2em;
}
.searchBlock .searchMagnifier {
    right: 4em;
}
.searchBlock .searchReset {
    right: 2em;
    cursor: pointer;
    display: none;
}
.dataTableHiddenTd, .jsTableBlock .sortingArrows .jsTableDisplayNone,.display_none {
    display: none;
}
.activeSortItem {
    color: #007bff;
}

table.table-limit {
    border-collapse: collapse;
    border-top: 1px solid #DCE4EC;
}

table.table-limit tr.showed-items td, table.table-limit thead th,table.table-limit tr.matchesToSearch td{
    border-bottom: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}

table.table-horizontal {
    border-collapse: collapse;
    width: 100%;
}

table.table-border-part {
    table-layout:fixed;
    width:100%;
    margin: 30px 0;
    max-width: 100%;
    border-spacing: 0;
    border: 0;
    overflow: hidden;
}

table.table-border-part{
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}


table.table-border-part td, table.table-border-part th{
    padding: 14px 16px;
    text-align: center;
}

table.table-border-part tbody tr td:first-of-type,
table.table-border-part thead tr th:first-of-type{
    border-right: 1px solid #E5E5E5;
}

table.table-border-part thead tr th {
    border-bottom: 1px solid #E5E5E5;
}

table .main-td {
    font-weight: bold;
}

/* скрытие таблиц */
.table-toggle-btn{
    position: relative;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 15px 0;
    font-size: 0.9rem;
}

.table-toggle-btn:after{
    content: '';
    margin-left: 5px;
    width: 10px;
    height: 5px;
    display: inline-block;
    vertical-align: 2px;
    background: url(/v4/images/arrow-down.svg);
}

.table-toggle-btn.up:after {
    transform: rotate(180deg);
}

.table-scroll {
    overflow: auto;
    margin-bottom: 15px;
}

.table-scroll table {
    table-layout: inherit;
}

table tr.hide {
    display: none;
}
.total_cards_table_text {
    font-size: 16px;
    padding: 0 16px;
}

.table-toggle-wrap tr:first-of-type {
    vertical-align: baseline;
}

.table-toggle-wrap td {
    padding: 4px 8px;
}
.content table {
    border-collapse: collapse;
    /*border-radius: 10px;*/
    /*box-shadow: 0 0 0 0.5px #e5e5e5;*/
    margin-bottom: 15px;
}
.content table tr td {
    border: 1px solid #E5E5E5;
    padding: 9px 15px;
    /*min-width: 200px;*/
}
.table-scroll::-webkit-scrollbar {
    background-color: #fff;
    height: 5px;
}
.table-scroll::-webkit-scrollbar-thumb {
    background: rgba(135, 145, 159, 0.4);
    border-radius: 3px;
}
@media only screen and (max-width: 540px) {
    .content table {
        width: calc(100% + 30px);
        margin-left: -15px;
    }
    .content table tr td:first-of-type {
        border-left: none;
    }
    .content table tr td:last-of-type {
        border-right: none;
    }
}