table {
    table-layout:fixed;
    width:100%;
    margin: 30px 0;
    max-width: 100%;
}

table tr td:last-of-type {
    display:flex;
    align-items:center;
}

table td, table th {
    padding: 14px 0 14px 65px;
}


table .main-td {
    background: #E1EDFF;
    font-weight: bold;
}
table.table-vertical {
    border-collapse: collapse;
    cursor: pointer;

}

table.table-vertical tr:first-of-type td,
table.table-info tr:first-of-type td {
    padding-top: 25px;
}

table.table-vertical tr:last-of-type td,
table.table-info tr:last-of-type td{
    padding-bottom: 25px;
}

table.table-horizontal {
    border-radius: 25px;
    text-align: center;
    border-collapse: collapse;
}

table.table-horizontal .border-radius-1,
table.table-limit .border-radius-1,
table.table-info .border-radius-1{
    border-radius: 15px 0 0 0;
}

table.table-limit tr:not(:last-of-type),
table.table-info tr:not(:last-of-type) td:last-of-type {
    border-bottom:  1px solid #F3F5F7;
}

table.table-horizontal tr:not(:first-of-type) {
    border-top: 1px solid #F3F5F7;
}

table.table-horizontal .border-radius-2,
table.table-limit .border-radius-2,
table.table-info .border-radius-2{
    border-radius: 0 15px 0 0;
}

table.table-limit {
    border-radius: 15px;
    border-collapse: collapse;
    width: 1110px;
    /*margin-left: -165px;*/
}

table.table-limit td {
    text-align: center;
}

table.table-limit td:first-child {
    text-align: left;
}

table.table-limit td th svg{
    margin-left: 10px;
}

table.table-limit tr th svg:active{
    transform: rotate(180deg);
}


table.table-info {
    border-radius: 15px;
    text-align: left;
    border-collapse: collapse;
}

table.table-info tr td:first-of-type {
    width: 30%;
}

table.table-info .border-radius-3,
.table-info-block .border-radius-3 {
    border-radius: 0 0 0 15px;
}


/*div table*/

.table-info-block {
    width: 100%;
    margin: 30px 0;
    border-radius: 15px;
}

.table-info-block .tr {
    display: flex;
    justify-content: space-between;
}

.table-info-block .tr .td {
    padding: 14px 30px;
}

.table-info-block .tr .td svg {
    margin-left: 10px;
}

.table-info-block .tr .td:first-of-type {
    width: 30%;
    background: #E1EDFF;
    font-weight: 600;
}
.table-vertical-block .tr:first-of-type .td,
.table-info-block .tr:first-of-type .td {
    padding-top: 25px;
}

.table-vertical-block .tr:last-of-type .td,
.table-info-block .tr:last-of-type .td{
    padding-bottom: 25px;
}

.table-info-block .tr .border-radius-1,
.table-limit-block .border-radius-1,
.light-border  .border-radius-1{
    border-radius: 15px 0 0 0;
}

.table-info-block .tr .td:last-of-type {
    width: 70%;
}

/*table 2*/

.table-limit-block {
    width: 1110px;
    margin: 30px 0 30px 0;
    border-radius: 15px;
}

.table-limit-block .tr {
    display: flex;
    justify-content: space-between;
}

.table-limit-block .tr .td:first-of-type {
    width:35%;
}

.table-limit-block .tr:not(:last-of-type):not(:first-of-type),
.light-border .tr:not(:last-of-type):not(:first-of-type),
.table-info-block .tr:not(:last-of-type) .td:last-of-type {
    border-bottom:  1px solid #F3F5F7;
}

.table-limit-block .tr .th{
    border-bottom: none;
    font-weight: 700;
    background: #E1EDFF;
    float: right;
}

.table-limit-block .border-radius-2,
.light-border .border-radius-2 {
    border-radius: 0 15px 0 0;
}

.table-limit-block .tr .th svg {
    margin-left: 5px;
    cursor: pointer;
    width: 8px;
    height: 6px;
}

.table-limit-block .tr .th svg:active {
    transform: rotate(180deg);
}

.table-limit-block .tr .td {
    padding: 1em 2em;
    width: 25%;
}

/*table 3*/

.table-vertical-block {
    width: 100%;
    margin: 30px 0;
}

.table-vertical-block .tr {
    display: flex;
    justify-content: space-between;
}

.table-vertical-block .tr .th {
    background: #E1EDFF;
    border-bottom: none;
    font-weight: 700;
}

.table-vertical-block .tr .td {
    padding: 10px 0 10px 30px;
    width: 23%;
}

/*table 4*/

.light-border {
    margin: 30px 0;
    border-radius: 15px;
}

.light-border .tr {
    display: flex;
    justify-content: space-between;
}

.light-border .tr .td {
    padding: 1.2em;
    width: 50%;
    text-align: center;
}

.light-border .tr .th {
    background: #E1EDFF;
    font-weight: 700;
}


/*js dataTables*/
.jsTableBlock .main-td:not(:first-of-type) {
    width: 200px;
}
.jsTableBlock .js-table {
    table-layout: fixed;
    min-width: 760px;
}
.jsTableBlock {
    margin: 6em 0 2em 0;
    position: relative;
}
.jsTableBlock .total_cards_table_js {
    margin: 0;
}
.jsTbScroll {
    overflow-x: auto;
}
.sortingArrowsBlock {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    padding-right: 20px;
}
.sortingArrows {
    display: flex;
    flex-wrap: wrap;
    width: 12px;
    height: 30px;
    align-items: center;
    margin-left: 10px;
}
.data-table-pagination {
    width: 45px;
    height: 45px;
    display: inline-block;
    margin: 0 5px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
}
.data-table-pagination:not(.disabledPage) {
    cursor: pointer;
}

.data-table-pagination.currentPage {
    border: 1px solid #000;
    pointer-events: none;
}
.data-table-pagination:not(.currentPage):not(.disabledPage):hover {
    border:1px solid #000;
}
.jsTableBlock .dataTablesFooter .data-table-pages {
    text-align: center;
    background-color: white;
    padding-right: 4em;
}
.searchInp {
    margin: 0 0 0.5em 0;
    height: 45px;
    padding: 0 2em;
    width: 100%;
    background-color: #F3F8FF;
    border: none;
}
.searchInp::placeholder {
    color: #95A5B0;
}
.searchInp:focus {
    outline: none;
}
.searchBlock {
    display: flex;
    float: right;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: -4em;
}
.searchBlock svg {
    position: absolute;
    top: 1em;
}
.searchBlock .searchMagnifier {
    right: 4em;
}
.searchBlock .searchReset {
    right: 2em;
    cursor: pointer;
}
.dataTableHiddenTd, .jsTableBlock .sortingArrows .jsTableDisplayNone,.display_none {
    display: none;
}
.activeSortItem {
    color: #007bff;
}