table {
    table-layout:fixed;
    width:100%;
    margin: 30px 0;
}

table td, table th {
    padding: 14px 0 14px 30px;
}


table .main-td {
    background: #F6F8FB;
    font-weight: bold;
}

table.table-vertical {
    border-collapse: collapse;

}

table.table-vertical tr:first-of-type td,
table.table-info tr:first-of-type td {
    padding-top: 25px;
}

table.table-vertical tr:last-of-type td,
table.table-info tr:last-of-type td{
    padding-bottom: 25px;
}

table.table-horizontal {
    border-radius: 25px;
    text-align: center;
    border-collapse: collapse;
}

table.table-horizontal .border-radius-1,
table.table-limit .border-radius-1,
table.table-info .border-radius-1{
    border-radius: 15px 0 0 0;
}

table.table-limit tr:not(:last-of-type),
table.table-info tr:not(:last-of-type) td:last-of-type {
    border-bottom:  1px solid #F3F5F7;
}

table.table-horizontal tr:not(:first-of-type) {
    border-top: 1px solid #F3F5F7;
}

table.table-horizontal .border-radius-2,
table.table-limit .border-radius-2,
table.table-info .border-radius-2{
    border-radius: 0 15px 0 0;
}

table.table-limit {
    border-radius: 15px;
    border-collapse: collapse;
    width: 1110px;
    /*margin-left: -165px;*/
}

table.table-limit td {
    text-align: center;
}

table.table-limit td:first-child {
    text-align: left;
}

table.table-limit td th svg{
    margin-left: 10px;
}

table.table-limit tr th svg:active{
    transform: rotate(180deg);
}


table.table-info {
    border-radius: 15px;
    text-align: left;
    border-collapse: collapse;
}

table.table-info tr td:first-of-type {
    width: 30%;
}

table.table-info .border-radius-3,
.table-info-block .border-radius-3 {
    border-radius: 0 0 0 15px;
}


/*div table*/

.table-info-block {
    width: 100%;
    margin: 30px 0;
    border-radius: 15px;
}

.table-info-block .tr {
    display: flex;
    justify-content: space-between;
}

.table-info-block .tr .td {
    padding: 14px 30px;
}

.table-info-block .tr .td svg {
    margin-left: 10px;
}

.table-info-block .tr .td:first-of-type {
    width: 30%;
    background: #F6F8FB;
    font-weight: 600;
}
.table-vertical-block .tr:first-of-type .td,
.table-info-block .tr:first-of-type .td {
    padding-top: 25px;
}

.table-vertical-block .tr:last-of-type .td,
.table-info-block .tr:last-of-type .td{
    padding-bottom: 25px;
}

.table-info-block .tr .border-radius-1,
.table-limit-block .border-radius-1,
.light-border  .border-radius-1{
    border-radius: 15px 0 0 0;
}

.table-info-block .tr .td:last-of-type {
    width: 70%;
}

/*table 2*/

.table-limit-block {
    width: 1110px;
    margin: 30px 0 30px 0;
    border-radius: 15px;
}

.table-limit-block .tr {
    display: flex;
    justify-content: space-between;
}

.table-limit-block .tr .td:first-of-type {
    width:35%;
}

.table-limit-block .tr:not(:last-of-type):not(:first-of-type),
.light-border .tr:not(:last-of-type):not(:first-of-type),
.table-info-block .tr:not(:last-of-type) .td:last-of-type {
    border-bottom:  1px solid #F3F5F7;
}

.table-limit-block .tr .th{
    border-bottom: none;
    font-weight: 700;
    background: #F6F8FB;
    float: right;
}

.table-limit-block .border-radius-2,
.light-border .border-radius-2 {
    border-radius: 0 15px 0 0;
}

.table-limit-block .tr .th svg {
    margin-left: 5px;
    cursor: pointer;
    width: 8px;
    height: 6px;
}

.table-limit-block .tr .th svg:active {
    transform: rotate(180deg);
}

.table-limit-block .tr .td {
    padding: 1em 2em;
    width: 25%;
}

/*table 3*/

.table-vertical-block {
    width: 100%;
    margin: 30px 0;
}

.table-vertical-block .tr {
    display: flex;
    justify-content: space-between;
}

.table-vertical-block .tr .th {
    background: #F6F8FB;
    border-bottom: none;
    font-weight: 700;
}

.table-vertical-block .tr .td {
    padding: 10px 0 10px 30px;
    width: 23%;
}

/*table 4*/

.light-border {
    margin: 30px 0;
    border-radius: 15px;
}

.light-border .tr {
    display: flex;
    justify-content: space-between;
}

.light-border .tr .td {
    padding: 1.2em;
    width: 50%;
    text-align: center;
}

.light-border .tr .th {
    background: #F6F8FB;
    font-weight: 700;
}


/*js dataTables*/
.jsTableBlock .js-table {
    table-layout: fixed;
    min-width: 760px;
}
.jsTableBlock {
    margin: 6em 0 2em 0;
    position: relative;
}
.jsTbScroll {
    overflow-x: auto;
}
.sortingArrowsBlock {
    display: inline-flex;
    width: 100%;
    cursor: pointer;
    justify-content: flex-end;
}
.data-table-pagination {
    display: inline-block;
    color: #333;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}
.data-table-pagination:not(.disabledPage) {
    cursor: pointer;
}

.data-table-pagination.currentPage {
    background-color: white;
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
    border: 1px solid #979797;
}
.data-table-pagination:not(.currentPage):not(.disabledPage):hover {
    color: white;
    /*border: 1px solid #111;*/
    min-width: 1.5em;
    padding: 0.5em 1em;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
}
.jsTableBlock .dataTablesFooter .data-table-pages {
    text-align: center;
    background-color: white;
    border-top: 1px solid;
}
.searchInp {
    margin: 0 0 0.5em 0.5em;
    height: 2.5em;
    width: 50%;
}
.searchBlock {
    display: flex;
    float: right;
    width: 50%;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: -4em;
}
.dataTableHiddenTd, .jsTableBlock .sortingArrows .jsTableDisplayNone,.display_none {
    display: none;
}
.sortingArrows {
    display: flex;
    width: 0.7em;
    flex-wrap: wrap;
    float: right;
    line-height: 0.7em;
    cursor: pointer;
    height: 1.5em;
    margin-left: 5px;
}
.sortingArrows .sortUp, .sortingArrows .sortDown {
    display: block;
}
.activeSortItem {
    color: #007bff;
}