.benefits{
    overflow-y: auto;
    flex-wrap: inherit;
    padding: 10px 0;
    margin-right: -15px;
}

.benefit-item {
    width: 252px;
    min-width: 252px;
    background: #fff;
    text-align: center;
    margin-right: 15px;
    padding: 15px;
}

.benefit-item b {
    display: block;
    margin: 10px 0;
    font-size: 0.9375rem;
}

.benefit-item p{
    color: #95A5B0;
    font-size: 0.875rem;
}