.comp-fixed-block {
    display: none;
    align-items: center;
    padding: 1em 2em;
    justify-content: space-between;
    margin: 70px 0 30px;
}
.comp-fixed-img-block {
    display: flex;
    align-items: center;
}
.comp-fixed-img {
    height: 65px;
    width: fit-content;
    margin-right: 1em;
}
.comp-fixed-title {
    font-weight: 600;
    font-size: 1.2em;
}
.comp-fixed-prop-val {
    font-weight: 600;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
.comp-fixed-prop-name {
    font-size: 0.875rem;
}
.comp-fixed-text {
    display: inline-flex;
}
.comp-fixed-prop {
    margin-right: 2em;
    text-align: center;
}
.comp-fixed-svg {
    margin-right: 1em;
}
.container .comp-fixed {
    top: 120px;
    position: fixed;
    width: 100%;
    z-index: 11;
    max-width: 1110px;
    margin: 0 auto;
    background: #fff;
    display: flex;
}