.f-block {
    padding: 0;
    margin: 0;
}

.f-line-1 {
    display: flex;
    justify-content: space-between;
}

.f-1 {
    padding: 0;
    font-size: 0.87em;
    line-height: 2.62em;
}

.f-support-label {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.1em;
    line-height: 1.4em;
    font-weight: 600;
    color: #4FABFA;
    font-family: 'Inter', sans-serif;
}

.f-line-1 .f-support .contact-info {
    line-height: 1.25em;
}

.f-support-phone {
    text-decoration: none;
    font-size: 1.1em;
    color:#222735;
    margin: 0;
}

.f-support-text {
    font-size: 0.75em;
    line-height: 1em;
}

.f-line-1 .f-support .call-back-info {
    line-height: 1.56em;
    margin-top: 10px;
    cursor: pointer;
}

.f-line-1 .f-support .call-back {
    color: #222735;
    text-decoration: underline;
}

.f-1 .f-support-text {
    margin-bottom:20px;
    color: #95A5B0;
    font-size: .75em;
}

.f-line-1 .f-support .btn-chat {
    margin-top: 30px;
}

.f-line-1 ul li {
    line-height: 3;
    list-style-type: none;
}

.f-line-1 ul a {
    color: #222735 !important;
}

.f-block  ul.f-2-menu {
    display: flex;
    justify-content: space-between ;
    font-weight: 600;
    padding: 0;
    margin-top: 30px;
}

.f-2-menu li {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}

.f-2-menu a {
    color: #95A5B0 !important;
}

.f-2-menu li a.active {
    color: #2ED47A !important;
}

.f-2-menu li a:hover {
    color: #2ED47A !important;
}

.f-block  ul.f-3-menu {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    padding: 0;
    margin-top: 20px;
}


.f-copyright {
    display: flex;
}

.f-copyright p {
    color: #C2CFD8;
    flex: 1;
    font-size: 0.65em;
    line-height: 1.5em;
}

.f-copyright p:first-of-type {
    margin-right: 42px;
}

.f-block .social {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.f-block .social .soc-network a,
.f-block .social .soc-reviews a {
    margin-right: 35px;
}

.f-block  .social .soc-reviews  {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -5px;
}

.f-block .social .soc-reviews a:first-of-type  {
    margin-top: -10px;
}

.f-block .f-3 {
    margin-top: 30px;
}

.f-block .f-3 .policy {
    display: flex;
    justify-content: space-between;
}

.f-block .f-3 .policy a {
    display: flex;
    justify-content: space-between;
    font-size: 0.81em;
    font-weight: 600;
    color: #C2CFD8;
}

.f-block .f-3 .policy .copyright{
    color: #C2CFD8;
    font-size: 0.8em;
}

.f-block  hr {
    height: 1px;
    border: none;
    background-color:#EBEBEB;
}
