.f-block {
    justify-content: space-between;
    flex-wrap: wrap;
}

.f-top-line {
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E8EEF6;
    border-bottom: 1px solid #E8EEF6;
    width: 100%;
    padding: 15px 0 10px;
    margin-bottom:45px;
}

.f-top-line .f-l-chats {
    display: flex;
    align-items: center;

}

.f-top-line .f-l-chats-el {
    margin: 0 10px;
}

.f-top-line .f-l-chats-el:first-of-type {
    margin-left: 0;
}

.f-top-line .f-l-chats:last-of-type {
    color:#95A5B0;
}

.f-block .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.f-block .social .soc-network a {
    margin-left: 35px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.f-support-phone {
    font-weight: 600;
    font-size: 1.25rem;
}

.f-support-label {
    color: #95A5B0;
}

.f-support-r .call-back {
    border: 1px solid #87919F;
    color:#95A5B0;
    margin-left: 35px;
    font-weight: 400;
    border-radius: 10px;
}

.f-support-r .call-back:hover {
    border: 1px solid #355FF1;
    color: #355FF1;
}

.f-support-r .call-back:active {
    border: 1px solid #0731C1;
    color: #0731C1;
}

.soc-reviews {
    margin-top: 10px;
}

.soc-reviews .flamp {
    margin-left: 35px;
}

.f-block ul.f-2-menu {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 0;
    margin: 40px 0;
    width: 100%;
}

.f-2-menu li {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}

.container .f-block .f-2-menu a {
    color: #95A5B0;
}

.f-block .f-2-menu li a.active, .f-block .f-2-menu li a:hover {
    color: #355FF1;
}

.f-copyright {
    justify-content: space-between;
}

.f-copyright p {
    color: #ADBAC4;
    font-size: 0.65rem;
    line-height: 1rem;
    width: 48%;
}
.f-block .f-3 {
    margin-top: 30px;
    width: 100%;
}
.f-block .f-3 .policy {
    display: flex;
    justify-content: space-between;
}
.f-block .f-3 .policy a {
    display: flex;
    justify-content: space-between;
    font-size: 0.81rem;
    font-weight: 600;
    color: #ADBAC4;
}
.f-block .f-3 .policy .copyright {
    color: #ADBAC4;
    font-size: 0.8rem;
    width: 40%;
    text-align: right;
}