.f-block {
    justify-content: space-between;
    flex-wrap: wrap;
}
.f-l-block {
    width: 75%;
    line-height: 2.62rem;
    overflow: hidden;
}
.f-l-bg {
    background-image: url("/v4/images/f-bg-img.png");
    background-repeat:no-repeat;
    background-position: 60%;
    background-size: cover;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    transition: all .7s;
    height: 196px;
    width: 45%;
}
.f-l-bg:hover {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1.1);
}
.f-l-block .f-l-item {
    display: block;
    font-size: 0.87rem;
}
.f-l-block .f-l-text {
    background-color: #F6F8FB;
    padding: 1em 2em;
    width: 55%;
    position: relative;
}
.f-l-text .loan-training {
    width: 350px;
    border-radius: 23px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-weight: 600;
    position: absolute;
    top: 80px;
    left: 200px;
    color: #000;
}
.f-r-block {
    line-height: 2.62rem;

}
.f-r-block .h6 {
    margin-top: 0;
}
.f-r-block .call-back {
    background: #fff;
    box-shadow: 0 4px 10px rgb(135 145 159 / 15%);
    width: 100%;
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
}
.f-r-block .f-support {
    height: 100%;
}
.f-r-block .f-r-chats {
    justify-content: space-between;
    height: 45px;
    margin-top: 25px;
}
.f-block ul.f-2-menu {
    display: flex;
    justify-content: space-between ;
    font-weight: 600;
    padding: 0;
    margin-top: 30px;
    width: 100%;
}
.f-2-menu li {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}
.f-block .f-2-menu a {
    color: #95A5B0;
}
.f-block .f-2-menu li a.active, .f-block .f-2-menu li a:hover {
    color: #2ED47A;
}
.f-block-hr {
    width: 100%;
    margin-top: 1em;
}
.f-copyright {
    justify-content: space-between;
}

.f-copyright p {
    color: #C2CFD8;
    font-size: 0.65rem;
    line-height: 1.5rem;
    width: 48%;
}
.f-block .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    width: 100%;
}

.f-block .social .soc-network a,
.f-block .social .soc-reviews a {
    margin-right: 35px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.f-block  .social .soc-reviews  {
    display: flex;
    text-align: center;
    justify-content: center;
}

.f-block .social .soc-reviews a:first-of-type  {
    margin-top: -10px;
}
.f-block .f-3 {
    margin-top: 30px;
    width: 100%;
}
.f-block .f-3 .policy {
    display: flex;
    justify-content: space-between;
}
.f-block .f-3 .policy a {
    display: flex;
    justify-content: space-between;
    font-size: 0.81rem;
    font-weight: 600;
    color: #C2CFD8;
}
.f-block .f-3 .policy .copyright {
    color: #C2CFD8;
    font-size: 0.8rem;
    width: 40%;
    text-align: right;
}