.product_review-block,
.product_review-short-block {
    width: 100%;
    margin: 30px 0;
}
.rat-block-header {
    padding: 20px;
    margin-top: 35px;
}

.rat-block-header img {
   max-width: fit-content;
}

.rat-block-sticker {
    margin-top: 30px;
    float: right;
    background: #FFF697;
    border-radius: 25px 0px 0px 25px;
    width: 154px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.rat-block-title {
    font-weight: 700;
    font-size: 1.25em;
    margin-top: 10px;
}

.rat-block-content {
    margin-top: 10px;
    line-height: 1.6em;
}

.rat-block-info {
    padding: 2em;
}

.rat-block-info .block-info_content {
    padding: 20px 25px;
    background: #F6F7F9;
    line-height: 1.6em;
    font-weight: 600;
}

.rat-block-items {
    justify-content: space-around;
    align-items: stretch;
    padding: 0 2em;
}

.rat-block-items .rat_block_item {
    width: 100%;
    margin-top: 20px;
    padding: 16px 20px;
}

.rat-block-items .rat_block_item span:last-of-type{
    float: right;
}

.rat-block-items .title {
    font-weight: 600;
    margin: 10px 0 5px 0;
}

.rat-block-items .text{
    font-size: 0.87em;
}

.rat-block-pros-minus {
    margin: 1em 0;
    padding: 2em;
}

.rat-block-pros-minus .title{
    font-weight: 600;
}

.rat-block-pros-minus ul.danger,
.rat-block-pros-minus ul.success{
    padding: 0;
}

.rat-block-pros-minus ul.danger li:before{
    content: "";
    background: #EA674A;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
}

.product_review-block .product_review-btn-wrap,
.product_review-short-block .product_review-btn-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
    margin-top: 20px;
}

.rat-block-table table {
    margin-top: 20px;
}

.rat-block-table table tr td {
    font-size: .87em;
}

.rat-block-table table tr td:first-of-type{
    width:35px;
}

.rat-block-table table tr td:last-of-type{
    width:65px;
    padding-left: 10px;
}

.product_review-short-block {
    margin-top: 50px;
}

.accordion-container .plus-minus-title {
    font-weight: 700;
    font-size: 1.3em;
    margin: 40px 0 30px 35px;
}

.accordion {
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.5s;
    font-weight: 600;
    line-height: 1.6em;
}

.accordion span {
    margin-left: 10px;
}


.accordion .arrow {
    transform: rotate(-90deg);
}

.accordion.active .arrow {
    transform: rotate(0deg);
}

.active, .accordion:hover {
    background-color: #fff;
}

.panel {
    padding: 0 35px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}





