.product_review-block {
    width: 920px;
    margin: 30px 0;
}

.rat-block-header {
    display: flex;
    padding: 30px 65px 0 65px;
}

.rat-block-sticker {
    float: right;
    background: #FFE769;
    border-radius: 0 25px;
    width: 160px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.1rem;
}

.rat-block-header img{
   max-width: fit-content;
}

.rat-block-text {
    margin-left: 30px;
    margin-top: 25px;
}

.rat-block-title {
    font-weight: 700;
    font-size: 1.25rem;
}

.rat-block-content {
    padding: 0 65px;
    margin-top: 20px;
    line-height: 1.6rem;
}

.msg-wrap {
    padding: 30px 45px;
    margin: 40px 65px;
    border-radius: 15px;
}

.msg-wrap.default {
    background: #F6F8FB;
}
.msg-wrap p{
    margin-bottom: 0;
}

.product_review-block .rat-block-items {
    justify-content: space-between;
    align-items: stretch;
    padding: 0 65px;
}

.product_review-block .rat-block-items .rat_block_item {
    flex-grow: 5;
    width: 150px;
    padding:  0 10px;
}

.product_review-block .rat_block_item .rat_block_item {
    flex-grow: 2;
}

.product_review-block .rat-block-items .title {
    font-size: .9rem;
    font-weight: 600;
    margin: 10px 0 5px 0;
}

.product_review-block .rat-block-items .text {
    font-size: 0.8rem;
}

.rat-block-pros-minus {
    padding: 0 65px;
}

.rat-block-pros-minus .title{
    font-weight: 600;
}

.rat-block-pros-minus ul.danger li:before {
    content: "";
    background: #EA674A;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
}

.product_review-block .product_review-btn-wrap,
.product_review-short-block .product_review-btn-wrap {
    display: flex;
    justify-content: center;
}

.product_review-block .product_review-btn-wrap .btn{
    margin: 10px 0 35px 0;
}

.rat-block-table table tr td:first-of-type {
    width: 35%;
    background: #F6F8FB;
    font-weight: 600;
}

.rat-block-table table tr td:last-of-type {
    width: 65%;
}

.rat-block-table table tr td {
    padding: 8px 30px 8px 65px;
}

.product_review-short-block {
    margin: 30px 0;
    padding: 40px 65px;
    width: 920px;
}

.product_review-short-block .rat-block-items {
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: stretch;
}


.product_review-short-block .plus-minus {
    display: flex;
}

.plus-minus .accordion-container {
    width: 50%;
}

.product_review-short-block .plus-minus .accordion-container .plus-minus-title {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 20px 0 20px 0;
}

.product_review-short-block .plus-minus .accordion-container .accordion {
    display: flex;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 600;
    line-height: 1.6rem;
    margin-top: 20px;
}

.product_review-short-block .plus-minus .accordion-container .accordion svg {
    margin-top: 10px;
    width: fit-content;
}

.product_review-short-block .plus-minus .accordion-container .accordion span{
    margin-left: 15px;
}

.product_review-short-block .plus-minus .accordion-container .accordion .arrow {
    transform: rotate(-90deg);
}

.product_review-short-block .plus-minus .accordion-container .accordion.active .arrow {
    transform: rotate(0deg);
}

.product_review-short-block .plus-minus .accordion-container .active, .accordion:hover {
    background-color: #fff;
}

.product_review-short-block .plus-minus .accordion-container .panel {
    padding: 0 30px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}



