.product_review-block {
    width: 920px;
    margin: 30px 0;
}

.rat-block-header {
    display: flex;
    padding: 2em;
    margin-top: 35px;
}

.rat-block-sticker {
    float: right;
    background: #FFE769;
    border-radius: 0px 25px;
    width: 160px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.1em;
}

.rat-block-header img{
   max-width: fit-content;
}

.rat-block-text {
    margin-left: 30px;
    margin-top: 25px;
}

.rat-block-title {
    font-weight: 700;
    font-size: 1.25em;
}

.rat-block-content {
    padding: 0 2em;
    margin-top: 20px;
    font-size: 1.1em;
    line-height: 1.6em;
}

.rat-block-info {
    padding: 2em;
}

.rat-block-info .block-info_content {
    padding: 15px 30px;
    background: #F6F7F9;
    font-size: 1.1em;
    line-height: 1.6em;
}

.rat-block-items {
    justify-content: space-around;
    align-items: stretch;
    margin: 2em 0;
    padding: 0 2em;
}

.rat-block-items .rat_block_item {
    flex-grow: 5;
    width: 150px;
    padding: 16px 10px;
}

.rat_block_item .rat_block_item {
    flex-grow: 2;
}

.rat-block-items .title {
    font-size: 1em;
    font-weight: 600;
    margin: 10px 0 5px 0;
}

.rat-block-items .text {
    font-size: 0.87em;
}

.rat-block-pros-minus {
    margin: 1em 0;
    padding: 2em;
}

.rat-block-pros-minus .title{
    font-weight: 600;
}

.rat-block-pros-minus ul.danger,
.rat-block-pros-minus ul.success {
    padding: 0;
}

.rat-block-pros-minus ul.danger li:before {
    content: "";
    background: #EA674A;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
}

.product_review-block .product_review-btn-wrap,
.product_review-short-block .product_review-btn-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
    margin-top: 20px;
}

.rat-block-table table tr td:first-of-type {
    width: 35%;
    background: #F6F8FB;
    font-weight: 600;
}

.rat-block-table table tr td:last-of-type {
    width: 65%;
}

.rat-block-table table tr td {
    padding: 8px 30px 8px 65px;
    font-size: 1em;
}

.product_review-short-block {
    margin: 30px 0;
    padding: 40px;
    width: 920px;
}

.product_review-short-block .rat-block-items {
    padding: 0;
}

.product_review-short-block .plus-minus {
    display: flex;
}

.product_review-short-block hr {
    border: 1px solid #E7EBEE;
}

.plus-minus .accordion-container {
    width: 50%;
    padding-left: 65px;
}

.accordion-container .plus-minus-title {
    font-weight: 700;
    font-size: 1.3em;
    margin: 40px 0 30px 0;
}

.accordion {
    cursor: pointer;
    padding: 10px 0;
    transition: 0.5s;
    font-weight: 600;
    line-height: 1.6em;
}

.accordion span {
    margin-left: 10px;
}


.accordion .arrow {
    transform: rotate(-90deg);
}

.accordion.active .arrow {
    transform: rotate(0deg);
}

.active, .accordion:hover {
    background-color: #fff;
}

.panel {
    padding: 0 35px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}



