.recovery-form-block {
    background: url(/v4/images/reg-form-img.png) no-repeat left;
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
    background-size: contain;
}
.recovery-form-text-block {
    background: #FFFFFF;
    width: 70%;
    padding: 1em 2em;
}
.recovery-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.recovery-form-inp {
    border-radius: 10px;
    background-color: #F6F8FB;
    padding: 0.4em 1em;
    outline: none;
    border: none;
    width: 100%;
}
.recovery-form-item-title {
    font-weight: 600;
    width: 50%;
    margin-bottom: 0.3em;
}
.recovery-form-item-all {
    width: 95%;
    position: relative;
    margin-bottom: 0.5em;
}
.recovery-form-title {
    width: 100%;
    font-weight: 700;
    margin-bottom: 1em;
    padding-left: 0.3em;
}
.recovery-form-btn {
    width: 95%;
    border: none;
    margin-bottom: 1em;
}
.recovery-form-main-error-block {
    background: #FFFBDD;
    color: #FF9458;
    padding: 0.6em;
    width: 100%;
    margin-bottom: 26px;
    display: flex;
}
.main-error-msg-text,.main-error-svg, .recovery-form-success-msg,.recovery-form-success-svg {
    margin-left: 1em;
    font-size: 14px;
}
.err-msg-block {
    border: 1.5px solid #FF4E59;
    background: #FFFFFF;
}
.err-msg {
    color: #FF4E59;
    padding-top: 0.3em;
}
.recovery-pass-text {
    padding: 0 0.5em;
}
.create-account{
    text-align: center;
    display: block;
}
.recovery-form-success-msg-block {
    background: #E4FFEC;
    color: #2CDD88;
    padding: 0.6em;
    width: 100%;
    margin-bottom: 26px;
    display: flex;
}