.about-nav, .about-team-block{
    background: #F6F8FB;
}

.about-nav {
    margin-top: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 15px 60px 15px 60px;
    width: 100%;
}

.nav-links {
    cursor: pointer;
    margin: 0 25px;
    padding: 5px 10px;
    transition: 0.3s;
    font-weight: 600;
    color: #000;
}

.nav-links.active,
.nav-links:hover{
    color: #000;
    border-bottom: 2px solid  #2ED47A;
}

.about-team-block {
    padding: 90px 0 80px;
}

.employee-short-card {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0 40px;
}

.employee-short-card-el {
    border-radius: 15px;
    overflow: hidden;
    width: 350px;
    margin: 25px 10px;
}

.employee-icon {
    position: absolute;
    margin: 10px 0 0 285px;
}

.employee-short-card-info {
    padding: 35px;
}

.employee-name {
    font-weight: 600;
    font-size: 1.1rem;
    width: 100px;
}

.employee-short-card-position {
    font-size: .87rem;
    margin-top: 15px;
}

.employee-short-card-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.employee-card-img {
    overflow: hidden;
    max-height: 216px;
}
.employee-card-img img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.employee-card-img img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.team-quote-block {
    background: url("/v4/images/about-team-bg-image.png") no-repeat;
    height: 535px;
    width: 100%;
    border-radius: 15px;
    padding: 115px 50px;
    display: flex;
    justify-content: flex-end;
}

.team-quote {
    width: 560px;
    height: 305px;
    padding: 25px 55px 55px;
    background: #fff;
}

.team-quote::after{
    content:url("/v4/images/quote-arrow-left.png");
    position: absolute;
    margin: -210px 0 0 -90px;
}

.team-quote-description {
    justify-content: space-between;
    margin-top: 70px;
}


.career-block {
    background: #fff;
    border-radius: 15px;
    padding-right:  90px;
    margin-top: 45px;
    justify-content: flex-end;
    overflow: hidden;
}

.find-job-block {
    width: 50%;
    margin-top: 30px;
}

.find-job-block .btn-dark-outline {
    width: 245px;
    margin: 25px 0;
}
