.tags-block-cat {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tags-block-cat .tag-cat-el {
    background: #F7F7F7;
    border-radius: 16px;
    padding: 6px 25px;
    margin: 20px 25px 0 0;
}

.tags-block-cat .tag-cat-el a {
    color: #000;
}
