.reset-block {
    width: 600px;
    margin: 0 auto;
}
.reset-pass-text {
    padding: 0 1em;
}
.reset-block .user-guest-form-text-block,.reset-block .user-guest-form-item-all {
    width: 100%;
}
.reset-block .h3, .reset-block .reset-pass-text {padding: 0;}
.reset-pass-error {
    display: none;
}