.compare-block {
    margin: 35px 0;
}
.compare-block .compare-two-col {
    display: flex;
}

.compare-block .compare-two-col .compare_el:first-child {
    border-right: 1px solid #EBEDEF;
}

.compare-block .compare-two-col .compare_el {
    padding: 35px 45px;
    width: 50%;
}

.compare-block .compare-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 20px;
}
