.timeline-img {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    background: #F3F8FF;
    align-items: center;
    justify-content: center;
    margin: 0 16px 20px 0;
    flex-shrink: 0;

}

.timeline-period.h3 {
    margin-top: 0;
}

.timeline-fact {
    color:#7B878E;
    font-size: .87rem;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    height: 130px;
}

.timeline-item:not(:last-child) .timeline-img:after{
    content: '';
    border-left: 2px dashed #DCE4EC;
    height: 62px;
    width: 2px;
    position: absolute;
    top:50%;
    margin-top: 5px;
}

