.timeline-img {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    background: #F3F8FF;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    flex-shrink: 0;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    height: 130px;
}

.timeline-item:not(:last-child) .timeline-img:after{
    content: '';
    border-left: 2px dashed #DCE4EC;
    height: 62px;
    width: 2px;
    position: absolute;
    top:50%;
    margin-top: 5px;
}


.timeline-item:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline-item:nth-child(odd) .timeline-item-period{
    text-align: right;
}

.timeline-item:nth-child(even) .timeline-item-action{
    text-align: right;
}

.timeline-item-period {
    width: calc(50% - 58px);
}

.timeline-item-action {
    width: calc(50% - 58px);
    color:#7B878E;
    margin-top: 15px;
}

.timeline-item-icon {
    width: 116px;
}

.timeline-item-period.h3 {
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .timeline-item:nth-child(even), .timeline-item {
        flex-direction: column;
    }

    .timeline-item:nth-child(odd) .timeline-item-period, .timeline-item:nth-child(even) .timeline-item-action{
        text-align: left;
    }

    .timeline-item-period {
        width: 100%;
        padding-left: 150px;
        margin-top: -65px !important;
    }

    .timeline-item-action {
        width: 100%;
        padding-left: 150px;
    }

    .timeline-item-icon {
        order: -1;
    }

}
