.bank-item {
    padding: 1.5em 2em;
    margin: 2em 0;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
}

.bank-blue-text {
    color: #355FF1;
    display: block;
}

.bank-gray-text {
    color: #95A5B0;
    font-size: .87rem;
    display: block;
}
.bank-name {
    min-width: 20%;
}
.bank-name, .bank-contact,.bank-k5m,.bank-rate {
    flex-direction: column;
    line-height: 2rem;
}
.bank-name .bank-blue-text, .bank-phone,.bank-k5m-val,.bank-rat-num {
    font-weight: 600;
}
.bank-rate-val {
    align-items: center;
}
.bank-rat-num {
    margin-left: 0.5em;
}
.bank-categories {
    width: 100%;
    margin-top: 2em;
}
.bank-cat-item {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color:  #F3F8FF;
    font-size: 0.9rem;
    margin: 0 0.5em 1em 0.5em;
    color: #222735;
}

.bank-cat-item:hover {
    background: #222735;
    color: #fff;
}
.banks-page {
    display: none;
}
.banks-page.active_page {
    display: block;
}