table {
    width: 100%;
    table-layout:fixed;
}

table td, table th {
    padding: 1em 2em;
}

table .main-td {
    background: #F6F8FB;
    font-weight: bold;
}

table.table-vertical {
    border-collapse: collapse;
}

table.table-vertical tr:first-of-type td {
    padding-top: 25px;
}

table.table-vertical tr:last-of-type td {
    padding-bottom: 25px;
}

table.table-horizontal {
    border-radius: 25px;
    text-align: center;
    border-collapse: collapse;
}

table.table-horizontal .border-radius-1,
table.table-limit .border-radius-1,
table.table-info .border-radius-1{
    border-radius: 25px 0 0 0;
}

table.table-limit tr:not(:last-of-type),
table.table-info tr:not(:last-of-type) td:last-of-type {
    border-bottom: 1px solid #E7EBEE;
}


table.table-horizontal tr:not(:first-of-type) {
    border-top: 1px solid #E7EBEE;
}

table.table-horizontal .border-radius-2,
table.table-limit .border-radius-2,
table.table-info .border-radius-2{
    border-radius: 0 25px 0 0;
}

table.table-limit {
    border-radius: 25px;
    border-collapse: collapse;
    width: 1110px;
    margin-left: -165px;
}

table.table-limit td {
    text-align: center;
}

table.table-limit td:first-child {
    text-align: left;
}

table.table-limit td th svg{
    margin-left: 10px;
}

table.table-limit tr th svg:active{
    transform: rotate(180deg);
}


table.table-info {
    border-radius: 25px;
    text-align: left;
    border-collapse: collapse;
}

table.table-info tr td:first-of-type {
    width: 30%;
}

table.table-info .border-radius-3,
.table .tr .border-radius-3{
    border-radius: 0 0 0 25px;
}


/*div table*/

.table-info-block {
    width: 100%;
    margin: 30px 0;
}

.table-info-block  .tr {
    display: flex;
    justify-content: space-between;
}

.table-info-block .tr .td {
    padding: 1.5em;
}

.table-info-block .tr .td svg {
    margin-left: 10px;
}

.table-info-block .tr .td:first-of-type {
    width: 30%;
    background: #F6F8FB;
    font-weight: 600;
}

.table-info-block .tr .border-radius-1,
.table-limit-block .border-radius-1,
.light-border  .border-radius-1{
    border-radius: 25px 0 0 0 ;
}

.table-info-block .tr .td:last-of-type {
    width: 70%;
}

/*table 2*/

.table-limit-block {
    width: 1110px;
    margin: 30px 0 30px -165px;
}

.table-limit-block .tr {
    display: flex;
    justify-content: space-between;
}

.table-limit-block .tr:not(:last-of-type):not(:first-of-type),
.light-border .tr:not(:last-of-type):not(:first-of-type),
.table-info-block .tr:not(:last-of-type) .td:last-of-type {
    border-bottom: 1px solid #E7EBEE;
}

.table-limit-block .tr .th{
    border-bottom: none;
    font-weight: 700;
    background: #F6F8FB;
    float: right;
}

.table-limit-block .border-radius-2,
.light-border .border-radius-2{
    border-radius: 0 25px 0 0;
}

.table-limit-block .tr .th svg{
    margin-left: 5px;
    cursor: pointer;
    width: 8px;
    height: 6px;
}

.table-limit-block .tr .th svg:active{
    transform: rotate(180deg);
}

.table-limit-block .tr .td {
    padding: 1em 2em;
    width: 25%;
}

/*table 3*/

.table-vertical-block {
    width: 100%;
    margin: 30px 0;
}

.table-vertical-block .tr {
    display: flex;
    justify-content: space-between;
}

.table-vertical-block .tr .th {
    background: #F6F8FB;
    border-bottom: none;
    font-weight: 700;
}

.table-vertical-block .tr:first-of-type .td {
    padding-top: 30px;
}
.table-vertical-block .tr:last-of-type .td {
    padding-bottom: 30px;
}

.table-vertical-block .tr .td {
    padding: 1.2em;
    width: 25%;
}

/*table 4*/

.light-border {
    margin: 30px 0;
}

.light-border .tr {
    display: flex;
    justify-content: space-between;
}

.light-border .tr .td {
    padding: 1.2em;
    width: 50%;
    text-align: center;
}

.light-border .tr .th{
    background: #F6F8FB;
    font-weight: 700;
}
