.card-wrap {
    width: 100%;
    margin: 30px 0;
}

.card-stock{
    border: 7px solid #9FF9C8;
}

/*.card-wrap .stock {*/
    /*position: absolute;*/
    /*background: #9FF9C8;*/
    /*font-weight: 600;*/
    /*width: 120px;*/
    /*height: 40px;*/
    /*text-align: center;*/
    /*padding: 5px;*/
    /*border-radius: 25px 0;*/
    /*font-size: 1.2em;*/
/*}*/

.card-wrap .card-header {
    padding: 20px 60px 20px 60px;
}

.card-wrap .card-header .card-first-line {
    margin-top: 10px;
    margin-left: 15%;
    width: 82%;
    display: flex;
    justify-content: space-between;
}

.card-wrap .card-header .card-first-line a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-left: -10px;
}

.card-wrap .card-header .card-first-line .card-icons svg:not(:last-of-type){
    margin-right: 20px;
}

.card-wrap .card-header .card-top-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.card-wrap .card-header .card-top-inner .logo {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.card-wrap .card-header .card-top-inner .block-row .top-inner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrap .card-header .card-top-inner .block-row .card-head-intro {
    font-weight: 600;
}

.card-wrap .card-header .card-top-inner .block-row .card-cont {
    color: #95A5B0;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 15px;
}

.card-wrap .card-header .reviews span {
   font-size: 1em;
    margin-left: 5px;
}

.card-wrap .card-body {
    margin-top: -20px;
}

.card-wrap .card-body .card-bottom-line {
    display: flex;
    justify-content:space-between;
    padding-right: 95px;
}

.card-wrap .card-body .card-body-inner .card-upd {
    color: #95A5B0;
    font-size:  .87em;
    line-height: 1.3em;
    padding: 10px 60px;
    float: right;
    margin-right: 30px;
}


.card-wrap .card-body .card-body-inner .card-more {
    display: block;
    color: #4FABFA;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 65px;
    margin-bottom: 15px;
}

.card-wrap .card-body .card-body-inner .hidden-card-info {
    overflow: hidden;
    max-height: 0;

}

.card-wrap .card-body .card-body-inner .hidden-card-info .text-hidden-card {
    line-height: 1.75em;
    font-size: 1.1em;
    margin-top: 30px;
    padding: 0 60px 0 60px;
}

.card-wrap .card-body .hidden-card-info .card-video {
    margin-top: 30px;
    height: 172px;
    background: #F6F8FB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 65px;
}

.review-btn {
    width: 204px;
    height: 44px;
    border-radius: 23px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
}

.review-btn svg {
    margin-right: 15px;
}

.card-wrap .card-body .hidden-card-info .card-video .row-card-el {
    text-align: center;
}

.card-wrap .card-body .hidden-card-info .card-video .row-card-el:last-of-type{
    margin-left: 67px;
}

.card-wrap .card-body .hidden-card-info .card-video .row-card-el .percent {
    font-size: 2.25em;
    font-weight: 600;
}


.hidden-card-info .tab {
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 15px 60px 15px 60px;
    width: 100%;
}

.hidden-card-info .tab .tablinks {
    background-color: inherit;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 25px;
    padding: 5px 10px;
    transition: 0.3s;
    font-weight: 600;

}

.hidden-card-info .tab .tablinks.on {
    color: #352D39;
    border-bottom: 2px solid  #2ED47A;
}

.hidden-card-info .tabs-items .tabcontent.on{
    display:block;
}

.hidden-card-info .tabs-items .tabcontent {
    display: none;
}

.hidden-card-info .tabs-items .tabcontent ul {
    list-style-type: none;
}
.hidden-card-info .tabs-items .tabcontent .table-vertical-block {
    margin: 10px 0;
}

.hidden-card-info .tabs-items .tabcontent .table-vertical-block .tr:hover .td:first-of-type {
    background: #E6EBEF;
}

.hidden-card-info .tabs-items .tabcontent .table-vertical-block .tr:hover .td:last-of-type {
    background: #F6F8FB;
}

.hidden-card-info .tabs-items .tabcontent .table-vertical-block .tr .td:first-of-type {
    width: 35%;
    background: #F6F8FB;
    font-weight: 600;
}

.hidden-card-info .tabs-items .tabcontent .table-vertical-block .tr .td:last-of-type {
    width: 65%;
}

.hidden-card-info .tabs-items .tabcontent .table-vertical-block .tr .td {
    padding-left: 65px;
}

.card-wrap .hidden-card-info .slider {
    margin-top: 50px;
    padding: 0 100px 40px 100px;
}

.card-wrap .hidden-card-info .slider .slider-block {
    display: flex;
    justify-content: space-between;
}

.card-wrap .hidden-card-info .slider .slider-block .slider-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.card-wrap .hidden-card-info .slider .slider-block .slider-info {
    cursor:pointer;
    display: block;
    text-align: center;
}


.card-wrap .hidden-card-info .slider .slider-block .slider-info .border-radius svg {
    width: 23px;
}

.card-wrap .hidden-card-info  .slider .slider-block .slider-info .text-cont {
    font-size: 0.9em;
}


.hidden-card-info .list-card-block {
    display: flex;
    flex-wrap: wrap;
    padding: 0 65px;
}

.hidden-card-info .list-card-block .list-card_el {
    display: flex;
    width: 30%;
    margin: 35px 30px 0 0;

}
.hidden-card-info .list-card-block .list-card_el svg {
    margin-top: 5px;
}

.hidden-card-info .list-card-block .list-card_el span {
    margin-left: 10px;
}

.hidden-card-info .card-btn-wrap {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 50px 0;
}

.hidden-card-info .card-btn-wrap .card-left-btn {
  margin-top: 30px;
}

.hidden-card-info .card-btn-wrap .card-right-btn {
    display: flex;
}


.hidden-card-info .card-btn-wrap .btn:last-of-type {
    margin-left: 65px;
}
