.rating-area {
    padding: 18px 0 25px;
    text-align: center;
    border-top: 1px solid #E8EEF6;
    border-bottom: 1px solid #E8EEF6;
}
.rating-area .rating-wrap:not(.no-rate-poss) svg {
    fill: #DCE4EC;
    padding-right: 5px;
    cursor: pointer;
}
.rating-area .rating-val {
    margin-top: 10px;
    color: #95A5B0;
}

.rating-area .rating-wrap {
    justify-content: center;
}
.rating-area .h5 {
    font-size: 0.875rem;
}