.rating-area {
    padding: 18px 0 25px;
    text-align: center;
}
.rating-area .h3 {
    margin: 0 auto 13px;
}

.rating-area .rating-wrap:not(.no-rate-poss) svg {
    fill: #DCE4EC;
    padding-right: 5px;
    cursor: pointer;
}
.rating-area .rating-val {
    margin-top: 10px;
    color: #95A5B0;
}

.rating-area .rating-wrap {
    justify-content: center;
}