.rating-area {
    margin: 30px 0;
    text-align: center;
}
.rating-area .h3 {
    margin: 10px auto;
}

.rating-area .rating-wrap:not(.no-rate-poss) svg {
    fill:#E6EBEF;
    padding-right: 20px;
    cursor: pointer;
}
.rating-area .rating-val {
    margin-top: 10px;
    color: #95A5B0;
}

.rating-area .rating-wrap {
    justify-content: center;
}