.rating-area {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #E8EEF6;
    border-bottom: 1px solid #E8EEF6;
}

.rating-area .h5{
    margin-top: 0;
}

.rating-area .rating-wrap:not(.no-rate-poss) svg {
    fill:#E6EBEF;
    margin: 0 5px;
    cursor: pointer;
    flex-shrink: 0;
}
.rating-area .rating-val {
    margin-top: 7px;
    font-size: .75rem;
}

.rating-area .rating-wrap {
    justify-content: center;
}

.result-rating-vote {
    margin-top: 10px;
}
