.nav-menu {
    overflow: auto;
    padding: 5px 0;
    width: 100%;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.nav-menu::-webkit-scrollbar {
    height: 0;
}


.nav-links {
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
    font-weight: 600;
    color: #636363;
}

.nav-links.active {
    color: #000000;
}