.nav-menu {
    overflow: auto;
    padding: 5px 0;
    width: 100%;
    white-space: nowrap;
}

.nav-menu::-webkit-scrollbar {
    height: 0;
}


.nav-links {
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.3s;
    font-weight: 600;
    color: #000;
}

.nav-links.active,.nav-links:hover {
    color:  #355FF1;
}
