.nav-menu-center {
    justify-content: center;
    padding: 15px 60px 15px 60px;
}

.nav-menu {
    margin-top: 20px;
    overflow: hidden;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}

.nav-links {
    cursor: pointer;
    padding: 5px 10px 5px 0;
    transition: 0.3s;
    font-weight: 600;
    color: #636363;
}

.nav-links:not(:last-child){
    margin: 0 25px 0 0;
}

.nav-links.active,.nav-links:hover {
    color: #000000;
}

.nav-menu-settings-button {
    margin-top: 20px;
    padding: 15px 0;
    align-items: center;
}