.about-nav{
    background: #F6F8FB;
}

.about-nav {
    margin-top: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 15px 60px 15px 60px;
    width: 100%;
}

.nav-links {
    cursor: pointer;
    margin: 0 25px;
    padding: 5px 10px;
    transition: 0.3s;
    font-weight: 600;
    color: #000;
}

.nav-links.active,.nav-links:hover {
    color: #000;
    border-bottom: 2px solid  #355FF1;
}
