.block-with-back-link {
    margin: 30px auto;
    max-width: 490px;
    padding: 35px 90px;
    text-align: center;
    background: #fff;
}

.block-with-back-link p {
    font-size: 1.1rem;
}

.block-with-back-link a {

}