.contacts-block-items {
    justify-content: space-between;
    flex-wrap: wrap;
}
.contacts-block-item {
    width: 48%;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.contacts-item-logo a {
    display: block;
}
.contacts-block-item-text {
    padding: 1em 0 1em 3em;
}
.contacts-item-logo {
    border-left: 1px solid #E5E5E5;
    height: 100%;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacts-item-logo img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.contacts-block-form {
    padding: 3em;
    background-color: #ffffff;
    margin-top: 2em;
    justify-content: space-between;
}
.contact-block-form-left-side .h3 {
    margin-top: 0;
}
.contacts-block-form input {
    padding: 6px 19px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.728rem;
    margin-bottom: 0.5em;
}
.contacts-block-form .contacts-form-2-items-block {
    justify-content: space-between;
    align-items: center;
}
.contacts-block-form .contact-form-text {
    font-size: 0.69rem;
}

.contacts-block-text-img-block {
    background-color: #ffffff;
    justify-content: space-between;
    padding: 1em 3em;
    margin: 2em 0 2.5em;
}

.contacts-block-bottom-img {
    padding: 1em 3em 0;
}


.contacts-block-text-img-block img {
    max-width: 340px;
}
.contacts-block-text-img-block .contacts-block-text {
    width: 70%;
}
.contacts-block .w-30 .h6 {
    margin: 0.5em;
}
.contacts-block .sp-between .w-30 img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-top: 1em;
}
.contacts-block-form .w-50 {
    width: 48%;
}
.contacts-block .sp-between {
    justify-content: space-between;
}
.contacts-block .white-bg {
    background-color: #ffffff;
}
.contacts-block .item-padding {
    padding: 1em 3em;
}
.contacts-block .w-30 {
    width: 32%;
}

.add_appeal {
    margin-top: 35px;
}

.contacts-item-social a {
    margin-right: 14px;
}

.agreement-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.agreement-checkbox + label {
    margin-right: 7px;
    width: 14px;
    height: 14px;
}

.agreement-checkbox + label::before {
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border: 0.5px solid #636363;
    border-radius: 4px;
}

.checked-checkmark,
.agreement-checkbox:checked + label::before {
    display: none;
}

.agreement-checkbox:checked + label .checked-checkmark {
    display: inline-block;
    cursor: pointer;
    min-width: 14px;
    margin: 3px 7px 8px 0;
}

@media only screen and (max-width: 1023px) {
    .contacts-block-item {
        width: 100%;
        margin-bottom: 1em;
    }
}