.smi-block{
    padding: 50px 0;
}
.smi-block .h2 {
    text-align: center;
    margin-bottom: 30px;
}

.smi-inner-block {
    background: #fff;
}

.smi-inner-block .smi-content {
    margin-top: 15px;
    margin-bottom: 25px;
}
.smi-inner-block a {
    font-weight: 400;
}
.smi-inner-block{
    padding: 30px;
}
.jsSlideItem .smi-info .smi-img {
    margin: unset;
}