.pagination {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.pagination a {
    color: #222735!important;
}

.pagination a:hover {
    background: #2ED47A !important;
    color: #fff!important;
}

.pagination a, .pagination .pagination-current-page {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
}

.pagination .pagination-current-page {
    background: #2ED47A !important;
    color: #fff!important;
}

.pagination-prev-btn:hover path, .pagination-next-btn:hover path {
    stroke: #fff;
}
