.review-f {
    margin: 55px 0;
}
.review-f .review-f-bl {
    display: flex;
}
.review-form .form-1 {
    color: #95A5B0;
    background: #ffffff;
    width: 100%;
    padding: 0;
    margin-top: 21px;
}
.review-form .form-1 input,#review-form{
    width: 100%;
    background-color: #ffffff;
}
.review-f .rating {
    margin: 25px 0;
}
.review-form .form-1-active {
    border: none;
}
.review-f .r-btn-wrap {
    margin: 10px auto;
    justify-content: left;
    align-items: center;
}
.review-form .form-1 input,.review-form .form-1 textarea {
    background-color: #ffffff;
    padding: 8px 0;
    border-bottom: 1px solid #E6EBEF;
}
.review-f .h3 {
    font-size: 1.625rem;
}
.review-f .info {
    max-width: 790px;
}
.review-f .rating-wrap {
    margin-top: 46px;
}
.review-f .rating-wrap svg {
    width: 30px;
    height: 30px;
}
.block-reviews .review-wrap #review-form {
    background-color: #F6F8FB;
    border-radius: 10px;
    padding: 0 1em;
}
.block-reviews .review-form .form-1 input,.block-reviews .review-form .form-1 textarea,.block-reviews .review-form .form-1 .r-btn-wrap {
    background-color: #F6F8FB;
}