.review-f {
    margin: 55px 0;
}

.review-f .review-f-bl {
    display: flex;
}

.review-form .form-1 {
    color: #95A5B0;
    width: 720px;
    padding: 15px 45px 20px;
}

.review-f .rating {
    margin: 25px 0;
}

.review-f .info {
    width: 350px;
    padding: 55px 60px;
    margin: 15px 0 15px 45px;
    border-radius: 15px;
}

.review-f .r-btn-wrap {
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}