.review-f {
    margin: 55px 0;
}
.review-f .review-f-bl {
    display: flex;
}
.review-form .form-1 {
    color: #95A5B0;
    background: #ffffff;
    width: 100%;
    padding: 0;
}
.review-form .form-1 input,#review-form{
    width: 100%;
    background-color: #ffffff;
}
.review-f .rating {
    margin: 25px 0;
}
.review-form .form-1-active {
    border: none;
}
.review-f .r-btn-wrap {
    margin: 10px auto;
    justify-content: left;
    align-items: center;
}
.review-form .form-1 input,.review-form .form-1 textarea {
    background-color: #ffffff;
}