.steps-sodp {
    padding: 80px 0;
}

.steps-sodp .h2 {
    margin: 0 0 30px;
}

.steps-sodp .about-short-code-content {
    margin: 30px 0;
}

.step-sodp{
    padding:30px 65px 45px;
    margin: 20px 95px;
    background: #fff;
}
