.user-account-dashboard {
    margin: 20px auto;
    padding: 70px 170px;
    background: #fff;
}

.dashboard-user-name {
    margin-bottom: 60px;
}

.user-account-dashboard-item {
    margin: 5px 0;
    padding: 5px 10px;
}

.user-account-dashboard-item a {
    color: #000;
}

.user-account-dashboard-item:hover a{
    color: #355FF1;

}

.user-account-dashboard-item:hover a svg path {
    stroke: #355FF1;
}

.user-account-dashboard-item svg {
    vertical-align: -5px;
}