.author-block .author-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.author-block .author-info {
    font-size: 1rem;
    margin-left: 15px;
}
.author-block .author-name {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.author-block {
    align-items: center;
    width: fit-content;
    margin: 15px 0;
}