.author-block .author-img {
    max-width: 56px;
    max-height: 56px;
    border-radius: 50%;
}
.author-block .author-info {
    font-size: 0.9rem;
    margin-left: 15px;
}
.author-block .author-name {
    font-weight: 600;
}
.author-block {
    align-items: center;
    width: fit-content;
    margin: 15px 0;
}