.our-benefits-slider {
    overflow: auto;
}
.our-benefits-slider::-webkit-scrollbar{
    height: 0;
}

.our-benefit-item-wrap {
    flex-direction: column;
    background: #fff;
    width: 252px;
    flex-shrink: 0;
    margin: 16px;
    align-items: center;
    font-size: .87rem;
}

.our-benefit-item-icon {
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #FBE9DC;
}

.our-benefits-title {
    font-weight: 600;
    margin: 15px 0;
}

.our-benefits-text {
    color: #95A5B0;
}