
.our-benefits {
    padding: 10px 0 90px;
}

.our-benefit-item-inner {
    padding: 25px 65px 45px;
    background: #fff;
}

.our-benefit-item {
    width: 66%;
}

.our-benefits-img {
    width:33%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
