.card-sel-block {
    padding: 15px 0;
    margin: 50px 0;
}

.card-sel-block .h5 {
    font-weight: 600;
    text-align: center;
}

.card-sel-inner {
    padding: 30px 25px;
    margin-top: 20px;
}

.card-sel-content {
    text-align: center;
}


.card-sel-title {
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: 600;
}

.card-sel-body ul {
    padding: 0;
}

.card-sel-body ul li {
    font-weight: 600;
    margin-top: 10px;
}


.card-sel-text {
    margin-top: 10px;
}

