.card-sel-block {
    padding: 15px 0;
    margin: 15px 0;
    border-bottom: 1px solid #F6F8FB;
}

.card-sel-inner {
    margin-bottom: 30px;
}

.card-sel-body {
    display: flex;
    margin-top: 50px;
}

.card-sel-title {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: 600;
}

.card-sel-left {
    width: 70%;
}

.card-sel-left ul {
    margin-top: 40px;
}

.card-sel-left ul li {
    font-weight: 600;
}

.card-sel-right {
    width: 30%;
    text-align: right;
}


