.similar-offer .h2 {
    text-align: center;
    margin-bottom: 50px;
}

.similar-offers_block{
    display: flex;
}

.similar-offers_el {
    width: 347px;
    padding: 30px;
}

.similar-offers_el:first-of-type {
    margin-left: 60px;
}

.similar-offers_el:not(:last-of-type) {
    margin-right: 30px;
}

.similar-offers_title {
    font-weight: 600;
    margin-top: 12px;
    font-family: 'Inter', sans-serif;
    color: #4FABFA !important;
}

.similar-offers_title a {
    margin-left: 25px;
}

.similar-offers_img {
    margin-top: 10px;
    display: flex;
}

.similar-offers_rating {
    color: #222735;
    font-weight: 600;
    margin: 10px 0 0 10px;
}

.similar-offers_rating svg {
    margin-left: 10px;
}

.similar-offers_img img {
    width: 100%;
    max-width: fit-content;
}

.offer-label{
    width: 60%;
}

.offer-label-title {
    margin-top: 5px;
    width: 40%;
    color: #828282;
    font-size: 0.87rem;
}


.similar-offers_el .similar_info_el {
    margin-top: 15px;
    display: flex;
}

.similar-offer_block-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
