.similar-offer {
    align-items: center;
    width: 1106px;
}

.h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
}

.similar-offers_block{
    display: flex;
}

.similar-offers_el {
    padding: 30px 32px;
}

.similar-offers_el:first-of-type {
    margin-left: 62px;
}

.similar-offers_el:not(:last-of-type) {
    margin-right: 32px;
}

.similar-offers_title {
    font-weight: 600;
    margin-top: 12px;
    font-family: 'Inter', sans-serif;
    color: #4FABFA !important;
}

.similar-offers_title a {
    margin-left: 25px;
}

.similar-offers_img {
    margin-top: 10px;
    display: flex;
}

.similar-offers_rating {
    color: #222735;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
}

.similar-offers_rating svg {
    margin-left: 10px;
}

.similar-offers_img img {
    width: 100%;
    max-width: fit-content;
}

.offer-label{
    width: 60%;
}

.offer-label-title {
    width: 40%;
    color: #828282;
    font-size: 0.87em;
}


.similar-offers_el .info_el {
    margin-top: 15px;
    display: flex;
}

.similar-offer_block-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.similar-offer_block-btn .btn {
    margin-top: 30px;
    font-family: 'Proxima Nova Rg', sans-serif;
    width: 190px;
    height: 44px;
    background:  #2ED47A;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1em;
}

