.secured-loans {
    flex-flow: wrap;
    margin-bottom: 15px;
}

.secured-loans-item {
    width: 25%;
}

@media screen and (max-width: 992px) {
    .secured-loans-item {
        width: 33%;
    }
}

@media screen and (max-width: 768px) {
    .secured-loans-item {
        width: 50%;
    }
}

@media screen and (max-width: 560px) {
    .secured-loans-item {
        width: 100%;
    }
}