.timeline-wrap_el {
    text-align: center;
    margin: 10px 15px;
    padding: 40px 24px;
    height:290px;
    width: 251px;
}

.timeline-wrap_el-date {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.slick-center img {
    max-width: 251px;
}

.slick-slide {
    height: 300px;
}

.slick-dots {
    list-style-type: none;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

ul.slick-dots {
    padding: 0;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: url('/v4/images/dots_slider.svg');
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.slick-dots li.slick-active button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: url('/v4/images/dots_active-slider.svg');
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
