.timeline-wrap_row {
    display:flex;
    flex-wrap: wrap;
    margin: 30px 0;
    font-size: .9em;
}

.timeline-wrap_el {
    width: 20%;
    margin-top: 50px;
    margin-right: 2%;
    text-align: center;
    stroke: black;
    height:90px;
}

.timeline-wrap-circle{
    height: 35px;
}

.timeline-wrap_el-text {
    margin-top: 10px;
}

.timeline-wrap_el .timeline-wrap-circle .icon-show {
    display: none;
}

.timeline-wrap_el:hover .timeline-wrap-circle {
    margin-left: 40px;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #2ED47A;
    box-shadow: 0 4px 10px rgba(135, 145, 159, 0.15);
    z-index: 2;
    opacity: 1;
    position: relative;
}


.timeline-wrap_el:hover .timeline-wrap-circle .icon-hide {
    display: none;
}

.timeline-wrap_el:hover .timeline-wrap-circle .icon-show {
    display: block;

}

.timeline-wrap_el-date {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: 600;
}

.timeline-hidden-block {
    display: none;
}

.timeline-wrap_el:hover .timeline-hidden-block {
    position: absolute;
    width: 320px;
    padding: 40px 30px;
    text-align: center;
    margin: -40px  -80px;
    display: block;
    background: #fff;
    opacity: 1;
    border-radius: 15px;
}

.timeline-wrap_el:hover > .timeline-wrap_el-date {
    display: none;
}