.news-index-post-block {
    /*max-width: 655px;*/
    margin: 1em auto;
    background: #fff;
    /*padding: 16px;*/
}

.news-index-post-header {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #636363;
    padding: 8px 16px 12px;
}

.news-index-post-content .news-post-content-padding {
    margin-bottom: 0;
}
.news-post-link svg {
    margin-right: 1em;
}
.news-post-title {
    color: #000 !important;
}
.news-index-post-block .news-post-img {
    width: 100%;
}

.news-index-post-footer {
    color: #888;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 16px;
    margin-top: 10px;
}

.news-index-post-footer .left-block {
    align-items: center;
    min-width: 45px;

}

.news-index-post-footer .left-block svg {
    margin-right: 5px;
}
.news-index-post-footer .right-block .news-post-rating {
    margin: -2px 3px 0 17px;
    align-items: center;
}
.news-index-post-footer .right-block {
    align-items: center;
}
.news-index-post-block .news-post-title {
    font-size: 1.2rem;
    position: relative;
    padding: 0 16px;
    margin: 0 0 10px;
    display: block;
}
.news-index-post-content {
    position: relative;
}

.news-index-post-tag {
    display: flex;
    align-items: center;
    padding: 3px 14px;
    border-radius: 5px;
    margin-top: 8px;
}

.news-index-post-tag:not(:last-child) {
    margin-right: 25px;
}

.news-index-post-tag svg {
    margin-right: 9px;
}

.news-index-post-link {
    display: block;
    height: 100%;
}
.news-index-post-link:after {
    content: '';
    height: inherit;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.news-post-padding {
    padding-right: 16px;
    padding-left: 16px;
}