.news-index-post-block {
    max-width: 655px;
    margin: 1em auto;
    background: #fff;
}
.news-index-post-header {
    justify-content: space-between;
    align-items: center;
}
.news-index-post-block .news-post-link {
    font-weight: 600;
    align-items: center;
    font-size: 0.875rem;
}
.news-post-padding, .news-post-content-padding {
    padding: 1.3125rem 2rem;
}
.news-index-post-footer {
    padding: 0 2rem 1.3125rem 2rem;
}
.news-index-post-content .news-post-content-padding {
    margin-bottom: 0;
}
.news-post-link svg {
    margin-right: 1em;
}
.news-post-title {
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #000 !important;
}
.news-index-post-block .news-post-img {
    width: 100%;
}
.news-index-post-block .new-index-post-date, .news-index-post-block .news-post-rating {
    font-size: 0.9rem;
    margin-right: 27px;
}
.news-index-post-footer {
    color: #95A5B0;
    align-items: center;
    justify-content: space-between;
}
.news-index-post-footer .left-block {
    align-items: center;
    min-width: 45px;
    justify-content: space-between;
}
.news-index-post-footer .right-block .news-post-rating {
    min-width: 145px;
    justify-content: space-between;
    margin: 0 1em;
    align-items: center;
}
.news-index-post-footer .right-block svg {
    margin-right: 7px;
}
.news-index-post-footer .right-block {
    align-items: center;
}
.news-index-post-block .news-post-title {
    position: relative;
    margin-top: 0;
    display: block;
}
.news-index-post-content {
    height: calc(100% - 90px);
    position: relative;
}
.news-index-post-link {
    display: block;
    height: 100%;
}
.news-index-post-link:after {
    content: '';
    height: inherit;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.video-index-post {
    margin: 30px 0;
    flex-wrap: wrap;
}

.video-post-block {
    width: 300px;
    margin: 10px;
    background: #fff;
}

.video-post-tag {
    position: absolute;
    padding: 5px 15px;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    color:#355FF1;
    font-weight: 600;
    font-size: .87rem;
    font-family: 'Inter', sans-serif;
}

.video-post-tag svg {
    margin-right: 10px;
}

.video-post-content-block {
    padding: 15px 20px;
    color: #fff;
}

.video-post-block img {
    border-radius: 15px 15px 0 0;
}

.video-post-time-tag {
    position: absolute;
    padding: 5px 15px;
    color: #fff;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    justify-content: flex-end;
    margin-top: -50px;
    margin-left: 230px;
}

.video-post-footer {
    justify-content: space-between;
    color: #95A5B0;
}