.log-form-block {
    background: url(/v4/images/reg-form-img.png) no-repeat left;
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
    background-size: contain;
}
.log-form-text-block {
    background: #FFFFFF;
    width: 70%;
    padding: 1em 2em;
}
.log-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.log-form-inp {
    border-radius: 10px;
    background-color: #F6F8FB;
    padding: 0.4em 1em;
    outline: none;
    border: none;
    width: 100%;
}
.log-form-item-title {
    font-weight: 600;
    width: 50%;
    margin-bottom: 0.3em;
}
.log-form-item-all {
    width: 95%;
    position: relative;
    margin-bottom: 0.5em;
}
.log-form-title {
    width: 100%;
    font-weight: 700;
    margin-bottom: 1em;
    padding-left: 0.3em;
}
.show-pass{
    position: absolute;
    right: 5%;
    top: 2em;
}
.log-form-btn {
    width: 94%;
    border: none;
    margin-bottom: 1em;
}
.captcha {
    padding: 1em;
    width: 60%;
    border: 1px solid #222735;
    position: relative;
    left: -17%;
    margin: 1em 0;
}
.log-form-main-error-block {
    background: #FFEDF3;
    color: #FF4E59;
    padding: 0.6em;
    width: 100%;
    margin-bottom: 26px;
    display: flex;
}
.main-error-msg-text,.main-error-svg,.log-form-success-svg,.log-form-success-msg {
    margin-left: 2em;
}
.err-msg-block {
    border: 1.5px solid #FF4E59;
    background: #FFFFFF;
}
.err-msg {
    color: #FF4E59;
    padding-top: 0.3em;
}
.account-exist-and-log-block {
    display: flex;
    justify-content: space-evenly;
}
.checked-checkmark, #remember-me:checked {
    display: none;
}
#remember-me:checked + .checked-checkmark {
    display: inline-block;
}
.remember-me-label {
    display: inline-flex;
    align-items: center;
    padding: 0.5em;
}
.remember-me-btns {
    display: inline-flex;
    width: 1.5em;
}
.log-form-success-msg-block {
    background: #E4FFEC;
    color: #2CDD88;
    padding: 0.6em;
    width: 100%;
    margin-bottom: 26px;
    display: flex;
}