
.first-section-about {
    padding-top: 50px;
}

.first-section-about .h1 {
    margin: 0 auto 160px;
    width: 470px;
}

.first-section-about-info-wrap {
    justify-content: space-between;
    padding: 45px 65px;
    border-radius: 15px;
    background: #fff;
    margin: 80px 0;
}

.first-section-about-info-el-icon {
    margin: 10px 10px 0 0;
}

.first-section-about-info-el{
    justify-content: center;
}

.first-section-count-info {
    font-weight: 700;
    font-size: 2.5rem;
}
