.no-slider-image {
    margin: 30px 0;
}

.no-slider-image-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.no-slider-image-item {
    background: #fff;
    width: 255px;
    height: 64px;
    margin-bottom: 25px;
}

.no-slider-image-block img{
    margin: 15px 10px;
    max-width: 48px;
    max-height: 48px;
}