.we-compare {
    /*background: #F6F8FB;*/
    padding: 50px 0;
}

.we-compare .h2 {
    text-align: center;
}

.we-compare-description {
    padding: 30px 160px;
}

.we-compare-items-wrap {
    display: flex;
    justify-content: space-between;
}

.we-compare-item {
    background: #fff;
    padding: 30px 30px 60px 30px;
    width: 23%;
    border-radius: 15px;
}

.we-compare-item-title{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
}

.we-compare-icon {
    display: block;
    margin: 0 auto;
}


.we-compare-insert-video-block {
    width: 100%;
    margin: 30px 0;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.video-img {
    width: 100%;
    height: 295px;
    opacity: 0.9;
    transition: transform 1s;
}

.play-video-el {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-video-el img {
    border-radius: 15px;
}

.play-video-el .play-icon {
    position: absolute;
    margin: auto;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
}

.play-video-el {
    background: #000;
    border-radius: 17px;
}

.play-video-el:hover svg{
    transition: transform 0.5s;
}


.play-video-el:hover svg {
    transform: scale(1.1)
}

.play-video-el:hover .video-img {
    opacity: 1;
}


.we-compare-insert-video-block:hover .video-img{
    transform: scale(1.1);
}





