.getting-offer .h2,
.getting-offer-title {
    text-align: center;
}

.getting-offer-num {
    background: #F7F7F7;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: #888888;
    font-weight: 700;
    position: relative;
}
.getting-offer-text{
    font-size: 16px;
}
.getting-offer-cont {
    margin-left: 16px;
}

.getting-offer-item:not(:last-child) .getting-offer-num::after {
    content: '';
    position: absolute;
    background: #E5E5E5;
    width: 2px;
    height: 40px;
    left: 25px;
    margin-top: 110px;
}

.getting-offer-item:not(:first-child) {
    margin-top: 18px;
}

/*.getting-offer-item:last-child{*/
/*margin-left: 25px;*/
/*}*/