.getting-offer .h2,
.getting-offer-title {
    text-align: center;
}

.getting-offer-num {
    font-size: 1.875rem;
    background: #F7F7F7;
    border-radius: 15px;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.getting-offer-text{
    font-size: 16px;
}
.getting-offer-block {
    display: flex;
    text-align: center;
    margin: 50px 0;
}
.getting-offer-item {
    width: 33%;
    padding: 0 1em;
    position: relative;
}
.getting-offer-item:not(:last-child) .getting-offer-num::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid  #E5E5E5;
    width: 60%;
    left: 70%;
}