.scale-rating-block {
    padding: 15px;
    background: #fff;
}

.scale-rating-block .scale {
    width: 100%;
    height: 6px;
    background:#E8EEF6;
    border-radius: 50px;
    display:flex;
    justify-content: space-between;
    margin: 0 10px;
}

.scale-rating-block .scale .percent {
    height: 6px;
    border-radius: 50px;
    margin: 0;
}

.scale-rating-block .reviews-rating-title {
    margin-top: 15px;
}

.scale-rating-block .count-review {
    color:#95A5B0;
    font-size: .875rem;
    text-align: right;
}
.scale-rating-el span {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 0.5em;
    display: block;
}
.scale-rating-block .info {
    margin-top: 10px;
    align-items: center;
}


.scale-rating-block .info .reviews-count {
    color:#95A5B0;
    width: 40px;
}
.scale-rating-block .btn {
    margin: 10px auto;
    width: 100%;
    font-weight: normal;
}


.scale-rating-block-header {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.scale-rating-el {
    align-items: center;
}
.scale-rating-block hr {
    width: calc(100% + 30px);
    margin-left: -15px;
}

.link-to-original-page {
    font-size: 0.9rem;
    display: block;
    margin-top: 10px;
}