*, ::after, ::before {
    box-sizing: border-box;
    font-size: 1em;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222735;
    text-align: left;
    background-color: #fff;
}

body, input, textarea, select, .btn , .btn-1{
    font-family: 'Proxima Nova Rg', sans-serif;
}


a, a:visited:not(a.btn,.breadcrumbs a) {
    color: #4FABFA;
}

a {
    text-decoration:none;
}

img, iframe {
    max-width: 100%;
    height: auto;
}
p {margin-top: 0;}

.content {
    max-width: 790px;
    margin: 0 auto;
    font-size: 1.1em;
}

.content table,
.content .btn,
.content .btn-1,
.content .btn-2 {
    font-size: .9em;
}

.content .table-bl {
    font-size: .9em;
}

.content ul{
    padding: 0;
}

.content ol {
    padding-left: 20px;
}

.content ol li {
    margin-top: 12px;
}

.content ul li{
    position: relative;
    list-style-type: none;
    padding-left: 20px;
    margin-top: 12px;
}


.content ul li:before{
    content: "";
    background: #2ED47A;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 8px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.shadow{
    box-shadow: 0px 6px 20px rgba(55, 56, 61, 0.1);
}

.border-radius {
    border-radius: 25px;
}

.clearfix{
    clear: both;
}