.msg-wrap {
    padding: 35px 70px 25px;
    margin: 15px 0;
    width: 790px;
}

.msg-title {
    font-size: 1.2em;
    font-weight: 600;
}

.msg-wrap.success,
.msg-wrap.danger {
    font-weight: 600;
    font-size: 1.1em;
}

.msg-wrap.default {
    background: #FAFAFA;
    font-size: 1.1em;
}

.msg-wrap.success {
    background: #E3FFED;
}

.msg-wrap.danger {
    background: #FFEBF0
}

.msg-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

