.msg-wrap {
    padding: 30px 45px;
    margin: 15px 0;
    border-radius: 15px;
}

.msg-wrap.default {
    background: #F6F8FB;
}

.msg-wrap.success {
    background: #E3FFF0;
}

.msg-wrap.danger {
    background: #FFEDF3;
}


.msg-wrap.info {
    background: #EDFCFF;
}

.msg-wrap.warning {
    background: #FFFBDD;
}

.msg-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-wrap p{
    margin-bottom: 0;
}
