.msg-wrap {
    padding: 30px 45px;
    margin: 15px 0;
}

.msg-title {
    font-weight: 600;
}


.msg-wrap.default {
    background: #FAFAFA;
}

.msg-wrap.success {
    background: #E3FFED;
}

.msg-wrap.danger {
    background: #FFEBF0
}

.msg-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

