.dashboard-personal-data-form {
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.dashboard-personal-data-form .btn {
    width: 350px;
    margin-top: 32px;
}

.dashboard-personal-data-form .personal-data-form-part {
    margin-top: 20px;
}

.dashboard-personal-data-form .personal-data-form-part label {
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.dashboard-personal-data-form .personal-data-form-part input {
    padding: 10px 20px;
    height: 44px;
    outline: none;
    border: none;
    background: #F3F8FF;
}

.personal-data-form-input {
    width:350px;
}

.personal-data-form-email {
    width: 730px;
}

.dashboard-personal-data-form .personal-data-form-part:not(:nth-child(3)):not(:nth-child(5)){
    margin-right: 25px;
}

.delete-personal-acc-btn {
    margin-top: 32px;
    margin-left: 38px;
    padding: 5px;
    border: none;
    outline: none;
    background: inherit;
    color:#FF4E59;
}

@media(max-width: 1200px) {
    .dashboard-personal-data-form .personal-data-form-part:not(:nth-child(4)):not(:nth-child(5)){
        margin-right: 25px;
    }
}

@media(max-width: 992px) {
    .personal-data-form-part input,
    .dashboard-personal-data-form .btn,
    .delete-personal-acc-btn
    {
        width: 500px;
        margin-left: 0;
    }
}