.our-benefits {
    margin: 40px 0;
    padding-top: 1em;
}

.our-benefits .h2 {
    text-align: center;
    margin-bottom: 30px;
}

.our-benefits-block {
    justify-content: space-between;
    overflow-y: auto;
    margin-right: -15px;
}

.our-benefits-block::-webkit-scrollbar {
    height: 0;
}

.our-benefit-item {
    padding: 2em;
    background-color: #ffffff;
    border: 1px solid #E5E5E5;
    flex-shrink: 0;
    margin-right: 16px;
    width: 252px;
}

.our-benefits-title {
    display: block;
    text-align: center;
    font-weight: 600;
    margin-left: 10px;
}

.our-benefit-top-el {
    align-items: center;
    margin-bottom: 10px;
}

