.our-benefits {
    justify-content: space-between;
}
.our-benefit-item {
    padding: 2em;
    width: 23%;
}
.our-benefits-svg {
    display: block;
    margin: 0 auto;
}
.our-benefits-title {
    display: block;
    text-align: center;
    font-weight: 600;
    margin: 0.5em 0;
}