.tariff-block {
    margin: 30px 0;
    padding: 30px;
}

.tariff-title {
    margin-top: 25px;
    text-align: center;
    font-weight: 700;
}

.tariff-img {
    display: flex;
    justify-content: center;
}

.tariff-img img {
    max-width: fit-content;
}

.tariff-label {
    width: 70%;
    font-weight: 600;
}

.tariff-label-title {
    width: 30%;
    color: #87919F;
    font-size: 0.87rem;
}

.tariff-block .info_el {
    margin-top: 15px;
    padding-left: 20px;
    display: flex;
}

.tariff-block-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
