.tariff-block {
    width: 1110px;
    margin: 30px 0 30px -160px;
    padding: 45px 30px;
    display: flex;
    font-size: 1rem;
}

.tariff-title,
.tariff-label {
    font-weight: 600;
}

.tariff-block .tariff-img {
    margin-right: 40px;
}

.tariff-img img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    max-width: fit-content;
}

.tariff-block .tariff-col-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.tariff-label {
    margin-top: 11px;
}

.tariff-label-title {
    margin-top: 5px;
    color: #87919F;
    font-size: 0.87rem;
}

.tariff-block-btn .btn {
    margin-top: 0;
}
