.vzo-ux-framework-head-line{height: 33px;position: fixed;top: 0;left: 0;z-index: 2;width: 100%;background-color: #415A65; background-image: linear-gradient(145deg, #3D474B, #0B49B1);border-bottom: 1px solid #6B7073; color: #fff}
.vzo-ux-framework-menu{top: 20px;width: 220px;min-height: 100%; padding-top: 10px;height: 100%;position: fixed;background-color: #415A65; background-image: linear-gradient(145deg, #3D474B, #0B49B1); overflow-y: auto;left: 0; transition: left, 0.5s;z-index: 111;font-size: 0.9rem}
.vzo-ux-framework-menu.vzo-ux-framework-menu-active{left: 0;}
.vzo-ux-framework-menu .vzo-ux-framework-link.done:before{content: "\2714";margin-right: 5px;color: #e0d351;}
.vzo-ux-framework-switch{margin: 9px 20px; cursor: pointer;}
.vzo-ux-framework-head-line-right{float: right;margin-right: 20px; margin-top: 3px;}
.vzo-ux-framework-menu a{color: #fff !important;text-decoration: none; display: block; padding: 5px 5px 5px 20px;}
.vzo-ux-framework-menu a:visited{color: #fff;}
.vzo-ux-framework-menu a:hover {text-decoration: underline;}
.vzo-ux-framework-header {border-bottom: 1px solid #6B7073;padding: 6px 0 6px 20px;background-size: 32px;}
.vzo-ux-framework-section-title {text-transform: uppercase;color: #85888d;font-weight: 200;font-size: 12px;letter-spacing: 1px;margin:15px;}
.vzo-ux-framework-section-list a {display: block; padding: 6px 20px;}
.vzo-ux-framework-section-list a:hover {background-color: rgba(255, 255, 255, 0.1);text-decoration: none;}
/*@media all and (min-width: 1900px) {*/
    /*.vzo-ux-framework-menu {left: 0}*/
    /*.vzo-ux-framework-switch{display: none}*/
/*}*/