.site-map-main-block {
    margin-bottom: 30px;
}

.site-map-title {
    font-weight: 700;
}
.site-map-main-block a {
    display: table;
    text-decoration: none;
    font-size: 1em;
    line-height: 2em;
}
