.related {
    margin-top: 30px ;
    padding: 19px 30px ;
}

.related .related-title {
    font-weight: 600;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 15px;
}

.related .related-link-wrap{
    margin-top: 20px;
}
