.related {
    margin: 30px 0;
    padding: 5px 15px;
    border: 1px solid #E5E5E5;
}

.related .related-title {
    padding-bottom: 10px;
}

.related a {
    margin: 10px auto;
    display: block;
}

.related ul li{
    padding-left: 0;
}

.related ul li:before {
    content: none
}
