.related {
    margin: 30px 0;
    padding: 25px 45px;
}

.related .related-title {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 1.2em;
}

.related .related-link-wrap {
    margin: 10px auto;
}

