.about-nav, .about-main-head-block, .our-benefits, .smi-block, .steps-sodp, .our-security, .news-block{
    background: #F6F8FB;
}

.tab, .about-nav {
    margin-top: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 15px 60px 15px 60px;
    width: 100%;
}

.tab .tab-links, .nav-links {
    cursor: pointer;
    margin: 0 25px;
    padding: 5px 10px;
    transition: 0.3s;
    font-weight: 600;
    color: #000;
}

.tab .tab-links.on,.nav-links.active,.nav-links:hover {
    color: #000;
    border-bottom: 2px solid  #2ED47A;
}

.tabs-items .tab-content.on{
    display:block;
}

.tabs-items .tab-content {
    display: none;
}

.about-main-head-block {
    padding: 135px 0 80px;
}


.insert-video-block {
    width: 720px;
    height: 350px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
