.about-nav, .about-main-head-block, .our-benefits, .smi-block, .steps-sodp, .our-security, .news-block{
    background: #F6F8FB;
}

.tab, .about-nav {
    margin-top: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 15px 60px 15px 60px;
    width: 100%;
}

.tab .tab-links, .nav-links {
    cursor: pointer;
    margin: 0 25px;
    padding: 5px 10px;
    transition: 0.3s;
    font-weight: 600;
    color: #000;
}

.tab .tab-links.on,.nav-links.active,.nav-links:hover {
    color: #000;
    border-bottom: 2px solid  #2ED47A;
}

.tabs-items .tab-content.on{
    display:block;
}

.tabs-items .tab-content {
    display: none;
}

.about-main-head-block {
    padding: 135px 0 80px;
}

.about-main-head-block .h1 {
    margin: 0 auto 160px;
    width: 470px;
}

.about-short-info-wrap {
    justify-content: space-between;
    padding: 45px 65px;
    border-radius: 15px;
    background: #fff;
    margin: 80px 0;
}

.about-short-info-el-icon {
    margin: 10px 10px 0 0;
}

.about-short-info-el{
    justify-content: center;
}

.about-short-count-info {
    font-weight: 700;
    font-size: 2.5rem;
}

.about-short-code-h-text {
    margin: 160px 0 0;
}

.our-benefits {
    padding: 10px 0 90px;
}

.our-benefit-item-inner {
    padding: 25px 65px 45px;
    background: #fff;
}

.our-benefit-item {
    width: 66%;
}

.our-benefits-img {
    width:33%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.finance-literacy {
    padding: 90px 0;
}

.finance-literacy .h2 {
    margin: 10px 0 65px;
}

.finance-literacy .about-short-code-content{
    margin: 30px 0;
}

.about-finance-literacy {
    flex-wrap: wrap;
}

.finance-literacy-el {
    border-radius: 15px;
    background: #F6F8FB;
    width: 350px;
    margin:15px 10px;
    padding: 25px 40px;
}

.literacy-img-block {
    margin-top: 20px;
    justify-content: space-between;
}

.steps-sodp {
    padding: 80px 0;
}

.steps-sodp .h2 {
    margin: 0 0 30px;
}

.steps-sodp .about-short-code-content {
    margin: 30px 0;
}

.step-sodp{
    padding:30px 65px 45px;
    margin: 20px 95px;
    background: #fff;
}

.timeline_wrap {
    padding: 80px 0;
}

.timeline_wrap .h2 {
    margin: 0 0 30px;
}

.timeline_wrap .about-short-code-content {
    margin: 30px 0 55px;
}

.timeline-tab {
    margin-top: 20px;
    flex-wrap: wrap;
    overflow: hidden;
}

.timeline-tab .time-line-tab-link {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin:15px;
    background: #F6F8FB;
    color:#000;
    white-space: nowrap;
    border-radius: 25px;
    width: 155px;
    height: 35px;
}

.timeline-tab .time-line-tab-link.active-tab{
    background: #000;
    color:#fff;
}

.timeline-tabs-item .timeline-tab-content {
    display: none;
}

.timeline-tabs-item .timeline-tab-content.active-tab {
    display: block;
}

.timeline-img {
    width: 50%;
}

.timeline-img img {
    border-radius: 25px 0 0 25px;
    height: 100%;
    width: 100%;
}

.timeline-description {
    width: 50%;
    font-size: 1.1rem;
    padding: 70px 65px;
}

.timeline-description ul li {
    margin-top: 20px;
}

.our-security {
    padding: 75px 0 100px;
}

.our-security .h2 {
    margin: 0 0 55px;
}

.no-slider-image {
    margin: 90px 0;
}

.no-slider-image-block {
    flex-wrap: wrap;
}

.no-slider-image-block img {
    margin: 15px 10px;
    max-width: 255px;
    max-height: 120px;
}

.insert-video-block {
    width: 720px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.video-img {
    width: 100%;
    height: 350px;
    opacity: 0.9;
    transition: transform 1s;
}

.play-video-el {
    align-items: center;
    justify-content: center;
}

.play-video-el img {
    border-radius: 15px;
}

.play-video-el .play-icon,.zoom-icon {
    position: absolute;
    margin: auto;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
}

.play-video-el {
    background: #000;
    border-radius: 17px;
}

.play-video-el:hover svg {
    transition: transform 0.5s;
}

.play-video-el:hover svg {
    transform: scale(1.1)
}

.play-video-el:hover .video-img {
    opacity: 1;
}

.insert-video-block:hover .video-img{
    transform: scale(1.1);
}

.about-headquarters-img-block {
    flex-wrap: wrap;
}

.about-headquarters-img-el {
    margin: 15px 10px;
    border-radius: 15px;
}

.our-headquarters-block {
    padding: 75px 0;
}

.our-headquarters-block .h2{
    margin-bottom: 35px;
}

.our-headquarters-block .about-short-code-content {
    margin-bottom: 55px;
}

.our-communities {
    padding: 30px 65px 50px;
    margin:30px 0 50px;
}

.our-communities .community-description {
    margin: 30px 0;
}

.our-communities .soc-community-links a {
    margin: 10px 15px;
}

.our-requisites-img {
    border-radius: 15px;
    transition: transform 1s;
    background: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    padding: 0;
}

.our-requisites-img img {
    opacity: 0.5;
    height: 100%;
}

.our-requisites {
    padding: 35px 55px 55px;
}

.our-requisites-block {
    margin-top: 30px;
}

.our-requisites-info {
    margin-left: 55px;
}

.our-requisites-info hr {
    margin: 20px 0;
}

.requisites-info-el {
    margin-top: 15px;
}

.insert-video {
    margin: 70px 0;
}

