.accordion {
    cursor: pointer;
    padding: 15px 15px 15px 0;
    transition: 0.5s;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    border: 1px solid #E8EEF6;
    margin-bottom: 16px;
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;
}

.accordion .accordion-title {
    margin-left: 20px;
}

.panel {
    padding: 0 20px 0 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-line {
    line-height: 2rem;
}

.panel .accordion-list .accordion-col:not(:first-of-type) {
    margin-left: 60px;
}

.panel .accordion-list .accordion-col .accordion-row {
    margin-top: 10px;
}
.open-panel:checked + .accordion-label +.panel {
    max-height: fit-content;
    /*transition: max-height 0.3s ease-in;*/
}
.open-panel:checked + .accordion-label .accordion .arrow {
    transform: rotate(-180deg);
}
.open-panel {
    display: none;
}