.accordion {
    font-family: 'Proxima Nova Rg', sans-serif;
    background-color: #fff;
    font-weight: 700;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accordion .accordion-title {
    margin-left: 20px;
}

.accordion .arrow {
    transform: rotate(-90deg);
}

.accordion.active .arrow {
    transform: rotate(0deg);
}

.active, .accordion:hover {
    background-color: #fff;
}

.panel {
    padding: 0 55px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.panel .accordion-list {
    display: block;
}
.panel .accordion-list .accordion-col {
    margin-top: 25px;
}

.panel .accordion-list .accordion-col .accordion-row {
    margin-top: 10px;
}


.panel ul,
.panel p {
    padding: 0;
}



.second .accordion {
    display: flex;
    justify-content: left;
}

.second .accordion svg {
    margin-right: 12px;
}


.second .accordion span {
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Proxima Nova Rg', sans-serif;
    margin-left: 20px;
}
