.accordion {
    display: flex;
    cursor: pointer;
    padding: 15px 15px 15px 0;
    transition: 0.5s;
    font-weight: 600;
}

.accordion .accordion-title {
    margin-left: 20px;
}

.accordion .arrow {
    transform: rotate(-90deg);
}

.accordion.active .arrow {
    transform: rotate(0deg);
}

.panel {
    padding: 0 20px 0 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-line {
    line-height: 2em;
}

.panel .accordion-list .accordion-col:not(:first-of-type) {
    margin-left: 60px;
}

.panel .accordion-list .accordion-col .accordion-row {
    margin-top: 10px;
}
