.gray-label {
    font-size: 1.125rem;
}
.quiz-block {
    align-items: flex-end;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 1.5em;
    width: 100%;
    margin: 30px 0;
}
.quiz-block .btn-light {
    margin-bottom: 0.5em;
}
.quiz-num-value {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    font-size: 1.5rem;
    width: 100%;
    margin: 0.5em 0;
}
.quiz-num-value:focus {
    outline: none;
}
.quiz-part-block {
    width: 315px;
    margin: 0.5em 1em;
}
.quiz-part-block input[type=range] {
    outline: none;
    padding: 0;
    width: 100%;
    height: 4px;
    border-radius: 14px;
    background-color: #E5E5E5;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%,  #355FF1), color-stop(100%, #355FF1));
    background-image: -webkit-linear-gradient(#355FF1, #355FF1);
    background-image: -moz-linear-gradient(#355FF1, #355FF1);
    background-image: -o-linear-gradient(#355FF1, #355FF1);
    background-image: linear-gradient(#355FF1, #355FF1);
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
    z-index: 1;
}

.quiz-part-block input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    z-index: 1;
}

.quiz-part-block input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
    opacity: 1;
    z-index: 1;
}

.quiz-part-block input[type=range]::-moz-focus-outer {
    border: 0;
    opacity: 1;
    z-index: 1;
}

.quiz-part-block input[type=range]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 0;
    background:#355FF1;
    border-radius: 50%;
    -webkit-appearance: none;
    z-index: 1;
}

.quiz-part-block input[type=range]::-webkit-slider-thumb:hover {
    width: 20px;
    height: 20px;
}

.inputQuizNum, .inputQuizDays {
    display:none;

}

.inputQuizNumValue, .inputQuizDaysValue{
    border: none;
    color: #888888;
    border-bottom: 1px solid #E5E5E5;
    font-size: 1.5rem;
    width: 100%;
    margin: 0.5em 0;
}
