.appeal-btn-wrap {
    justify-content: center;
}

.appeal-dashboard-el {
    padding: 1em;
    margin: 20px 0;
    background: #fff;
}

.appeal-dashboard-top-line-el {
    justify-content: space-between;
    align-items: center;
    color:#95A5B0;
    font-size: .87rem;
}

.appeal-tag {
    background: #F3F8FF;
    border-radius: 5px;
    padding: 3px 14px;
}

.appeal-dashboard-el .wrap-btn{
    display: block;
    text-align: center;
}
