.appeal-btn-wrap {
    justify-content: center;
}

.appeal-dashboard-el {
    padding: 1em;
    margin: 20px 0;
    background: #fff;
}

.appeal-dashboard-top-line-el {
    justify-content: space-between;
    align-items: center;
    color:#888;
}

.appeal-tag {
    background: #F7F7F7;
    border-radius: 3px;
    padding: 3px 14px;
}

.appeal-dashboard-el .wrap-btn{
    display: block;
    text-align: center;
}
