.appeal-btn-wrap {
    justify-content: center;
}

.appeal-dashboard-el {
    margin: 20px 0;
    background: #fff;
}

.appeal-dashboard-top-line-el {
    justify-content: space-between;
    align-items: center;
    color:#888;
    font-size: 1rem;
    margin-bottom: 10px;
}

.appeal-tag {
    background: #F7F7F7;
    border-radius: 3px;
    padding: 3px 14px;
}

.appeal-dashboard-el .appeals-btn-wrap {
    border-top: 1px solid #E5E5E5;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.appeal-dashboard-content {
    padding: 24px 30px 0 30px;
}

.appeal-dashboard-content .h5 {
    margin-bottom: 10px;
}

.text-overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}