.card-minimal .h4 {
    text-align: center;
    margin-bottom: 30px;
}

.card-minimal-block {
    display: flex;
    overflow-y: auto;
}

.card-minimal-wrap {
    width: 300px;
    height: 256px;
    position: relative;
    min-width: 260px;
    padding: 16px;
    background: #fff;
    margin: 0 15px 15px 0;
}

.card-min-col {
    align-items: center;
}

.card-min-col:first-of-type {
    width: 65%;
}

.card-min-rating {
    color: #000;
    font-weight: 600;
    margin-left: 16px;
    align-items: center;
    justify-content: space-between;
}
.card-min-rating svg {
    margin-right: 0.5em;
}
.card-min-col img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    max-width: fit-content;
}

.card-min-label-title {
    color: #888888;
}

.card-min-label {
    font-weight: 600;
}

.card-minimal-wrap .card-min-info-el {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.card-minimal-wrap .card-min-info-el:first-child {
    margin-top: 10px;
}

.card-minimal-block .btn{
    position: absolute;
    bottom: 20px;
    width: calc(100% - 32px);
}
.card-min-logo {
    max-width: 40px;
    max-height: 40px;
    overflow: hidden;
}
.card-min-top-block .card-name {
    display: block;
}