.card-minimal .h4 {
    text-align: center;
    margin-bottom: 30px;
}

.card-minimal-block {
    display: flex;
}

.card-minimal-wrap {
    width: 400px;
    padding: 30px;
}

.card-min-top-block {
    display: flex;
    justify-content: space-between;
}

.card-min-col:first-of-type {
    width: 65%;
}

.card-min-col a {
    font-size: 0.87rem;
}

.card-min-rating {
    color: #222735;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.card-min-col img {
    width: 100%;
    max-width: fit-content;
}

.card-min-label-title {
    color: #828282;
    font-size: 0.87rem;
}

.card-min-label {
    font-weight: 600;
}

.card-minimal-wrap .card-min-info-el {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.card-minimal_block-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
