.card-minimal-wrap:first-of-type.card-minimal .h2 {
    text-align: center;
    margin-bottom: 50px;
}

.card-minimal-block {
    display: flex;
    flex-wrap: wrap;
}

.card-minimal-wrap {
    width: 350px;
    padding: 30px;
    background: #fff;
}


.card-min-top-block {
    display: flex;
    justify-content: space-between;
}

.card-minimal-wrap{
    margin-top: 30px;
}

.card-min-col:first-of-type {
    width: 65%;
}

.card-min-col a {
    font-size: 0.87rem;
}

.card-min-rating {
    color: #222735;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.card-min-col img {
    width: 100%;
    max-width: fit-content;
    max-height: 65px;
}

.card-min-label-title {
    color: #828282;
    font-size: 0.87rem;
}

.card-min-label {
    font-weight: 600;
    text-align: right;
    padding-left: 1em;
}

.card-minimal-wrap .card-min-info-el {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.card-minimal_block-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@media (max-width: 1140px) {
    .card-minimal-wrap {
        width: 340px;

    }
}

@media (max-width: 1110px) {
    .card-minimal-wrap {
        width: 330px;

    }
}

@media (max-width: 1080px) {
    .card-minimal-wrap {
        width: 320px;

    }
}

@media (max-width: 1050px) {
    .card-minimal-wrap {
        width: 310px;

    }
}

@media (max-width: 1020px) {
    .card-minimal-wrap {
        width: 300px;

    }
}

@media (min-width: 990px) {
    .card-minimal-wrap:not(:nth-child(3n+3)) {
        margin-right: 30px;
    }
}

@media (max-width: 990px) {

    .card-minimal-block {
        justify-content: space-around;
    }
    .card-minimal-wrap {
        width: 400px;
    }
}


@media (max-width: 870px) {

    .card-minimal-wrap {
        width: 380px;
    }
}


@media (max-width: 830px) {
    .card-minimal-wrap {
        width: 360px;
    }
}

@media (max-width: 790px) {
    .card-minimal-wrap {
        width: 350px;
    }
}

@media (max-width: 770px) {
    .card-minimal-block {
        justify-content: space-between;
    }
}

@media (max-width: 750px) {
    .card-minimal-wrap {
        width: 340px;
    }
}

@media (max-width: 730px) {
    .card-minimal-wrap {
        width: 330px;
    }
}

@media (max-width: 710px) {
    .card-minimal-wrap {
        width: 310px;
    }
}

@media (max-width: 670px) {

    .card-minimal-block {
        justify-content: center;
    }
    .card-minimal-wrap {
        width: 350px;
    }
}