.btn {
    width: 205px;
    height: 45px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    outline: none;
    position: relative;
}

.btn-cnv {
    color: #fff;
    background: #2CDD88;
}

.btn-cnv:hover {
    background: #2CD283;
}

.btn-cnv:active {
    background: #2BC77E;
}

.btn-light {
    color: #2CDD88;
    background: #E3FFED;
}

.btn-light:hover {
    color: #fff;
    background: #2CDD88;
}

.btn-light:active {
    color: #fff;
    background: #2BC77E;
}

.btn-dark {
    color: #fff;
    background: #222735;
}

.btn-dark:hover {
    color: #fff;
    background: #343B4C;
}

.btn-dark:active {
    color: #fff;
    background: #414959;
}


.btn-light-1:active {
    background: #2BC77E;
}

.btn-light-2 {
    color: #2CDD88;
    background: #E3FFED;
}

.btn-light-2:hover {
    display: flex;
    align-items: center;
    color: #fff;
    background: #2ED47A;
    border-radius: 23px;
    cursor: pointer;

}

.btn-light-2:active {
    background: #2BC77E;
}

.btn-chat-1 {
    background: #fff;
    color: #FF4D4A;
    box-shadow: 0 4px 10px rgba(135, 145, 159, 0.15);
}

.btn-chat-1:hover {
    background: #FFF4F4;
    box-shadow: none;
}

.btn-chat-1:active {
    background: #FFEDED;
    box-shadow: none;
}

.btn-chat-2 {
    background: #fff;
    color: #2CDD88;
    box-shadow: 0 4px 10px rgba(135, 145, 159, 0.15);
}

.btn-chat-2:hover {
    background: #E3FFF0;
    box-shadow: none;
}

.btn-chat-2:active {
    background: #CCFFE3;
    box-shadow: none;
}


.btn-whats-app {
    color: #2ED47A;
    background: #fff;
    box-shadow: 0 4px 10px rgba(135, 145, 159, 0.15);
}

.btn-whats-app:hover{
    background: #EAFFF3;
    box-shadow: none;
}

.btn-whats-app:active{
    background: #D4FDE7;
    box-shadow: none;
}

.btn-telegram {
    color: #4FABFA;
    background: #fff;
    box-shadow: 0 4px 10px rgba(135, 145, 159, 0.15);
}

.btn-telegram:hover {
    background: #EFF8FF;
    box-shadow: none;
}

.btn-telegram:active {
    background: #DEF0FF;
    box-shadow: none;
}

.btn-chat-1 svg, .btn-chat-2 svg, .btn-whats-app svg, .btn-telegram svg{
    margin-right: 10px;
}

.prev-btn, .up-btn, .down-btn, .next-btn{
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

svg .ellipse_el{
    fill: white;
}

svg:hover .ellipse_el {
    fill:#2ED47A;
}

svg .arrow_el {
    stroke: #87919F;
    fill: white;
}

svg:hover .arrow_el {
    stroke: white;
    fill:#2ED47A;
}

svg:active .ellipse_el {
    fill:#2BC77E;
}
svg:active .arrow_el {
    fill:#2BC77E;
}

.up-btn svg{
    transform: rotate(90deg);
}

.down-btn svg{
    transform: rotate(-90deg);
}

.claim-btn {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

.claim-btn .circle_el {
    fill: white;
}

.claim-btn:hover .circle_el {
    fill:#FF4E59;
}

.claim-btn .claim_el {
    stroke: #222735;
}

.claim-btn:hover .claim_el {
    stroke: white;
}

.claim-btn:active .circle_el {
    fill:#EF3B46;
}

.print-btn {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

.print-btn .circle_el {
    fill: white;
}

.print-btn:hover .circle_el {
    fill:#2CDD88;
}

.print-btn .print_el {
    stroke: #222735;
}

.print-btn:hover .print_el {
    fill: #2add88;
    stroke: #fff;
}

.print-btn:active .circle_el, .print-btn:active .print_el  {
    fill:#2BC77E;
}


.btn-wrap-circle {
    box-shadow: 0 4px 10px 0 #87919F26;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    left: 5px;
    position: absolute;
    transition: .2s left ease-in-out;
    padding: 0;
}


.btn:hover .btn-wrap-circle {
    left: calc(100% - 39px);
}

.btn-circle{
    box-shadow: 0 4px 10px 0 #87919F26;
    display: block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 50%;
    padding: 0;
}