.personal-achievements {
    margin-bottom: 15px;
}

.personal-certificates-block {
    overflow: auto;
    padding-top: 0;
    height: 340px;
}

.personal-certificates-block::-webkit-scrollbar {
    height: 0;
}
.personal-certificates-el {
    width: 281px;
    height: 305px;
    margin: 10px 5px 10px 15px;
}

.personal-certificates-el img {
    border-radius: 15px 15px 0 0;
    opacity: 0.6;
}

.personal-certificates-info {
    padding: 0 15px;
}

.certificate-title {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 5;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}


.personal-certificate-image {
    background: rgba(0, 0, 0, 1);
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    height: 180px;
    width: 281px;
}

.personal-achievements-btn-wrap {

}
.zoom-icon {
    position: absolute;
    margin: auto;
    cursor: pointer;
    z-index: 10;
    width: 55px;
    height: 55px;
}

.personal-achievements-btn-wrap {
    margin-top: 70px;
    justify-content: center;
}
.certificate-preview-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}