.insert-video-block {
  width: 100%;
    position: relative;
    margin: 30px auto;
    border-radius: 15px;
    overflow: hidden;
}

.video-img {
    width: 100%;
    height: 175px;
    transition: transform 1s;
}

.play-video-el {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-video-el img {
    border-radius: 15px;
}

.play-video-el .play-icon {
    position: absolute;
    margin: auto;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
}

.circle-play {
    fill: white;
}

.icon-play {
    fill: #222735;
}

.play-video-el {
    background: #000;
    border-radius: 17px;
}

.play-video-el svg:hover .circle-play, .insert-video-block:hover .circle-play{
    fill: #2ED47A
}

.play-video-el svg:hover .icon-play {
    fill: white;
}

.play-video-el:hover .video-img {
    opacity: 0.9;
}


.insert-video-block:hover .video-img{
    transform: scale(1.1);
}