.insert-video-block {
    max-width: 476px;
    width: 100%;
    position: relative;
    margin: 30px 0;
}

.video-img {
    width: 100%;
    height: auto;
    z-index: 0;
}

.play-video-el svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
}

.circle-play {
   fill: white;
}

.icon-play {
    fill: #222735;
}

.play-video-el {
    background: #000;
    line-height: 0;
    border-radius: 17px;
}

.play-video-el svg:hover .circle-play {
    fill: #2ED47A
}

.play-video-el svg:hover .icon-play {
    fill: white;
}

.play-video-el:hover .video-img {
    opacity: 0.9;
}
