.insert-video-block {
    width: 100%;
    position: relative;
    height: 440px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.video-img {
    width: 100%;
    height: 440px;
    opacity: 0.9;
    transition: transform 1s;
}

.play-video-el {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    border-radius: 17px;
    margin-bottom: 15px;
}

.play-video-el img {
    border-radius: 15px;
}

.play-video-el .play-icon {
    position: absolute;
    margin: auto;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
}

.play-video-el:hover svg{
    transition: transform 0.5s;
}


.play-video-el:hover svg{
    transform: scale(1.1)
}

.play-video-el:hover .video-img {
    opacity: 1;
}

.insert-video-block:hover .video-img{
    transform: scale(1.1);
}