.sort {
    float: right;
    margin-right: -55px!important;
}

.sort .sort_el {
    margin-left: 50px;
}

.sort .sort_el .main-sort {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort .sort_el .main-sort svg {
    margin-left: 5px;
}


.sort .sort_el {
    margin-right: 50px;
    position: relative;
}

.sort .sort_el span {
    display: block;
    padding: 8px;
}

.sub-menu-sort-container {
    display: flex;
    position: absolute;
    left: -9999px;
    list-style: none;
    padding: 10px 0 0 0;
}

.sort .sort_el:hover .sub-menu-sort-container {
    left: -150px;
}

.sort .sort_el:hover svg{
    transform: rotate(180deg);
}

.sort .sort_el .sub-menu-sort-container .sub-nav_one-column {
    z-index: 1;
    background: #fff;
    min-width:300px;
}

.sort .sort_el .sub-menu-sort-container .sub-nav_one-column .p-col {
    padding: 0 20px;
}

.sort .sort_el .sub-menu-sort-container .sub-nav_one-column .p-col:first-of-type {
    margin-top: 10px;
}

.sort .sort_el .sub-menu-sort-container .sub-nav_one-column .p-col:first-of-type {
    margin-bottom: 10px;
}

.sort .sort_el .sub-menu-sort-container .sub-nav_one-column span:hover,
.sort .sort_el .sub-menu-sort-container .sub-nav_one-column span.active {
    color: #2ED47A;
    cursor: pointer;
}

.sort hr {
    height: 1px;
    border: none;
    background-color: #E6EBEF;
}

