.sort {
    display: flex;
    justify-content: flex-end;
}

.select {
    position: relative;
}

.select .selected-item {
    border-radius: 10px 10px 0 0;
    width: 260px;
    margin: 0 0 10px;
    padding: 15px 20px;
    cursor: pointer;
}
.select .selected-item[data-type=up]:after {
    position: relative;
    content: url("/v4/images/sort-icon.svg");
    float: right;
    margin-right: 10px;
}

.select .selected-item[data-type=down]:after {
    position: relative;
    content: url("/v4/images/sort-close-icon.svg");
    float: right;
    margin-right: 10px;
}

.openSelect {
    border-bottom: none;
    box-shadow: 0 4px 10px rgba(135, 145, 159, 0.15);
    border-radius: 10px 10px 0 0;
}

.select .selected-item.toggleSelect:after {
    -webkit-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
}
.select .selected-dropdown {
    border-radius:0 0 10px 10px;
    width: 260px;
    margin-top:-10px;
    cursor: pointer;
    position: absolute;
    top: 100%;
    visibility: hidden;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(135, 145, 159, 0.15);
    transition: 0.2s ease;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    background: #fff;
}

.select .selected-dropdown .option {
    background: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-top: 1px solid #F6F8FB;
}
.select .selected-dropdown .option:last-of-type{
    border-radius: 0 0 5px 5px;
}
.select .selected-dropdown .option:hover {
    cursor: pointer;
    color: #355FF1;
}
.select .selected-dropdown.toggleSelect {
    visibility: visible;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}



