.short-code-quote {
    background: #F6F8FB;
    padding: 20px 30px;
    margin: 15px 0;
    font-weight: bold;
}

.short-code-quote .quote-text {
    margin-top: 15px;
}

.short-code-quote .quote-author {
    color:#95A5B0;
    margin-top: 30px;
    display: block;
}