.short-code-quote {
    background: #F6F8FB;
    padding: 30px;
    display: flex;
    margin: 30px 0;
    font-weight: bold;
    border-radius: 15px;
}

.short-code-quote .quote-text {
    margin: 20px 0 0 30px;
}
.short-code-quote .quote-author {
    color:#95A5B0;
    margin-top: 10px;
    display: block;
    font-size: 0.87em;
    font-weight: normal;
}