.compare-block {
    width: 100%;
    left: 0;
    position: fixed;
    top: 65px;
    max-width: inherit;
    margin: 0 auto;
    z-index: 10;
    display: none;
    font-size: .875rem;
}
.compare-block-background {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: inherit;
    padding: 1em;
    justify-content: space-between;
}
.compare-block .count-of-comparing-items {
    border-radius: 50%;
    background-color: #FFFFFF;
    position: relative;
    left: -0.5em;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    display: none;
    font-size: .875rem;
}
.compare-block .compare-item {
    width: 60px;
    height: 60px;
}
.compare-block .compare-block-text {
    color: #FFFFFF;
    align-items: center;
    width: 100%;
}
.compare-block .go-to-compare-page {
    margin-left: 1em;
}
.compare-block .compare-right-block {
    position: relative;
}
.compare-block .close-compare-block {
    position: absolute;
    top: 1em;
    right: 0;
}
.compare-left-block {
    width: 80%;
    flex-wrap: wrap;
    color: #ffffff;
}