.compare-block {
    padding: 0 15px;
    width: 100%;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 1em;
    max-width: inherit;
    margin: 0 auto;
    z-index: 10;
    display: none;
    font-size: .875rem;
}
.compare-block-background {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    max-width: inherit;
    padding: 0.5em 1em;
    justify-content: space-between;
}
.compare-block .count-of-comparing-items {
    border-radius: 50%;
    background-color: #FFFFFF;
    position: relative;
    left: -0.5em;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    display: none;
    font-size: .875rem;
}
.compare-block .compare-item {
    width: 60px;
    height: 60px;
}
.compare-block .compare-block-text {
    color: #FFFFFF;
    align-items: center;
    margin-left: 1em;
}
.compare-block .go-to-compare-page {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 0.3em 4em;
    height: fit-content;
    margin-right: 2em;
}
.compare-block .compare-right-block {
    align-items: center;
    position: relative;
}
.compare-block .close-compare-block {
    position: absolute;
    top: 0.5em;
    right: 0;
}
.compare-left-block {
    width: 50%;
}

.clear-compare {
    cursor: pointer;
    color: #fff;
    margin-right: 22px;
}