.search-block-1 {
    margin: 30px 0;
}

.input-text {
    padding: 10px 65px;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1em;
    height: 46px;
    border-radius: 23px;

}

::-webkit-input-placeholder{
    color: #95A5B0;
}

.input-text:focus::-webkit-input-placeholder {
    color: transparent;
}

.search-block-1 .search-icon {
    z-index: 1;
    margin-left: -50px;
    margin-top: 15px;
}
.search-item.hide_by_search_hint {
    display: none;
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    font-size: 1.1rem;
    list-style-type: none;
}


.pagination a {
    color: #000!important;
    width: 100%;
}

.pagination a:hover, a.pagination-inner-link:hover {
    border: 1px solid #000;
}

.pagination a, .pagination .pagination-current-page {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
}

.pagination .pagination-current-page {
    border: 1px solid #000;
    pointer-events: none;
}

.pagination-prev-btn, .pagination-next-btn {
    align-items: center;
    justify-content: center;
}

span.pagination-inner-link {
    cursor: pointer;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.pagination-dots {
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    pointer-events: none;
}
.page-block {
    display: none;
}
.page-block.active_page {
    display: block;
}
