.search-block-1 {
    margin: 30px 0;
}

.input-text {
    padding: 10px 65px;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1em;
    height: 46px;
    border-radius: 23px;

}

::-webkit-input-placeholder{
    color: #95A5B0;
}

.input-text:focus::-webkit-input-placeholder {
    color: transparent;
}

.search-block-1 .search-icon {
    z-index: 1;
    margin-left: -50px;
    margin-top: 15px;
}
.search-item.hide_by_search_hint {
    display: none;
}
