.webinar-date {
    color: #95A5B0;
    font-size: 0.8rem;
    margin-top: auto;
    display: flex;
    align-items: center;
}

.webinar-date svg {
    margin-right: 10px;
}
.webinar-inner{
    background: #fff;
    border-radius: 15px;
    padding-bottom:1px;
    height: 100%;
}
.webinar-inner a {
    color: black;
}
.webinar-img {
    overflow: hidden;
    display: block;
    border-radius: 15px 15px 0 0;
}

.webinar-img img {
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    -webkit-transition: transform 1s;
}

.webinar-img img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.webinar-slider h5 {
    margin-bottom: 30px;
    color:#000 !important;
    height: 100px;
}

.webinar-info {
    margin: 5px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    height: 140px ;
}
.webinar_wrap {
    height: 340px;
}



@media (max-width: 1200px) {
    .webinar-info {
        height: 125px ;
    }
}

@media (max-width: 992px) {
    .webinar-info {
        height: 165px ;
    }
}
@media (max-width: 768px) {
    .webinar-info {
        height: 125px ;
    }
}