.main-content {
    display: flex;
}

.main-content .content-block {
    width: 50%;
    float: right;
}

.main-content .content-block .left-btn {
    position: absolute;
    right: 50%;
}

.main-content .h2 {
    font-weight: 600;
}

.main-content .content-block .close_first-element {
    position: absolute;
    right: 48%;
    margin-top: 120px;
    cursor: pointer;
}

.main-content .content-block .content-list {
    margin-top: 140px;
    padding: 20px 41px;
    width: 400px;
    float: right;
}

.main-content .content-block .content-list .h2 {
    line-height: 1.3em;
}

.main-content .content-block .content-list ul{
    list-style-type: none;
    padding: 0;
}

.main-content .content-block .content-list ul li {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}

.main-content .content-block .content-list ul li a {
    margin-left: 10px;
    color: #87919F;
}

.main-content .content-block .content-list ul li a:hover {
    color: #2ED47A;
    cursor: pointer;
}

.main-content .content-block_second .right-btn {
    position: absolute;
    left: 52%;
}

.main-content .content-block_second .close_second-element {
    position: absolute;
    margin-top: 120px;
    margin-left: 350px;
    cursor: pointer;
}


.main-content .content-block_second .content-second-list {
    margin-top: 140px;
    padding: 20px 25px;
    width: 300px;
    margin-left: 50px;
}

.main-content .content-block_second .content-second-list ul {
    list-style-type: none;
    padding: 0;
}

.main-content .content-block_second .content-second-list ul li {
    display: flex;
    align-items: flex-start;
    line-height: 20px;
    margin-top: 10px;
}

.main-content .content-block_second .content-second-list ul li a {
    margin-left: 10px;
    color: #87919F;
}

.main-content .content-block_second .content-second-list ul li a:hover {
    color: #2ED47A;
    cursor: pointer;
}