.phone-complaint_content .content-title {
    font-size: 1.1em;
    font-weight: 600;
}

.phone-complaint_content .content-body {
    margin-top: 17px;
    margin-bottom: 20px;
}

.phone-complaint_content .table .tr {
    display: flex;
}

.phone-complaint_content .table .tr .td {
    background: #fff !important;
    padding-left: 0 !important;
    margin-top: 17px;
}
.phone-complaint_content .table .tr .td:first-of-type {
    font-weight: 600;
    width: 30%;
}

.phone-complaint_content .table .tr .td:last-of-type {
    width: 80%;
}

.phone-complaint .complaint_title {
    text-align: center;
    margin-top: 40px;
}

.phone-complaint .complaint_title h5 {
    font-weight: 700;
}

.phone-complaint .table {
    width: 100%;
    margin-bottom: 0;
    margin-top: 21px;
}

.phone-complaint .table .tr {
    display: flex;
    justify-content: space-between;
}

.phone-complaint .table .tr .td {
    padding: 16px 0 16px 23px;
    line-height: 1.5em;
    font-size: .87em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone-complaint .table .tr .td svg {
    margin-left: 5px;
    cursor: pointer;
}

.phone-complaint .table .tr .td:first-of-type {
    width: 40%;
    background: #FAFAFA;
    font-weight: 600;
}

.phone-complaint .table .tr .td:last-of-type {
    width: 60%;
}

.phone-complaint .table .tr .td svg:last-of-type{
    float: right;
}