.hidden-card-rating {
    margin: 20px 0;
    position: relative;
}

.hidden-card-rating .rating-more {
    position: relative;
    display: block;
    border-radius: 5px;
    width: 100%;
    margin: 0 0 10px;
    padding: 9px 20px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

.hidden-card-rating .rating-more svg {
    float: right;
    margin-top: 10px;
    margin-right: -2px;
}

.hidden-card-rating .rating-more:after {
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    padding: 9px 21px;
    border-left: 1px solid #E5E5E5;
}

.hidden-card-rating .hidden-card-rating-block {
    display: none;
    margin-top: -11px;
    border-radius: 0 0 5px 5px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-top: 1px solid #E5E5E5;
}

.hidden-card-rating .hidden-card-rating-block .h3{
    text-align: center;
    padding: 0 16px;
}

.hidden-card-rating-list .special-list{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.hidden-card-rating .hidden-card-rating-block li {
    background: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-top: 1px solid #E5E5E5;
    width: 100%;
}

.hidden-card-rating .hidden-card-rating-block li a {
    color: #000;
}

#hidden-card-rating-input {
    display: none;
}

#hidden-card-rating-input:checked + label + .hidden-card-rating-block{
    display: block;
}

#hidden-card-rating-input:checked + .rating-more svg {
    transform: rotate(-180deg);
}