.error-block-footer {
    min-height: 110px;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    margin-top: 2em;
}

.error-block-footer span {
    font-weight: 600;
}

@media (max-width: 768px) {
    .error-block-footer {
        display: block;
        text-align: center;
    }

    .error-block-footer span {
        display: inline-block;
        margin-bottom: 10px;
    }
}