.lead-wrap {
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}
.lead-text-block .lead-text {
    font-size: 1.2rem;
}
.lead-wrap .search-block-1  {
    width: 100%;
}