.lead-wrap {
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    margin-bottom:20px;
}
.lead-text-block .lead-text {
    font-size: 1.2rem;
}
.lead-text-block .lead-text-md {
    font-size: 1.067rem;
}
.lead-wrap .search-block-1 {
    margin-top: 24px;
    width: 100%;
}
.lead-wrap .lead-text p {
    margin-bottom: 0;
}