.lead-wrap {
    background: #FFFFFF;
    margin-bottom: 30px;
    padding: 0 65px 15px 65px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    margin-top: 1em;
}
.lead-text-block .lead-text {
    font-size: 1.2rem;
}

.lead-text-block .lead-text-md {
    font-size: 1.125rem;
}

.lead-wrap .search-block-1  {
    width: 100%;
}

.qa-search-block {
    position: relative;
    align-items: center;
}

.qa-search-btn {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: inherit;
    position: absolute;
    right: 13px;
}

.lead-wrap .search-block-1 {
    margin-top: 0;
}

.lead-wrap .input-text {
    padding: 10px 30px;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1em;
    height: 46px;
    border-radius: 23px;
    background-color: #F7F7F7;
}

::-webkit-input-placeholder{
    color: #888;
}

.input-text:focus::-webkit-input-placeholder {
    color: transparent;
}

.qa-search-block .input-text{
    margin-bottom: 0;
}

.search-block-terms {
    width:100%;
    margin-top: 25px;
}


.search-block-terms.hints {
    background: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    border-radius: 22px;
}

.search-block-terms.hints form{
    margin-bottom:0;
}
.search-block-terms.hints .search-block__input{
    border-radius: 22px 22px 0 0;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
}


.search-block-terms .searched-terms-block {
    max-height: 180px;
    overflow: auto;
    padding: 0;

}

.search-block-terms .searched-terms-block::-webkit-scrollbar {
    width:0;
}

.search-block-terms .searched-terms-block span {
    display: flex;
    align-items: center;
    list-style-type: none !important;
    cursor: pointer;
    border-bottom: 1px solid #f5f5f5;
    padding: 5px 20px;
}
