.expert-inner-block {
    display: flex;
}

.expert-img {
    margin: 0 5px 0 5px;
}

.expert-img .expert-icon {
    position: absolute;
    margin-top: 20px;
    margin-left: 190px;
}

.slick-center .expert-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    width: 251px;
    z-index: 1;
    margin-top: -221px;
    position: fixed;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 25px 25px;
}

.info-name {
    position: absolute;
    font-weight: 600;
    color: #fff;
    margin-top: 90px;
}

.expert-img img {
    border-radius: 25px;
    max-width: 251px;
    width: 100%;
}

.slick-slide {
    height: 300px;
}

.slick-center {
    padding-top:0;

}

.slick-center img {
    max-width: 251px;
}

.slick-dots {
    list-style-type: none;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

ul.slick-dots {
    padding: 0;
}

.slider__dots .slick-active {
    background: #2ED47A;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: url('/v4/images/dots_slider.svg');
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.slick-dots li.slick-active button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: url('/v4/images/dots_active-slider.svg');
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.our_expert_slider_btn.slick-slide{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.our_expert_slider_btn .btn {
    width: 143px;
    height: 40px;
    background:  #2ED47A;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1em;
    margin: 20px 7px;
}

.our_expert_slider_btn .btn-1 {
    width: 143px;
    height: 40px;
    background: #F3F5F7;
    color: #95A5B0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1em;
    margin: 20px 7px;
    padding: 0 !important;
}
