.displayNone {
    display: none;
}

.jsSlideItem {
    padding: 10px;
    text-align: center;
    position: relative;
}
.arrows-block{
    width: 7.5%;
    position: relative;
    z-index: 1;
    background-color: white;
}
.jsSlideItem img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
}

.jsSlideMainBlock {
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    overflow: hidden;
    margin: 20px 0;
}
.jsSlideContent {
    display: flex;
    width: 85%;
    transition: all .3s linear;
    justify-content: space-around;
}

.js-slide-btn-left {
    background: #fff url(/v4/images/prev.png) no-repeat center center;
    left: 15px;
}

.js-slide-btn-left:hover {
    background: #fff url(/v4/images/prev-hover.png) no-repeat center center;
}

.js-slide-btn-left:active {
    background: #fff url(/v4/images/prev-active.png) no-repeat center center;
}


.js-slide-btn-right {
    background: #fff url(/v4/images/next.png) no-repeat center center;
    right: 15px;
}

.js-slide-btn-right:hover {
    background: #fff url(/v4/images/next-hover.png) no-repeat center center;
}

.js-slide-btn-right:active {
    background: #fff url(/v4/images/next-active.png) no-repeat center center;
}


.js-slide-btn-left, .js-slide-btn-right {
    width: 50px;
    height: 50px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 30%;
    bottom: 60px;
    display: block;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-size:contain;
    border-radius: 50px;
}
/*.jsSlideReview {*/
/*    overflow-y: auto;*/
/*}*/
.jsSlideReview .jsSlideItem, .jsSlideContent .jsSlideItem {
    text-align: left;
}
.jsAnimateLeft {
    animation: mymoveleft 0.5s;
}

.jsAnimate {
    animation: animateBorder 2s;
}

.jsAnimateRight {
    animation: mymoveright 0.5s;
}

@keyframes mymoveleft {
    from {
        right: 0;
    }
    to {
        right: -25%;
    }
}

@keyframes mymoveright {
    from {
        left: 0;
    }
    to {
        left: -25%;
    }
}

@keyframes animateBorder {
    0% {
        border: 1px solid rgba(235, 235, 235, 0.5);
    }
    50% {
        border: 1px solid rgba(235, 235, 235, 1);
    }
    100% {
        border: 1px solid rgba(235, 235, 235, 0);
    }
}

@media only screen and (max-width: 992px) {
    .jsSlideContent {
        width: 80%;
    }
    .arrows-block{
        width: 10%;
    }

}

@media only screen and (max-width: 767px) {
    .jsSlideContent {
        width: 94%;
    }
    .arrows-block{
        width: 3%;
    }
    .js-slide-btn-left, .js-slide-btn-right {
        width: 30px;
        height: 30px;
    }

    .js-slide-btn-left {
        left: 5px;
    }

    .js-slide-btn-right {
        right: 5px;
    }
    .jsSlideItem .itext {
        max-width: unset;
    }
}

.our_expert_slider {
    margin: 30px 0;
}

.expert-img {
    margin: 0 5px 0 5px;
}

.expert-img .expert-icon {
    position: absolute;
    margin-top: 20px;
    margin-left: 190px;
}

.expert-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 223px;
    width: 251px;
    z-index: 1;
    margin-top: -221px;
    margin-left: 23px;
    position: fixed;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 25px 25px;
}

.info-name {

    font-weight: 600;
    color: #fff;
    margin-top: 90px;
}

.expert-img img {
    border-radius: 25px;
    max-width: 251px;
    width: 100%;
}

