.our_expert_slider {
    width: 920px;
}

.slick-slide {
    height: 500px;
}

.expert-wrap .shadow {
    margin: 15px;
    width: 435px;
}

.expert-inner-block {
    display: flex;
}

.expert-img {
    height: 142px;
    width: 150px;
    min-width: 150px;
    border-radius: 10px;
    margin: 15px 15px 0 15px;
}

.expert-info {
    margin: 15px 15px 15px 0;
}

.expert-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.expert__button_show {
    margin-top: 50px;
}

.prev_el {
    position: absolute;
    margin-top: 90px;
    margin-left: -70px;
    cursor: pointer;
}

.next_el {
    margin-top: -380px;
    margin-right: -80px;
    float: right;
    cursor: pointer;
}