.user-guest-form-inp {
    border-radius: 5px;
    background-color: #F7F7F7;
    padding: 0.73em 1em;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1em;
}

.user-guest-form-btn {
    width: 100%;
}

.captcha {
    margin-bottom: 15px;
    justify-content: center;
}

.user-guest-form-item-all {
    position: relative;
}

.show-pass{
    position: absolute;
    right: 5%;
    top: 0.7em;
    cursor: pointer;
    background-image: url(/v4/images/show-pass.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.hide-pass {
    position: absolute;
    right: 5%;
    top: 0.8em;
    cursor: pointer;
    width: 20px;
    height: 15px;
    background-image: url(/v4/images/hide-pass.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.remember-me-btns {
    display: inline-flex;
    width: 1.5em;
    cursor: pointer;
}
.checked-checkmark, #remember-me:checked {
    display: none;
}
#remember-me:checked + .checked-checkmark {
    display: inline-block;
    cursor: pointer;
}
.remember-me-label {
    display: inline-flex;
    align-items: center;
    padding: 0.5em 0;
    cursor: pointer;
}
#remember-me {
    cursor: pointer;
}