.switch-toggle-block {
    margin: 15px 0;
    position: absolute;
    right: 15px;
    align-items: center;
    width: 205px;
}

.switch-toggle-title {
    font-size: .87rem;
    margin-right: 17px;
}

.switch-toggle {
    align-items: center;
    padding: 1px;
}

.switch-toggle-body {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
}

.switch-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-pointer {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E1EDFF;
    border-radius: 13px;
    -webkit-transition: 0.8s;
    transition: 0.4s;
    display: flex;
    align-items: center;
    font-size: 0;
}

.slider-pointer::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    margin-left: 3px;
    background-color: #fff;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    border-radius: 50%;
}


input:checked + label .slider-pointer::before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

input:checked + label .slider-pointer {
    background: #355FF1;
}


input:checked + label .slider-pointer-on {
    border-color: #fff;
}

input:checked + label .slider-pointer-on::before {
    background-color: #fff;
}

@media screen and (max-width: 992px) {
    .switch-toggle-block {
        margin-top: -40px;
    }

}