.modal-block {
    font-size: 1rem;
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    background: #fff;
    padding: 5% 0;

}

.modal-block .h2{
    margin: 0;
}

.modal-block.open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    z-index:1111;
}

.modal-content {
    padding: 16px;
}

.modal-close {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}

.modal-content .modal-block-container .modal-form {
    width: 100%;
    margin: 20px auto;
}

.modal-content .modal-block-container .modal-form__input {
    height: 40px;
    margin: 10px 0;
}

.modal-content .modal-block-container textarea {
    height: 232px;
    resize: none;
    margin-top: 20px;
}

.modal-content .modal-block-container .modal-form__input,
.modal-content .modal-block-container textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    outline: none;
    border: 1px solid #E5E5E5;
}


.modal-content .modal-block-container textarea {
    height: 135px;
    resize: none;
    margin-top: 20px;
    border-radius: 5px;
}

.modal-content .modal-block-container .modal-form__input::-webkit-input-placeholder,
.modal-content .modal-block-container textarea::-webkit-input-placeholder{
    color: #888;
}

.modal-content .modal-block-container textarea:focus,
.modal-content .modal-block-container input:focus {
    background: #fff;
    border: 1px solid #000;
}

.modal-btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
