.employee-quote-body {
    padding: 25px 35px;
    filter: drop-shadow(0px 6px 20px rgba(135, 145, 159, 0.15));
}

.employee-quote-body::after {
    content:url("/v4/images/Polygon.svg");
    position: absolute;
    right: 30px;
    margin-top: 15px;
}

.employee-quote-info {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin: 60px 0;
}

.employee-info a{
    font-weight: 600;
    display: block;
}

.employee-logo {
    margin-left: 10px;
}
.employee-logo img {
    border-radius: 50%;
}