.vertical-tab-container {
    margin: 30px 0;
}

.vertical-tab-container .tab {
    display: flex;
    align-items: flex-start;
    padding: 15px 20px;
    overflow: auto;
}

.vertical-tab-container .tab::-webkit-scrollbar {
    height: 0;
}

.vertical-tab-container .tab .tab-links {
    cursor: pointer;
    margin-right: 25px;
    padding: 10px 10px;
    transition: 0.3s;
    font-weight: 600;
    white-space: nowrap;
}

.vertical-tab-container .tab .tab-links.on {
    color: #2ED47A;
    border-bottom: 2px solid  #2ED47A;
}

.vertical-tab-container .tabs-items .tab-content {
    padding: 10px 20px;
}



.vertical-tab-container .tabs-items .tab-content{
    display: none;
}

.vertical-tab-container input{
    display: none;
}

.vertical-tab-container input:checked + .tab-content{
    display: block;
}

