.accordion {
    margin-top: 15px;
    background-color: #fff;
    font-weight: 700;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accordion svg {
    stroke: #222735;
    fill:  #222735;
    transform: rotate(-90deg);
    margin-right: 10px;
}

.accordion:hover,
.accordion.active{
    color: #2ED47A;
}

.accordion:hover svg {
    fill: #2ED47A;
    stroke: #2ED47A;
}

.accordion.active svg {
    transform: rotate(0deg);
    fill: #2ED47A;
    stroke: #2ED47A;
}


.set > button{
    display: block;
    padding: 25px 20px 25px 30px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 20px;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

.panel {
    position:relative;
    width: 100%;
    font-size: 18px;
    height: auto;
    background-color: #fff;
    display:none;
    padding: 0 40px;
}

.panel ul {
    padding: 0;
}
.vertical-tab-support .vertical-inner-title {
    font-size: 1.1em;
    font-weight: 600;
}

.vertical-tab-support .vertical-body {
    margin-top: 17px;
    margin-bottom: 20px;
}

 .vertical-tab-support .vertical-body .vertical-body-info .info_el {
    margin-top: 1em;
}

 .vertical-tab-support .vertical-body .vertical-body-info .info_el:first-of-type {
    width: 30%;
}

.vertical-tab-support .table .vertical-body-info .info_el:last-of-type {
    width: 70%;
}


.vertical-tab-support .vertical-soc-icon {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vertical-soc-icon svg {
    margin-right: 20px;
}

.vertical-tab-support .vertical-body .vertical-body-info {
    display: flex;
}

.vertical-tab-support .vertical-address {
    margin-top: 15px;
}

.vertical-tab-support .vertical-map {
    margin-top: 15px;
}

.table {
    width: 100%;
    margin-bottom: 0;
}

.table .tr {
    display: flex;
    justify-content: space-between;
}

.table .tr .td {
    font-size: .87em;
    padding: 8px 20px;
    line-height: 1.5em;
}


.table .tr .td:first-of-type {
    width: 45%;
    background: #F6F7F9;
    font-weight: 600;
}

.table .tr .td:last-of-type {
    width: 55%;
}
