.vertical-tab-container {
    display: flex;
}

.vertical-tab-wrap {
    display: flex;
    border: 1px solid #DCE4EC;
    min-width: 790px;
}

.vertical-tab-container .vertical-tab {
    border-right: 1px solid #DCE4EC;
}

.vertical-tab-container .vertical-tab::-webkit-scrollbar {
    height: 0;
}

.vertical-tab-container .vertical-tab .vertical-tab-links {
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
}

.vertical-tab-container .vertical-tab .vertical-tab-links:first-of-type {
    border-radius: 10px 0 0 0;
}
.vertical-tab-container .vertical-tab .vertical-tab-links.on {
    color: #355FF1;
    background: #F4F7FB;
}

.vertical-tab-container .vertical-tabs-items .vertical-tab-content.on {
    display:block;
    padding: 15px 23px;
}

.vertical-tab-container .vertical-tabs-items .vertical-tab-content {
    display: none;
}
