.vertical-tab-container {
    width: 1110px;
    margin: 30px 0 30px -160px;
}

.vertical-tab-container .tab {
    margin-top: 20px;
    display: flex;
    overflow: auto;
    padding: 15px 60px 15px 60px;
}

.vertical-tab-container .tab::-webkit-scrollbar {
    height: 0;
}

.vertical-tab-container .tab .tab-links {
    text-align: center;
    cursor: pointer;
    margin: 0 25px;
    padding: 10px 10px;
    transition: 0.3s;
    font-weight: 600;
    white-space: nowrap;
}

.vertical-tab-container .tab .tab-links.on {
    color: #355FF1;
    border-bottom: 2px solid  #355FF1;
}

.vertical-tab-container .tabs-items .tab-content.on {
    display:block;
    margin: 30px 0 30px 110px;
}

.vertical-tab-container .tabs-items .tab-content {
    display: none;
}
