.vertical-tab-container {
    width: 1110px;
    margin: 30px 0 30px -160px;
}

.tab-wrap {
    display: flex;
    flex-direction: row;
}

.tab {
    overflow: hidden;
    padding: 20px;
}

.tab .tab-links {
    padding: 16px;
    cursor: pointer;
    font-weight: 600;
}

.tab .tab-links svg {
    stroke: #222735;
    fill:  #222735;
    transform: rotate(-90deg);
    margin-right: 10px;
}

.tab .tab-links.on {
    color: #2ED47A;
}

.tab .tab-links.on svg {
    transform: rotate(0deg);
    fill: #2ED47A;
    stroke: #2ED47A;
}

.tabs-items {
    margin-right: -180px;
}

.tabs-items .tab-content.on {
    display:block;
    margin-left: 50px;
    width: 622px;
}

.tabs-items .tab-content {
    display: none;
    padding: 15px;
}

.tabs-items .tab-content p {
    font-weight: 600;
}



