.reviews .h2{
    margin-bottom: 30px;
}
.review-block {
    padding-bottom: 2em;
}
.review-slider{
    overflow-y: auto;
}


.review-inner-block {
    padding: 30px 15px;
    flex-shrink: 0;
    height: 100%;
    width: 260px;
    margin-right: 16px;
    background: #fff;
}

.rating-company-name {
    font-weight: 600;
    font-size: 1rem;
}

.review-info .review-name {
    font-weight: 600;
    display: block;
}

.review-content {
    height: 200px;
    overflow-y: auto;
}

.review-content::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
    height: 21px;
}
.background-2 .review-content::-webkit-scrollbar {
    background-color: #fff;
}
.review-content:hover::-webkit-scrollbar-thumb {
    background: rgba(135, 145, 159, 0.4);
    border-radius: 3px;
}

.review__button_show {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 33px;
}
.review-name {
    font-size: 0.9375rem;
}
.review-info {
    font-size: 0.9375rem;
}