.review-block .h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.review-inner-block {
    max-height: 360px;
    padding: 30px;
}
.background-2 .review-inner-block {
    background: #fff;
}

.review-rating {
    text-align: center;
}

.rating-company-name {
    margin-bottom: 17px;
    font-weight: 600;
}

.review-info .review-name {
    font-weight: 600;
    margin-top: 10px;
}

.review-content {
    margin-top: 13px;
    height: 200px;
    overflow-y: auto;
}

.review-content::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
    height: 21px;
}
.background-2 .review-content::-webkit-scrollbar {
    background-color: #F3F8FF;
}
.review-content:hover::-webkit-scrollbar-thumb {
    background: rgba(135, 145, 159, 0.4);
    border-radius: 3px;
}

.review__button_show {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 33px;
}