/*слайдер эксперты*/
.expert-inner-block {
    min-height: 200px;
}

.expert-img {
    min-width: 170px;
    border-radius: 10px;
    margin-right: 15px;
}

.expert-info {
    margin: 15px 15px 15px 0;
    font-size: 1rem;
}

.expert-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.expert-btn-wrap {
    margin: 0 0 65px;
    align-items: center;
    justify-content: center;
}
/* слайдер СМИ*/

.smi-block {
    padding: 75px 0 100px;
}

.smi-block .h2 {
    margin: 0 0 55px;
}

.smi-inner-block .smi-content {
    margin: 15px 0 25px;
}
.smi-inner-block a {
    font-weight: 600;
}

.smi-inner-block{
    padding: 30px;
    background: #fff;
}

.jsSlideItem .smi-info .smi-img {
    margin: unset;
}

/*слайдер новости*/

.news-block {
    padding: 80px 0;
}

.news-block .h2 {
    margin-bottom: 30px;
}

.news-slider .news-title {
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    color: #000000;
    margin: 15px 0 25px;
}

.news-slider .news-label {
    background: #F6F8FB;
    border-radius: 3px;
    padding: 0.5em 1em;
}

.news-slider .news-date {
    color: #95A5B0;
    font-size: 0.8rem;
    margin-top: 3em;
}

.news-slider .news-inner-block{
    padding: 30px;
    height: 300px;
    background: #fff;
}

.news-block .btn {
    margin: 0 auto;
}

/*слайдер статьей*/
.articles-block .h2 {
    margin-bottom: 30px;
}
.article-inner-block .article-content {
    margin: 15px 0 25px;
}
.article-content {
    font-weight: 600;
    font-size: 1.2rem;
}
.article-title {
    background: #F6F8FB;
    border-radius: 3px;
    padding: 0.5em 1em;
}
.article-date {
    color: #95A5B0;
    font-size: 0.8rem;
    margin-top: 3em;
}
.article-inner-block{
    background: #fff;
    padding: 30px;
}


/*слайдер вебинаров*/

.webinar-date {
    color: #95A5B0;
    font-size: 0.8rem;
    margin-top: 3em;
    display: flex;
    align-items: center;
}

.webinar-date svg {
    margin-right: 10px;
}
.webinar-inner{
    background: #fff;
    border-radius: 15px;
    padding-bottom:1px;
}

.webinar-img {
    overflow: hidden;
    display: block;
    border-radius: 15px 15px 0 0;
}

.webinar-img img {
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    -webkit-transition: transform 1s;
}

.webinar-img img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.webinar-slider h5 {
    margin-bottom: 30px;
    color:#000 !important;
}

.webinar-info {
    margin: 20px 30px 30px 30px;
    display: block;
}

/*наши преимущества*/

.our-benefit-item-inner,
.our-security-item-inner{
    padding: 25px 65px 45px;
    background: #fff;
}

.our-benefit-item ,
.our-security-item{
    width: 66%;
}

.our-benefits-img,
.our-securities-img{
    width:33%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
