.content-menu-block {
    padding: 15px 0 0;
    margin-bottom: 15px;
}
.content-menu-block .h4,.content-menu-block .h5{
    margin: 0 0 0 15px;
}

ol.content-menu{
    list-style-type: none;
    padding-left: 0;
    margin: 5px 0 0;
    padding-bottom: 10px;
}

ol.content-menu li {
    font-size: .9375rem;
    margin-top: 0;
    position: relative;
    padding: 5px 15px;
}

.content-menu li:hover {
    background: #fff;
}

.content-menu:first-of-type {
    counter-reset: mycounter;
}

.content-menu li:before {
    content: counter(mycounter)". ";
    counter-increment: mycounter;
    color: #355FF1;
}

.decimal-none li:before {
    content: none;
}

.show-more-btn {
    font-weight: 400;
    border-radius: 0;
    border-top: 1px solid #E5E5E5;
    padding-top: 10px;
    height: 45px;
    margin-top: 10px;
}

.show-more-btn svg {
    margin-left: 5px;
}