.content-menu-block {
    padding: 22px 12px;
}

.content-menu-block .h5{
    margin: 0 0 0 12px;
}

.content-menu{
    list-style-type: none;
    padding-left: 0 !important;
}

.content-menu li {
    margin-top: 0 !important;
    position: relative;
    padding: 9px 12px;
}

.content-menu li:hover {
    background: #fff;
}

.content-menu:first-of-type {
    counter-reset: mycounter;
}

.content-menu li:before {
    content: counter(mycounter)". ";
    counter-increment: mycounter;
    color: #355FF1;
}
