.content-menu-wrap {
    position:absolute;
    top: 0;
    right: 90px;
}

.content-menu-inner {
    position: fixed;
}

.content-menu-wrap .h2 {
    font-weight: 600;
    margin: 0;
}

.content-menu-btn {
    text-align: right;
    cursor: pointer;
    position: fixed;
}

.close-content-menu-btn {
    text-align: right;
    cursor: pointer;
}

.close-content-menu-btn svg:hover circle {
    fill: #FF4E59;
}

.content-menu-wrap .content-menu-inner .content-menu-btn:hover svg {
    display: none;
}

.content-menu-wrap .content-menu-inner .content-menu-btn:hover {
    content: url("/v4/images/content-icon.svg");
    float: right;
    margin-right: -5px;
}

.content-menu-list {
    margin-left: -350px;
    padding: 35px;
    background: #fff;
    max-width: 400px;
}

.content-menu {
    list-style-type: none;
    padding: 0;
}

.content-menu:first-of-type {
    counter-reset: mycounter;
}

.content-menu li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
}

.content-menu li::before {
    position: absolute;
    font-size: 0.7rem;
    width: 19px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    display: inline-block;
    background: #2ED47A;
    color: #fff;
    border-radius: 50%;
    counter-increment: mycounter;
    content: counter(mycounter) "";
    vertical-align: 2px;
    left: 0;
}

.content-menu a {
    color: #87919F !important;
}

.content-menu a:hover {
    color: #2ED47A !important;
}

.content-menu-hidden-block {
    margin: 70px -50px 0 0;
}