.best-proposal-block {
    min-height: 380px;
    position: relative;
}

.best-proposal-block .card-mini-radio {
    display: none;
}
.best-proposal-block .tab-wrap {
    margin-top: 20px;
    align-items: center;
    padding: 15px 0;
    width: 100%;
    overflow-x: scroll;
}

.best-proposal-block .tab-wrap::-webkit-scrollbar {
    width: 0;
}

.best-proposal-block .tab-links {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    margin-right: 20px;
    padding: 5px 0;
    transition: 0.3s;
    font-weight: 600;
    color: #888888;
    white-space: nowrap;
}

.card-mini-radio:checked + label .tab-links {
    color: #000;
}

.best-proposal-block .tab-content {
    display: none;
}

.best-proposal-block .card-mini-radio:nth-of-type(1):checked ~ .tabs-items .tab-content:nth-of-type(1),
.best-proposal-block .card-mini-radio:nth-of-type(2):checked ~ .tabs-items .tab-content:nth-of-type(2),
.best-proposal-block .card-mini-radio:nth-of-type(3):checked ~ .tabs-items .tab-content:nth-of-type(3),
.best-proposal-block .card-mini-radio:nth-of-type(4):checked ~ .tabs-items .tab-content:nth-of-type(4),
.best-proposal-block .card-mini-radio:nth-of-type(5):checked ~ .tabs-items .tab-content:nth-of-type(5),
.best-proposal-block .card-mini-radio:nth-of-type(6):checked ~ .tabs-items .tab-content:nth-of-type(6),
.best-proposal-block .card-mini-radio:nth-of-type(7):checked ~ .tabs-items .tab-content:nth-of-type(7),
.best-proposal-block .card-mini-radio:nth-of-type(8):checked ~ .tabs-items .tab-content:nth-of-type(8){
    display: block;
    margin: 15px 0;
    width: 100%;
}

.best-proposal-block .tabs-items {
    position: absolute;
    width: calc(100% + 15px);;
    height: 300px;
    top: 50px;
    left: 0;
    z-index: 111;
}

.best-proposal-block .tabs-content::-webkit-scrollbar {
    width: 0;
}

.best-proposal-block .tabs-items .card-minimal {
    padding-top: 0;
}