.command-inner-block {
    margin: 30px 0;
}

.our_command_slider {
    margin: 30px 0;
}

.command-img-bg-bl {
    margin: 0 auto;
    position: relative;
    height: 291px;
    width: 251px;
}
.command-img-bg-bl:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 25px;
}

.command-img-bg-bl .command-icon {
    position: relative;
    margin: -220px 0 0 190px;
    z-index: 3;
}

.command-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
    border-radius: 0 0 25px 25px;
    z-index:5;
}

.info-name {
    position: absolute;
    font-weight: 600;
    color: #fff;
    margin-top: 110px;
}

.info-post {
    position: absolute;
    color: #fff;
    margin-top: 160px;
}

.modal-command-team {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -9999px;
    bottom: -9999px;
    background: rgba(55, 56, 61, 0.23);
    padding: 20% 0 0 0;
}

.modal-command-team.open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s;
    z-index:5;
}

.modal__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.modal-block-container .modal-img {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.modal-block-container .modal-img svg {
    position: relative;
    margin-left: -20px;
}

.modal-block-container .modal-info {
    margin-top: 22px;
}

.modal-block-container .modal-info .modal-name {
    text-align: center;
    font-weight: 600;
}

.modal-block-container .modal-info .modal-description {
    margin-top: 15px;
}

.modal-block-container .modal-info .modal-email {
    margin-top: 35px;
}


