.our_command_slider {
    width: 1110px;
    margin: 30px 0 30px -160px;
}

.command-inner-block {
    display: flex;
    min-height: 200px;
    margin: 15px;
}

.command-img {
    height: 142px;
    width: 150px;
    min-width: 150px;
    border-radius: 10px;
    margin: 15px 15px 0 15px;
}

.command-img .command-icon {
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
}

.command-info {
    margin: 15px 15px 15px 0;
}

.command-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.command-email {
    position: relative;
    top: 20px;
    margin-right:70%;
    color: #95A5B0;
}

.command__button_show {
    margin-top: 70px;
}

.command__button_hide .prev-btn{
    margin-top: -10px;
    float: right;
    display: flex;
    justify-content: flex-end;
    vertical-align: bottom;
    cursor: pointer;
}
