.breadcrumbs {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #E8EEF6;
    border-bottom: 1px solid #E8EEF6;
}

.breadcrumbs a,
.breadcrumbs a:visited {
    color: #222735;
}

.breadcrumbs svg {
    margin: 0 10px;
}

.kb_title {
    color: #87919F;
}



